﻿/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* DataTables features
*/
.dataTables_wrapper {position: relative;min-height: 302px;clear: both;_height: 302px;zoom: 1; /* Feeling sorry for IE */}
.dataTables_processing {position: absolute;top: 50%;left: 50%;width: 250px;height: 30px;margin-left: -125px;margin-top: -15px;padding: 14px 0 2px 0;border: 1px solid #ddd;text-align: center;color: #999;font-size: 14px;background-color: white;}
.dataTables_length {width: 40%;float: left;}
.dataTables_filter {width: 50%;float: right;text-align: right;}
.dataTables_info {width: 60%;float: left;}
.dataTables_paginate {width: 44px;* width: 50px;float: right;text-align: right;}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {height: 19px;width: 19px;margin-left: 3px;float: left;}
.paginate_disabled_previous {background-image: url('../../images/back_disabled.jpg');}
.paginate_enabled_previous {background-image: url('../../images/back_enabled.jpg');}
.paginate_disabled_next {background-image: url('../../images/forward_disabled.jpg');}
.paginate_enabled_next {background-image: url('../../images/forward_enabled.jpg');}



.cal_table{font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size: 11px;width: 100%;text-align: left;border-collapse: collapse; border: 1px solid #e8edff;}
.cal_table th{font-size: 12px;font-weight: normal;padding: 6px 7px;color: #eff2ff; text-align:center;background:#3B4E6F;}
.cal_table td{padding: 5px 10px;color: #669;border-top: 1px solid #e8edff; border-right: 1px solid #e8edff;}
.cal_table td.left{text-align:left;}
.cal_table td.center{text-align:center;}
.cal_table td.right{text-align:right;}
.cal_table tr:hover td{color: #339;background: #eff2ff;}

/*column groups*/
.col_first{	background: #d0dafd; width:150px;}
.col_second{background: #EFF2FF; width:70px;}
.col_today{background-color:#ffffcc;}


/*.cal_head{background-color:#ccc;}
.cal_head td{font-weight:bold;}          
td.rooms{width:200px; text-align:center;}
td.beds{width:70px; text-align:center;}
.cal_table{border-collapse:collapse;}
.cal_table td, .cal_table th{padding:5px; border:1px solid #515151; text-align:center; }     
.cal_table td.today {background-color:#ffffcc;}
.cal_table td.weekend{background-color:#f8ebec;}
.cal_table td.today_weekend {background-color:#F2C78C;}*/