	<!--Date-->	
    <!--Update top:144px; to top:244px; for sivananda-->
	<div style="position:absolute;left:564px; top:244px; height:27px; width:169px; padding:5px;border:solid;border-width:thin;
	border-bottom:none;	vertical-align:middle;"><font style="font:Verdana;font-size:14px;" ><!--~Date~--></font></div>
    <!--DocumentNo--> <!--Update top:182px; to top:282px; for sivananda-->
	<div style="position:absolute; left:564px; top:282px; height:40px; width:169px; padding:5px;border:solid;border-width:thin;"><font style="font:Verdana;font-size:14px;" ><!--~Doc-No~--><br/><!--~Cust-Acronym~--></font></div>
	
	
	<!--BillToTitle-->
	<div style="position:absolute; top:232px; height:12px; width:324px; padding:1em; margin-left:5px; left: 1px;"><font style="font:Verdana;font-size:14px;" ><b><!--~Bill-To~--></b></font></div>
	<!--BillToAddress-->
	<div style="position:absolute; top:277px; height:150px; width:324px; padding:1em; border:solid; border-width:thin; margin-left:5px; left: 1px;"><font style="font:Verdana;font-size:14px;" ><!--~BillTo-Address~--></font></div>
	
	<!--ShipToTitle-->
	<div style="position:absolute; left:387px; top:232px; height:12px; width:324px; padding:1em;display:none;"><font style="font:Verdana;font-size:14px;" ><b><!--~Ship-To~--></b></font></div>
	<!--ShipToAddress-->
	<div style="position:absolute; left:387px; top:277px; height:150px; width:324px; padding:1em;border:solid;border-width:thin;display:none;"><font style="font:Verdana;font-size:14px;" ><!--~ShipTo-Address~--></font></div>