	<!--Date-->	
    <!--Update top:124px; to top:249px; for sivananda-->
	<div style="position:absolute;left:500px; top:249px; height:20px; width:239px; padding:2px;border:solid;border-width:thin;
	border-bottom:none;	vertical-align:middle;"><font style="font:Verdana;font-size:14px;" ><!--~Date~--></font></div>
    <!--DocumentNo--><!--Update top:149px; to top:274px; for sivananda-->
	<div style="position:absolute; left:500px; top:274px; height:65px; width:239px; padding:2px;border:solid;border-width:thin;"><font style="font:Verdana;font-size:14px;" ><!--~Doc-No~--><br/><!--~Order-No~--><br/><!--~Customer-Name~--></font></div>
	<!--InvoiceNo--><!--Update top:219px; to top:344px; for sivananda-->
	<div style="position:absolute; left:500px; top:344px; height:40px; width:239px; padding:2px;border:solid;border-width:thin;"><font style="font:Verdana;font-size:14px;" ><!--~Invoice-No~--></font></div>
		
	<!--BillToTitle-->
	<div style="position:absolute; top:232px; height:12px; width:324px; padding:1em; margin-left:5px; left: 1px;"><font style="font:Verdana;font-size:14px;" ><b><!--~Bill-To~--></b></font></div>
	<!--BillToAddress-->
	<div style="position:absolute; top:277px; height:150px; width:324px; padding:1em; border:solid; border-width:thin; margin-left:5px; left: 1px;"><font style="font:Verdana;font-size:14px;" ><!--~BillTo-Address~--></font></div>
	
     <!--Following Html is set to dispaly none for now By Hitendra ON 16th Feb 2012-->
	<!--ShipToTitle-->
	<div style="position:absolute; left:387px; top:232px; height:12px; width:324px; padding:1em;display:none;"><font style="font:Verdana;font-size:14px;" ><b><!--~Ship-To~--></b></font></div>
	<!--ShipToAddress-->
	<div style="position:absolute; left:387px; top:277px; height:150px; width:324px; padding:1em;border:solid;border-width:thin;display:none;"><font style="font:Verdana;font-size:14px;" ><!--~ShipTo-Address~--></font></div>