<div style="width:750px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="70%">
		<!--CompanyLogo-->
		<div style="width:100%;left:0px; top:0px; height:75px; width:100%;padding:0.5em;text-align:left;vertical-align:middle;"><!--~Company_Logo~--></div> </td>
    <td width="30%">	
		<!--DocumentType-->
		<div style="top:0px; height:75px; width:100%; padding-right:20px;text-align:right;font:Tahoma;font-size:22px;"><b><!--~Doc_Type~--></b></div></td>
  </tr>
  <tr>
    <td>	
		<!--CompanyAddress-->
		<div style="top:0px; height:120px; width:100%;padding:0.5em;"><font style="font:Tahoma;font-size:14px;" >		<!--~Company_Address_Line1~--><br/>
		<!--~Company_Address_Line2~--><br/>
		<!--~Company_Address_Line3~--><br/>
		<!--~Company_Phone~--><br/>
		<!--~Company_Fax~--><br/>
		<!--~Company_URL~-->
		</font>
		</div>
	</td>
    <td>
		<!--DocumentTypeDetail-->
		<div style="left:20px;top:0px; height:120px; width:100%;">
			<div style="top:0px;text-align:left; height:15px; width:100%;padding:0.2em;"><font style="font:Tahoma;font-size:14px;" ><b><!--~Label_Doc_Date~--></b>&nbsp;<!--~Doc_Date~--></font></div>
			<div style="text-align:left; height:15px; width:100%;padding:0.2em;"><font style="font:Tahoma;font-size:14px;" ><b><!--~Label_Doc_Number~--></b>&nbsp;<!--~Doc_Type_Number~--></font>			</div>
			<div style="text-align:left; height:15px; width:100%;padding:0.2em;"><font style="font:Tahoma;font-size:14px;" ><b><!--~Label_Doc_Ref_Number~--></b>&nbsp;<!--~Doc_Ref_Number~--></font>			</div>
			<div style="text-align:left; height:15px; width:100%;padding:0.2em;"><font style="font:Tahoma;font-size:14px;" ><b><!--~Label_Doc_Terms~-->:</b>&nbsp;<!--~Doc_Terms~--></font>			</div>
		</div>
	</td>
  </tr>
  <tr style="min-height:150px;">
    <td colspan="2">
	<table width="100%" cellpadding="1" cellspacing="1">
		<tr>
	  		<td width="67%">
			<!--BillToTitle-->
			<div style="top:0px; height:15px; width:100%; padding:5px;"><font style="font:Verdana;font-size:14px;" ><b><!--~Label_Bill_To~--></b></font></div>
			<!--BillToAddress-->
			<div style=" top:0px; height:150px; width:100%; padding-left:5px; "><font style="font:Verdana;font-size:14px;" ><!--~BillTo_Address~-->
			</font></div>
			</td>
			<td width="33%">
			<!--ShipToTitle-->
		<div style="height:15px; width:100%; padding:5px;text-align:left;"><font style="font:Verdana;font-size:14px;"><b><!--~Label_Ship_To~--></b></font></div>
	<!--ShipToAddress-->
		<div style="top:0px; height:150px; width:100%; padding-left:5px;text-align:left;"><font style="font:Verdana;font-size:14px;"><!--~ShipTo_Address~-->
		</font></div>
			</td>
	   	</tr>
	</table>
	</td>
  </tr>
  <tr>
   <td colspan="2"></td>
  </tr>
  <tr>
  	<td colspan="2">
		<!--ItemsDetail-->
		<table width="100%" border="0" cellspacing="0" cellpadding="2">
		  <thead >
			<th scope="col" style="width:50%;border:thin;border-style:solid;min-height:18px;"><!--~Label_Item_Description~-->	     </th>
			<th scope="col" style="width:25%;border:thin;border-style:solid;min-height:18px;"><!--~Label_Item_Purchaser~--></th>
			<th scope="col" style="width:25%;border:thin;border-style:solid;min-height:18px;"><!--~Label_Item_Amount~--></th>
		  </thead>
		  <tbody style="vertical-align:text-top;">
		  	<!--~Items_Detail_Rows~-->
		  </tbody>
			<tfoot>
			<tr>
			<td>&nbsp;<!--~Label_Terms~--></td>
			<td style="text-align:right;padding-right:8px">&nbsp;<!--~Label_Subtotal~--></td>
			<td style="border:thin;border-style:solid;text-align:right;">&nbsp;<!--~Subtotal_Amount~--></td>
		  </tr>
		  <tr>
		  	<td rowspan="6">
				<!--Terms-->
				<div style="top:0px;height:120px; width:100%; padding:5px;"><font style="font:Verdana;font-size:14px;" ><!--~Terms~--></font></div>
			</td>
			<td style="text-align:right;padding-right:8px">&nbsp;<!--~Label_Interest~--></td>
			<td style="border:thin;border-style:solid;text-align:right;">&nbsp;<!--~Interest_Amount~--></td>
		  </tr>
		<!--~Tax_Details~-->
		   <tr>
			<td colspan="2">&nbsp;</td>
		  </tr>
		   <tr>
			<td style="text-align:right;padding-right:8px">&nbsp;<!--~Label_Total~--></td>
			<td style="border:thin;border-style:solid;text-align:right;">&nbsp;<!--~Total_Amount~--></td>
		  </tr>
		    <tr>
			<td colspan="2">&nbsp;</td>
		  </tr>
		</tfoot>
	  </table>
	</td>
  </tr>
  <tr>
  	<td colspan="2">&nbsp;</td>
  </tr>
  <!-- <tr>
  	<td colspan="2">&nbsp;</td>
  </tr>-->
  <tr>
  	<td colspan="2" style="text-align:center;"><!--~Label_Msg_ThankYouForYourBusiness~--></td>
  </tr>
  <!--<tr>
  	<td colspan="2">&nbsp;</td>
  </tr>-->
  <tr>
	<td colspan="2"><!--~Label_Msg_MakeAllCecksPayble~--></td>
  </tr>
  <tr>
  <td colspan="2"><table width="70%" cellspacing="0" cellpadding="2">
  	<thead>
    <tr>
      <th scope="col" style="width:20%;border-left:1px;border-top:1px;border-left-style:solid;border-top-style:solid;">&nbsp;<!--~Label_Payment_Form~--></th>
      <th scope="col" style="width:12.5%;border-top:1px;border-top-style:solid;">&nbsp;<!--~Label_Visa~--></th>
      <th scope="col" style="width:12.5%;border-top:1px;border-top-style:solid;">&nbsp;<!--~Label_Mastercard~--></th>
      <th scope="col" style="width:12.5%;border-top:1px;border-top-style:solid;">&nbsp;<!--~Label_Check~--></th>
      <th scope="col" style="width:12.5%;border-right:1px;border-top:1px;border-right-style:solid;border-top-style:solid;">&nbsp;<!--~Label_MoneyOrder~--></th>
    </tr>
	</thead>
	<tbody >
    <tr>
      <td style="min-height:25px;border:1px;border-color:#000000;border-style:solid;" colspan="5">&nbsp;<br />
        <!--~Label_Card_Number~-->
        ></td>
    </tr>
    <tr>
       <td style="min-height:25px;border:1px;border-color:#000000;border-style:solid;" colspan="5"><br /><!--~Label_Expiry_Date~-->></td>
    </tr>
    <tr>
   		<td  style="min-height:25px;border:1px;border-color:#000000;border-style:solid;" colspan="5"><br /><!--~Label_Zip_Code~-->></td>
    </tr>
    <tr>
     <td style="min-height:25px;border:1px;border-color:#000000;border-style:solid;"  colspan="5"><br />&nbsp;<!--~Label_Signature~-->></td>
    </tr>
	</tbody>
  </table></td>
	</tr>
	<tr>
	<td align="center" colspan="2"><!--~Label_Duplicate~--></td>
	</tr>
</table>
</div>
