<div style="width:750px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="70%">
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="30%" valign="top">
				<!--CompanyLogo-->
				<div style="width:100%;left:0px; top:0px; height:75px; width:100%;padding:0.5em;text-align:left;vertical-align:middle;"><!--~Company_Logo~--></div>
			</td>
			<td width="70%">
			<!--CompanyAddress-->
			<div style="top:0px; height:120px; width:100%;padding:0.5em;"><font style="font:Tahoma;font-size:14px;" >		<!--~Company_Address_Line1~--><br/>
		<!--~Company_Address_Line2~--><br/>
		<!--~Company_Address_Line3~--><br/>
		<!--~Company_Phone~--><br/>
		<!--~Company_Fax~--><br/>
		<!--~Company_URL~-->
		</font>
		</div>
			</td>
		</tr>
	</table>	
		 </td>
    <td width="30%">
	<!--DocumentTypeDetail-->
		<table width="100%" border="0" cellpadding="0" cellspacing="0"> 
		<tr>
			<td colspan="2">
			<!--DocumentType-->
		<div style="top:0px; height:40px; width:100%;text-align:right;font:Tahoma;font-size:22px;"><b><!--~Doc_Type~--></b></div>
			</td>
		</tr>
		<tr>
		<td colspan="2">
		<table width="100%" border="1" cellpadding="2" cellspacing="0" >
			<tr>
				<td width="50%" style="text-align:center;">&nbsp;<!--~Label_Doc_Date~--></td>
				<td width="50%" style="text-align:center;">&nbsp;<!--~Label_Doc_Number~--></td>
			</tr>
			<tr>
				<td style="text-align:center;">&nbsp;<font style="font:Tahoma;font-size:14px;" ><!--~Doc_Date~--></font></td>
				<td style="text-align:center;">&nbsp;<font style="font:Tahoma;font-size:14px;" ><!--~Doc_Type_Number~--></font></td>
			</tr>
			</table>
		</td>
		</tr>
		
		</table>
		</td>
  </tr>
 
  <tr style="min-height:150px;">
    <td colspan="2">
	<table width="100%" cellpadding="1" cellspacing="1">
		<tr>
	  		<td width="60%">
			<!--BillToTitle-->
			<div style="top:0px; height:20px; width:350px;padding-left:5px; padding-bottom:5px; border:solid;border-width:thin;"><font style="font:Verdana;font-size:14px;" ><b><!--~Label_Bill_To~--></b></font></div>
			<!--BillToAddress-->
			<div style=" top:0px; height:150px; width:350px; padding-left:5px;border:solid;border-width:thin;border-top:none; "><font style="font:Verdana;font-size:14px;" ><!--~BillTo_Address~-->
			</font></div>
			</td>
			<td width="40%">
			<!--ShipToTitle-->
		    <div style="top:0px; height:20px; width:300px;padding-left:5px; padding-bottom:5px; border:solid;border-width:thin;"><font style="font:Verdana;font-size:14px;"><b><!--~Label_Ship_To~--></b></font></div>
	        <!--ShipToAddress-->
		    <div style=" top:0px; height:150px; width:300px; padding-left:5px;border:solid;border-width:thin;border-top:none; "><font style="font:Verdana;font-size:14px;"><!--~ShipTo_Address~-->
		    </font></div>		
			</td>
	   	</tr>
	</table>
	</td>
  </tr>
  <tr>
   <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
   <td colspan="2">
   		<table width="100%" border="1" cellspacing="0" cellpadding="2">
		  <tr>
			<th scope="col" style="width:20%;min-height:20px;padding-bottom:5px;text-align:center;"><!--~Label_PO_NO~--></th>
			<th scope="col" style="width:15%;min-height:20px;padding-bottom:5px;text-align:center;"><!--~Label_Ship_Terms~--></th>
			<th scope="col" style="width:15%;min-height:20px;padding-bottom:5px;text-align:center;"><!--~Label_Rep~--></th>
			<th scope="col" style="width:15%;min-height:20px;padding-bottom:5px;text-align:center;"><!--~Label_Ship_Date~--></th>
			<th scope="col" style="width:15%;min-height:20px;padding-bottom:5px;text-align:center;"><!--~Label_Ship_Via~--></th>
			<th scope="col" style="width:20%;min-height:20px;padding-bottom:5px;text-align:center;"><!--~Label_Dept_No~--></th>
		  </tr>
		  <tbody style="vertical-align:text-top; text-align:center;"> 
		  	<tr >
				<td style="padding-bottom:8px;">&nbsp;<!--~Doc_Ref_Number~--></td>
				<td style="padding-bottom:8px;">&nbsp;<!--~Ship_Terms~--></td>
				<td style="padding-bottom:8px;">&nbsp;<!--~REP~--></td>
				<td style="padding-bottom:8px;">&nbsp;<!--~Ship_Date~--></td>
				<td style="padding-bottom:8px;">&nbsp;<!--~Ship_Via~--></td>
				<td style="padding-bottom:8px;">&nbsp;<!--~Dept_No~--></td>
			</tr>  
		  </tbody>
		  </table>
	  </td>
  </tr>
  <tr>
  	<td colspan="2">
		<!--ItemsDetail-->
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr >
			<th scope="col" style="width:30%;border:thin;border-style:solid;min-height:20px;padding-bottom:5px;padding-top:5px;"><!--~Label_Item_Description~--></th>
			<th scope="col" style="width:20%;border:thin;border-style:solid;min-height:20px;padding-bottom:5px;padding-top:5px;"><!--~Label_Item_Purchaser~--></th>
			<th scope="col" style="width:15%;border:thin;border-style:solid;min-height:20px;padding-bottom:5px;padding-top:5px;"><!--~Label_Item_Qty~--></th>
			<th scope="col" style="width:15%;border:thin;border-style:solid;min-height:20px;padding-bottom:5px;padding-top:5px;"><!--~Label_Item_Rate~--></th>
			<th scope="col" style="width:20%;border:thin;border-style:solid;min-height:20px;padding-bottom:5px;padding-top:5px;"><!--~Label_Item_Amount~--></th>
		  </tr>
		  <tbody style="vertical-align:top;height:150px;padding-top:10px;">
		  	<!--~Items_Detail_Rows~-->
		  </tbody>
		  <tfoot>
			<tr>
			<td rowspan="4" colspan="3">
				<!--Terms-->
				<div style=" overflow:hidden;top:0px;height:120px; width:100%;border-left:thin;border-left-style:solid;border-bottom:thin;border-bottom-style:solid; padding-left:1px;border-top:thin;border-top-style:solid;"><font style="font:Verdana;font-size:14px;" ><!--~Terms~--></font></div>
			</td>
		     <td style="text-align:left;padding-right:8px;border-left:thin;border-left-style:solid;
			border-bottom:thin;border-bottom-style:solid;border-top:thin;border-top-style:solid;">&nbsp;<!--~Label_Subtotal~--></td>
			<td style="text-align:right;border-right:thin;border-right-style:solid;
			border-bottom:thin;border-bottom-style:solid;padding-right:5px;border-top:thin;border-top-style:solid;">&nbsp;<!--~Subtotal_Amount~--></td>
		  </tr>
		<!--~Tax_Details~-->
		  <tr>
			<td style="text-align:left;padding-right:8px;border-left:thin;border-left-style:solid;
			border-bottom:thin;border-bottom-style:solid;">&nbsp;<font style="font-size:18px;"><b><!--~Label_Total~--></b></font></td>
			<td style="text-align:right;border-right:thin;border-right-style:solid;
			border-bottom:thin;border-bottom-style:solid; padding-right:5px;">&nbsp;<b><!--~Total_Amount~--></b></td>
		  </tr>
		</tfoot>
	  </table>
	</td>
  </tr>
  <tr>
  	<td colspan="2">&nbsp;</td>
  </tr>
  <tr>
  	<td colspan="2" style="text-align:center;"><!--~Label_Msg_ThankYouForYourBusiness~--></td>
  </tr>
 <tr>
  	<td colspan="2">&nbsp;</td>
  </tr>
  <tr>
	<td colspan="2"><!--~Label_Msg_MakeAllCecksPayble~--></td>
  </tr>
  <tr>
  <td colspan="2">
	<table width="70%" cellspacing="0" cellpadding="2">
  	<thead>
    <tr>
      <th scope="col" style="width:20%;border-left:1px;border-top:1px;border-left-style:solid;border-top-style:solid;"><!--~Label_Payment_Form~-->:</th>
      <th scope="col" style="width:12.5%;border-top:1px;border-top-style:solid;">&nbsp;<!--~Label_Visa~--></th>
      <th scope="col" style="width:12.5%;border-top:1px;border-top-style:solid;">&nbsp;<!--~Label_Mastercard~--></th>
      <th scope="col" style="width:12.5%;border-top:1px;border-top-style:solid;">&nbsp;<!--~Label_Check~--></th>
      <th scope="col" style="width:12.5%;border-right:1px;border-top:1px;border-right-style:solid;border-top-style:solid;">&nbsp;<!--~Label_MoneyOrder~--></th>
    </tr>
	</thead>
	<tbody >
    <tr>
      <td style="min-height:25px;border:1px;border-color:#000000;border-style:solid;" colspan="5"><br /><!--~Label_Card_Number~-->:</td>
    </tr>
    <tr>
       <td style="min-height:25px;border:1px;border-color:#000000;border-style:solid;" colspan="5"><br /><!--~Label_Expiry_Date~-->:</td>
    </tr>
    <tr>
   		<td  style="min-height:25px;border:1px;border-color:#000000;border-style:solid;" colspan="5"><br /><!--~Label_Zip_Code~-->:</td>
    </tr>
    <tr>
     <td style="min-height:25px;border:1px;border-color:#000000;border-style:solid;"  colspan="5"><br /><!--~Label_Signature~-->:</td>
    </tr>
	</tbody>
  </table>
  </td>                   
	</tr>
  <tr>
	<td align="center" colspan="2"><!--~Label_Duplicate~--></td>
   </tr>
</table>
</div>
