	<!--AutorizedBy-->
	<div style="position:absolute; top:925px; left:0px;  height:80px; width:342px; padding:1em;"><font style="font:Verdana;font-size:14px;" ><!--~Authorized-By~--></font></div>

	<!--SubTotal-->
	<div style="position:absolute;text-align:right; left:50%; top:925px; height:80px; width:342px; padding:1em;"><font style="font:Verdana;font-size:14px;" ><!--~Sub-Total~--></font></div>