	<!--ShippingInfo-->
	<div style="position:absolute;margin-left:5px; left:1px; top:500px; height:75px; width:738px; padding:0em;">
			<table width="100%" cellpadding="4px" cellspacing="0px" border="1" style="text-align:left;" >
				<thead valign="middle">
				<tr bgcolor="#CCCCCC">
					<th><font style="font:Verdana;font-size:14px;" ><!--~Shipping-Terms~--></font></th>
					<th><font style="font:Verdana;font-size:14px;" ><!--~Ship-Via~--></font></th>
					<th><font style="font:Verdana;font-size:14px;" ><!--~Ship-FOB-Location~--></font></th>
					<th><font style="font:Verdana;font-size:14px;" ><!--~Shipping-Notes~--></font></th>
				</tr>	
				</thead>
				<!--~Shipping-Info~-->
				<!--<tr>
					<td>~Shipping-Terms~</td>
					<td>~Ship-Via~</td>
					<td>~Ship-FOB-Location~</td>
					<td>~Shipping-Notes~</td>
				</tr>	-->
			  </table>	
	</div>
	<!--ItemsInfo-->
	<div style="position:absolute;margin-left:5px; left:1px; top:600px;width:738px; padding:0em;">
			<table width="100%" cellpadding="4px" cellspacing="0px" border="1" >
				<thead valign="middle">
				<tr bgcolor="#CCCCCC" style="background-color:#CCCCCC" >
					<th style="width:15%;text-align:left;"><font style="font:Verdana;font-size:14px;" ><!--~External-ID~--></font></th>
					<th style="width:15%;text-align:left;"><font style="font:Verdana;font-size:14px;" ><!--~Bar-Code~--></font></th>
					<th style="width:25%;text-align:left;"><font style="font:Verdana;font-size:14px;" ><!--~Product-Name~--></font></th>
					<th style="width:10%;text-align:right;"><font style="font:Verdana;font-size:14px;" ><!--~Quantity~--></font></th>
					<th style="width:15%;text-align:right;"><font style="font:Verdana;font-size:14px;" ><!--~Unit-Price~--></font></th>
					<th style="width:15%;text-align:right;"><font style="font:Verdana;font-size:14px;" ><!--~Amount~--></font></th>
				</tr>
			</thead>
			<tbody>
			<!--~Items-Detail~-->
			</tbody>
			</table>
			<br />
			<br />
		
			<!-- Table for Subtotal-->
			<table width="100%" cellpadding="5px" cellspacing="0px" border="0" >
				<tr>
					<td>&nbsp;</td>
					<td style="text-align:right;"><font style="font:Verdana;font-size:14px;font-weight:200;" ><!--~Sub-Total~--></font></td>
				</tr>	
				<tr>
					<td><font style="font:Verdana;font-size:14px;font-weight:200;" ><!--~Authorized-By~--></font></td>
					<td>&nbsp;</td>					
				</tr>				
			</table>
	</div>
	
	