	<!--ShippingInfo-->
	<div style="position:absolute;margin-left:5px; left:1px; top:500px; height:75px; width:738px; padding:0em;">
			<table width="100%" cellpadding="4px" cellspacing="0px" border="1" style="text-align:left;" >
				<thead valign="middle">
				<tr bgcolor="#CCCCCC">
					<th><font style="font:Verdana;font-size:14px;" ><!--~Shipping-Terms~--></font></th>
					<th><font style="font:Verdana;font-size:14px;" ><!--~Ship-Via~--></font></th>
					<th><font style="font:Verdana;font-size:14px;" ><!--~Ship-FOB-Location~--></font></th>
					<th><font style="font:Verdana;font-size:14px;" ><!--~Shipping-Notes~--></font></th>
				</tr>	
				</thead>
				~Shipping-Info~
				<!--<tr>
					<td><!--~Shipping-Terms~--></td>
					<td><!--~Ship-Via~--></td>
					<td><!--~Ship-FOB-Location~--></td>
					<td><!--~Shipping-Notes~--></td>
				</tr>	-->
			  </table>	
	</div>
			
	