	<!--Date-->	
	<div style="position:absolute;left:564px; top:140px; height:27px; width:169px; padding:5px;border:solid;border-width:thin;
	border-bottom:none;	vertical-align:middle;"><font style="font:Verdana;font-size:14px;" ><!--~Date~--></font></div>
	<!--Date-->	
	<div style="position:absolute;left:564px; top:178px; height:27px; width:169px; padding:5px;border:solid;border-width:thin;
	border-bottom:none;	vertical-align:middle;"><font style="font:Verdana;font-size:14px;" ><!--~Date~--></font></div>
	<!--DocumentNo-->
	<div style="position:absolute; left:564px; top:214px; height:27px; width:169px; padding:5px;border:solid;border-width:thin;"><font style="font:Verdana;font-size:14px;" ><!--~Doc-No~--></font></div>
	
	
	<!--BillToTitle-->
	<div style="position:absolute; top:232px; height:12px; width:324px; padding:1em; margin-left:5px; left: 1px;"><font style="font:Verdana;font-size:14px;" ><b><!--~Bill-To~--></b></font></div>
	<!--BillToAddress-->
	<div style="position:absolute; top:277px; height:150px; width:324px; padding:1em; border:solid; border-width:thin; margin-left:5px; left: 1px;"><font style="font:Verdana;font-size:14px;" ><!--~BillTo-Address~--></font></div>
	
    <!--Following Html is set to dispaly none for now By Hitendra ON 16th Feb 2012-->
	<!--ShipToTitle-->
	<div style="position:absolute; left:387px; top:232px; height:12px; width:324px; padding:1em;display:none;"><font style="font:Verdana;font-size:14px;" ><b><!--~Ship-To~--></b></font></div>
	<!--ShipToAddress-->
	<div style="position:absolute; left:387px; top:277px; height:150px; width:324px; padding:1em;border:solid;border-width:thin;display:none;"><font style="font:Verdana;font-size:14px;" ><!--~ShipTo-Address~--></font></div>