<!--ItemsInfo-->
	<div style="position:absolute;margin-left:5px; left:1px; top:500px; width:738px; padding:0em;">
			<table width="100%" cellpadding="4px" cellspacing="0px" border="1" >
				<thead valign="middle">
				<tr bgcolor="#CCCCCC" style="background-color:#CCCCCC" >
					<th style="width:15%;text-align:left;display:none;"><font style="font:Verdana;font-size:14px;" ><!--~Bar-Code~--></font></th>
					<th style="width:20%;text-align:left;"><font style="font:Verdana;font-size:14px;" ><!--~Product-Name~--></font></th>
					<th style="width:15%;text-align:left;"><font style="font:Verdana;font-size:14px;" ><!--~Tax-Group~--></font></th>
				    <!--~IsDiscountTrue~-->
					<th style="width:10%;text-align:right;"><font style="font:Verdana;font-size:14px;" ><!--~Quantity~--></font></th>
					<th style="width:15%;text-align:right;"><font style="font:Verdana;font-size:14px;" ><!--~Unit-Price~--></font></th>
					<th style="width:15%;text-align:right;"><font style="font:Verdana;font-size:14px;" ><!--~Amount~--></font></th>
				</tr>
			</thead>
			<tbody>
			<!--~Items-Detail~-->
			</tbody>
			</table>
			<br />		
			<!-- Table for Subtotal-->
			<table width="100%" cellpadding="5px" cellspacing="0px" border="0" >
				<tr>
					<td>&nbsp;</td>
					<td style="text-align:right;"><font style="font:Verdana;font-size:14px;font-weight:300 !important;" ><!--~Sub-Total~--></font></td>
				</tr>						
			</table>
			<br />
			<!--~Process-Table~-->
			<br />
			<!--~Amount-Table~-->
			<br />
        <table border="0" cellpadding="5" cellspacing="5" width="100%">
            <tr>
                <td valign="top" style="width:10px">
                    <div style="width:10px; height:10px; border:1px solid #000; margin-top:5px;">&nbsp;</div>
                </td>
                <td valign="top">                    
                   <font style="font:Verdana;font-size:14px;font-weight:200 !important;" >I understand and agree to follow the rules and regulations of the Ashram and accept the terms (To be signed at check-in. Do not print!)
                   </font>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                   <font style="font:Verdana;font-size:14px;font-weight:200 !important;" > Signature: _______________________________  Date:_________________________</font>
                </td>
            </tr>
        </table>
            <br />
	</div>