<!--ItemsInfo-->
	<div style="position:absolute;margin-left:5px; left:1px; top:150px; width:738px; padding:0em;">
			<table width="100%" cellpadding="4px" cellspacing="0px" border="1" >
				<thead valign="middle">
				<tr bgcolor="#CCCCCC" style="background-color:#CCCCCC" >
					<th style="width:15%;text-align:left; display:none;"><font style="font:Verdana;font-size:14px;" ><!--~Bar-Code~--></font></th>
					<th style="width:20%;text-align:left;"><font style="font:Verdana;font-size:14px;" ><!--~Product-Name~--></font></th>
					<th style="width:15%;text-align:left;"><font style="font:Verdana;font-size:14px;" ><!--~Tax-Group~--></font></th>
					<th style="width:10%;text-align:right;"><font style="font:Verdana;font-size:14px;" ><!--~Discount~--></font></th>
					<th style="width:10%;text-align:right;"><font style="font:Verdana;font-size:14px;" ><!--~Quantity~--></font></th>
					<th style="width:15%;text-align:right;"><font style="font:Verdana;font-size:14px;" ><!--~Unit-Price~--></font></th>
					<th style="width:15%;text-align:right;"><font style="font:Verdana;font-size:14px;" ><!--~Amount~--></font></th>
				</tr>
			</thead>
			<tbody>
			<!--~Items-Detail~-->
			</tbody>
			</table>
			<br />
			
			<!-- Table for Subtotal-->
			<table width="100%" cellpadding="5px" cellspacing="0px" border="0" >
				<tr>
					<td>&nbsp;</td>
					<td style="text-align:right;"><font style="font:Verdana;font-size:14px;font-weight:200;" ><!--~Sub-Total~--></font></td>
				</tr>	
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>					
				</tr>				
			</table>
			
			<br />
			<!--~Process-Table~-->
			<br />
			<!--~Amount-Table~-->
			<br />
			
	</div>