<table width="100%" cellpadding="4px" cellspacing="0px" border="1" >
				<thead valign="middle">
				<tr bgcolor="#CCCCCC" style="background-color:#CCCCCC" >
					<th style="width:30%;text-align:left;"><font style="font:Verdana;font-size:14px;" ><!--~Process-Description~--></font></th>
					<th style="width:10%;text-align:right;"><font style="font:Verdana;font-size:14px;" ><!--~Fixed-Cost~--></font></th>
					<th style="width:10%;text-align:right;"><font style="font:Verdana;font-size:14px;" ><!--~Cost-Hour~--></font></th>
					<th style="width:10%;text-align:right;"><font style="font:Verdana;font-size:14px;" ><!--~Cost-Unit~--></font></th>
					<th style="width:10%;text-align:right;"><font style="font:Verdana;font-size:14px;" ><!--~Total-Hour~--></font></th>
					<th style="width:10%;text-align:right;"><font style="font:Verdana;font-size:14px;" ><!--~Total-Unit~--></font></th>
					<th style="width:20%;text-align:right;"><font style="font:Verdana;font-size:14px;" ><!--~Process-Cost~--></font></th>
				</tr>
			</thead>
			<tbody>
			<!--~Process-Detail~-->
		   </tbody>
			</table>