﻿body{background:#d9c5ad;color:white;height:100%;}

*{margin:0;padding:0}
ul{margin:0;padding:0}
ul li{list-style:none}
a{text-decoration:none}
img{border:0}

.flt{float:left}
.flr{float:right}
.clr{clear:both}
.margin-right{margin-right:0 !important}

/** Font Face Kit START **/

@font-face {
	font-family: 'HelveticaLTStd-Light';
	src: url('../images/fonts/helveticaltstdlight.eot');
	src: url('../images/fonts/helveticaltstdlight.eot?#iefix') format('embedded-opentype'),
		 url('../images/ /helveticaltstdlight.woff') format('woff'),
		 url('../images/fonts/helveticaltstdlight.ttf') format('truetype'),
		 url('../images/fonts/helveticaltstdlight.svg#helveticaltstdlight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'monterey_btregular';
    src: url('../images/fonts/monterey-bt-webfont.eot');
    src: url('../images/fonts/monterey-bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../images/fonts/monterey-bt-webfont.woff') format('woff'),
         url('../images/fonts/monterey-bt-webfont.ttf') format('truetype'),
         url('../images/fonts/monterey-bt-webfont.svg#monterey_btregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/** Font Face Kit START **/

/** Main-container CSS START **/

.main-container{width:100%;margin:0;position:relative; height:100%;}
/* content Start*/
.content{width:100%; margin-top:120px;	}
.content .category{margin-bottom:5px; overflow-y:auto; }
.content .category .button-container{width:100%;padding-bottom:14px;}
.content .category .button-container a{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background:#de6b37;
                                       font-family:ArcherProBold;font-size:27px;color:white;
                                        margin:0 12px 0 12px; width:90%;display:inline-block;text-align:center;font-weight:normal}
.content .order-area{}
.content .order-area h1{font-family:ArcherProBold;font-size:35px;font-weight:normal;text-align:center;margin-bottom:2px;}
.content .order-content-container{padding:0 10px;}
.content .order-content-container .my-order{margin-bottom:5px;}
.content .order-content-container .my-order p{font-family:HelveticaLTStd-Light;font-size:15px;color:#3b2940;}
.content .order-content-container .my-order p strong{font-size:20px;}
.content .order-content-container .my-order p .order-number{background:#fff;padding:3px;-webkit-border-radius:3px;
                                                            -moz-border-radius:3px;border-radius:3px;border:2px solid #3b2940;
                                                            text-align:center;width:22px;height:22px;display:inline-block;float:left;}
.content .order-content-container .my-order p a{float:right;margin:4px 0 0 15px;}
.content .order-content-container .my-order .order-content{width:68%}
.content .order-content-container .my-order . order-right-area{width:20%}




.content .order-content-container .my-form{margin-bottom:20px;  }
.content .order-content-container .my-form p{font-family:HelveticaLTStd-Light;font-size:15px;color:#3b2940;}
.content .order-content-container .my-form p strong{font-size:20px;}
.content .order-content-container .my-form p .form-input{background:#fff;padding:3px;-webkit-border-radius:3px;
                                                            -moz-border-radius:3px;border-radius:3px;border:2px solid #3b2940;
                                                            text-align:left;width:280px;height:20px;display:inline-block;float:left;}
.content .order-content-container .my-form .lable-area{text-align:right;}
.content .order-content-container .my-form .txt-area{text-align:right;}
.content .order-content-container .my-form .spanRed{color:Red;}






.content #item-list{ } 
.content #item-list ul{padding:0;}
.content #item-list ul li{list-style:none;background:#d9c5ad;padding:4px 16px 4px 10px;min-height:62px}
.content #item-list ul li:nth-child(2n+0){background:#e5d4c1;}
.content #item-list ul li .round-img{width:40px;height:40px;float:left;
                                     -webkit-border-radius:60px;
                                     -moz-border-radius:60px;
                                     border-radius:60px;} 
.content #item-list ul li h2{font-family:HelveticaLTStd-Light;font-size:20px;color:#3b2940;}
.content #item-list ul li p{font-family:HelveticaLTStd-Light;font-size:16px;color:#3b2940;float:left}
.content #item-list ul li a{margin-top:-15px;}

.content #item-list #popup-container{background:#e5d4c1;border:3px solid #3b293f;-webkit-border-radius:10px;-moz-border-radius:10px;
                                     border-radius:10px;padding:21px 10px 18px 13px;position:absolute;top:121px;left:1%;width:90%; right:1%;
                                      text-align:left;}
.content #item-list #popup-container ul{margin:0;padding:0}
.content #item-list #popup-img{-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;height:155px;width:155px;
                               float:left;margin-right:10px;}
.content #item-list #popup-container #content-popup{margin:30px 0 0 0}
.content #item-list #popup-container #content-popup h2{font-family:HelveticaLTStd-Light;font-size:22px;color:#3b2940;}
.content #item-list #popup-container #content-popup ul li{list-style:none;background:none;height:auto;min-height:18px;padding:0;
                                                          font-family:HelveticaLTStd-Light;font-size:16px;color:#3b2940;line-height:18px;}
.content #item-list #popup-container #content-popup .cross-icon{position:absolute;top:5px;right:5px;}
.content #item-list #popup-container #content-popup p{margin:10px 0 0 5px; }
/* Content End*/


/** Header CSS START **/

header{position:fixed;top:0;background:#de6b37;height:70px;width:100%;}
header .btm-content{padding:15px 5px 0 }
header .btm-content p {font-family:ArcherProBold;font-size:25px;font-weight:normal;color:white}
header .btm-content p a{font-family:ArcherProBold;font-size:25px;font-weight:normal;color:white}

.header{background:#de6b37;height:70px;width:100%;margin-bottom:5px;}
.header .btm-content{padding:15px 5px 0 }
.header .btm-content p {font-family:monterey_btregular;font-size:40px;font-weight:normal;color:white}
.header .btm-content p a{font-family:ArcherProBold;font-size:27px;font-weight:normal;color:white}

/** Header CSS END **/
