body{background:#d9c5ad;color:white;height:100%;}

*{margin:0;padding:0}
ul{margin:0;padding:0}
ul li{list-style:none}
a{text-decoration:none}
img{border:0}

.flt{float:left}
.flr{float:right}
.clr{clear:both}
.margin-right{margin-right:0 !important}

/** Font Face Kit START **/

@font-face {
	font-family: 'HelveticaLTStd-Light';
	src: url('../images/fonts/helveticaltstdlight.eot');
	src: url('../images/fonts/helveticaltstdlight.eot?#iefix') format('embedded-opentype'),
		 url('../images/ /helveticaltstdlight.woff') format('woff'),
		 url('../images/fonts/helveticaltstdlight.ttf') format('truetype'),
		 url('../images/fonts/helveticaltstdlight.svg#helveticaltstdlight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'monterey_btregular';
    src: url('../images/fonts/monterey-bt-webfont.eot');
    src: url('../images/fonts/monterey-bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../images/fonts/monterey-bt-webfont.woff') format('woff'),
         url('../images/fonts/monterey-bt-webfont.ttf') format('truetype'),
         url('../images/fonts/monterey-bt-webfont.svg#monterey_btregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/** Font Face Kit START **/

/** Main-container CSS START **/
	
#main-container{width:100%;margin:0;position:relative; height:100%;}

/** Main-container CSS END **/

/** Left-container CSS START **/

#left-content{width:44%;left:0;top:0; padding:2% 10% 0 4%}
#left-content #category{margin-bottom:5px; height:350px; overflow-y:auto; }
#left-content #category .button-container{width:100%;margin-bottom:14px;}
#left-content #category .button-container a{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background:#de6b37;padding:4px 12px;font-family:monterey_btregular;font-size:40px;color:white;
                                            margin:0 0 0 12px; width:36%;display:inline-block;text-align:center;font-weight:normal}
#left-content #order-area{height:140px;}
#left-content #order-area h1{font-family:monterey_btregular;font-size:50px;font-weight:normal;text-align:center;margin-bottom:2px;}
#left-content #order-content-container{height:125px;overflow:auto;overflow-x:hidden;padding-right:10px;}
#left-content #order-content-container .my-order{margin-bottom:5px;}
#left-content #order-content-container .my-order p{font-family:HelveticaLTStd-Light;font-size:15px;color:#3b2940;}
#left-content #order-content-container .my-order p strong{font-size:20px;}
#left-content #order-content-container .my-order p .order-number{background:#fff;padding:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border:2px solid #3b2940;text-align:center;width:22px;height:22px;display:inline-block;float:left;}
#left-content #order-content-container .my-order p a{float:right;margin:4px 0 0 15px;}
#left-content #order-content-container .my-order .order-content{width:68%}
#left-content #order-content-container .my-order . order-right-area{width:20%}

/** Left-container CSS END **/

/** right-container CSS START **/

#right-content{width:51%;position:absolute;right:0;top:0;border-left:1px solid #e3d1bd; padding-top:2%;}
#right-content #item-list{height:550px;overflow:auto;overflow-x:hidden;overflow-y:scroll;} 
#right-content #item-list ul{margin:0;padding:0}
#right-content #item-list ul li{list-style:none;background:#d9c5ad;padding:4px 16px 4px 10px;min-height:62px}
#right-content #item-list ul li:nth-child(2n+0){background:#e5d4c1;}
#right-content #item-list ul li .round-img{width:60px;height:60px;float:left;-webkit-border-radius:80px;-moz-border-radius:80px;border-radius:80px;margin-right:25px;}
#right-content #item-list ul li h2{font-family:HelveticaLTStd-Light;font-size:20px;color:#3b2940;}
#right-content #item-list ul li p{font-family:HelveticaLTStd-Light;font-size:16px;color:#3b2940;float:left}
#right-content #item-list ul li a{margin-top:-15px;}

#right-content #item-list #popup-container{background:#e5d4c1;border:3px solid #3b293f;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;padding:21px 10px 18px 13px;position:absolute;top:121px;left:14%;width:78%;}
#right-content #item-list #popup-container ul{margin:0;padding:0}
#right-content #item-list #popup-img{-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;height:155px;width:155px;float:left;margin-right:10px;}
#right-content #item-list #popup-container #content-popup{margin:30px 0 0 0}
#right-content #item-list #popup-container #content-popup h2{font-family:HelveticaLTStd-Light;font-size:22px;color:#3b2940;}
#right-content #item-list #popup-container #content-popup ul li{list-style:none;background:none;height:auto;min-height:18px;padding:0;font-family:HelveticaLTStd-Light;font-size:16px;color:#3b2940;line-height:18px;}
#right-content #item-list #popup-container #content-popup .cross-icon{position:absolute;top:5px;right:5px;}
#right-content #item-list #popup-container #content-popup p{margin:10px 0 0 5px;}

/** right-container CSS END **/

/** FOOTER CSS START **/

footer{position:fixed;bottom:0;background:#de6b37;height:90px;width:100%;}
footer .btm-content{padding:18px 10px 0 10px}
footer .btm-content p {font-family:monterey_btregular;font-size:45px;font-weight:normal;color:white}
footer .btm-content p a{font-family:monterey_btregular;font-size:45px;font-weight:normal;color:white}

/** FOOTER CSS END **/

.main-container{width:100%;margin:0;position:relative; height:100%;}
/* content Start*/
.content{width:100%; margin-top:120px;	}
.content .category{margin-bottom:5px; overflow-y:auto; }
.content .category .button-container{width:100%;margin-bottom:14px;}
.content .category .button-container a{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background:#de6b37;
                                       font-family:monterey_btregular;font-size:40px;color:white;
                                        margin:0 12px 0 12px; width:90%;display:inline-block;text-align:center;font-weight:normal}
.content .order-area{}
.content .order-area h1{font-family:monterey_btregular;font-size:50px;font-weight:normal;text-align:center;margin-bottom:2px;}
.content .order-content-container{padding:0 10%;}
.content .order-content-container .my-order{margin-bottom:5px;}
.content .order-content-container .my-order p{font-family:HelveticaLTStd-Light;font-size:15px;color:#3b2940;}
.content .order-content-container .my-order p strong{font-size:20px;}
.content .order-content-container .my-order p .order-number{background:#fff;padding:3px;-webkit-border-radius:3px;
                                                            -moz-border-radius:3px;border-radius:3px;border:2px solid #3b2940;
                                                            text-align:center;width:22px;height:22px;display:inline-block;float:left;}
.content .order-content-container .my-order p a{float:right;margin:4px 0 0 15px;}
.content .order-content-container .my-order .order-content{width:68%}
.content .order-content-container .my-order . order-right-area{width:20%}


.content #item-list{ } 
.content #item-list ul{padding:0;}
.content #item-list ul li{list-style:none;background:#d9c5ad;padding:4px 16px 4px 10px;min-height:62px}
.content #item-list ul li:nth-child(2n+0){background:#e5d4c1;}
.content #item-list ul li .round-img{width:40px;height:40px;float:left;
                                     -webkit-border-radius:60px;
                                     -moz-border-radius:60px;
                                     border-radius:60px;} 
.content #item-list ul li h2{font-family:HelveticaLTStd-Light;font-size:20px;color:#3b2940;}
.content #item-list ul li p{font-family:HelveticaLTStd-Light;font-size:16px;color:#3b2940;float:left}
.content #item-list ul li a{margin-top:-15px;}

.content #item-list #popup-container{background:#e5d4c1;border:3px solid #3b293f;-webkit-border-radius:10px;-moz-border-radius:10px;
                                     border-radius:10px;padding:21px 10px 18px 13px;position:absolute;top:121px;left:14%;width:78%;
                                      text-align:left;}
.content #item-list #popup-container ul{margin:0;padding:0}
.content #item-list #popup-img{-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;height:155px;width:155px;
                               float:left;margin-right:10px;}
.content #item-list #popup-container #content-popup{margin:30px 0 0 0}
.content #item-list #popup-container #content-popup h2{font-family:HelveticaLTStd-Light;font-size:22px;color:#3b2940;}
.content #item-list #popup-container #content-popup ul li{list-style:none;background:none;height:auto;min-height:18px;padding:0;
                                                          font-family:HelveticaLTStd-Light;font-size:16px;color:#3b2940;line-height:18px;}
.content #item-list #popup-container #content-popup .cross-icon{position:absolute;top:5px;right:5px;}
.content #item-list #popup-container #content-popup p{margin:10px 0 0 5px;}
/* Content End*/


/** Header CSS START **/

header{position:fixed;top:0;background:#de6b37;height:90px;width:100%;}
header .btm-content{padding:18px 10px 0 10px}
header .btm-content p {font-family:monterey_btregular;font-size:45px;font-weight:normal;color:white}
header .btm-content p a{font-family:monterey_btregular;font-size:45px;font-weight:normal;color:white}

/** Header CSS END **/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
	#main-container {width:100%;overflow:hidden; height:100%}
	#main-container #left-content{width:100%;margin:0;padding:0;}
	#main-container #right-content{position:relative;right:auto;top:auto;width:100%;}
	#main-container #left-content #category{width:50%;margin:0 auto 2% auto;padding:4% 0 0 0;}
	#main-container #left-content #order-area{padding:0 5% 0 5%}
	#main-container #left-content #order-content-container{height:200px;}
	#main-container #right-content #item-list{height:375px;overflow:auto;overflow-x:hidden;overflow-y:scroll;padding-bottom:150px;}
	#main-container #right-content #item-list #popup-container{right:65px;}
	#main-container footer .btm-content p {font-size:40px}
	#main-container footer .btm-content p a{font-size:40px}
}

/* start second part*/
#main-container1{width:100%;margin:0;position:relative}
#left-content1{width:50%;margin-right:-50%;padding:2.5% 12.5% 0 25%}
#left-content1 #order-area1{height:205px;}
#left-content1 #order-area1 h1{font-family:monterey_btregular;font-size:60px;font-weight:normal;text-align:center;margin-bottom:10px;}
#left-content1 #order-content-container1{height:140px;overflow:auto;overflow-x:hidden;padding-right:10px;}
#left-content1 #order-content-container1 .my-order{margin-bottom:5px;}
#left-content1 #order-content-container1 .my-order p{font-family:HelveticaLTStd-Light;font-size:16px;color:#3b2940;}
#left-content1 #order-content-container1 .my-order p strong{font-size:20px;}
#left-content1 #order-content-container1 .my-order p .order-number{background:#fff;padding:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border:2px solid #3b2940;text-align:center;width:22px;height:22px;display:inline-block;float:left;}
#left-content1 #order-content-container1 .my-order p a{float:right;margin:4px 0 0 15px;}
#left-content1 #order-content-container1 .my-order .order-content{width:68%}
#left-content1 #order-content-container1 .my-order . order-right-area{width:20%}



#left-content1 .order-content-containers  .my-form{margin-bottom:20px;  }
#left-content1 .order-content-container  .my-form p{font-family:HelveticaLTStd-Light;font-size:15px;color:#3b2940;}
#left-content1 .order-content-container  .my-form p strong{font-size:20px;}
#left-content1 .order-content-container  .my-form p .form-input{background:#fff;padding:3px;-webkit-border-radius:3px;
                                                            -moz-border-radius:3px;border-radius:3px;border:2px solid #3b2940;
                                                            text-align:left;width:280px;height:20px;display:inline-block;float:left;}
#left-content1 .order-content-container  .my-form .lable-area{text-align:right;}
#left-content1 .order-content-container  .my-form .txt-area{text-align:right;}
#left-content1 .order-content-container  .my-form .spanRed{color:Red;}

/** Left-container CSS END **/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
	#main-container1 {width:100%;overflow:hidden;}
	#main-container1 #left-content1{width:100%;margin:0;padding:0;}	
	#main-container1 #left-content1 #order-area1{padding:0 5% 0 5%}
	#main-container1 #left-content1 #order-content-container1{height:200px;}	
	#main-container1 footer .btm-content p {font-size:40px}
	#main-container1 footer .btm-content p a{font-size:40px}
}

/* Custom Scroll Bar Started */ 

::-webkit-scrollbar { width: 36px; } 

/* Track */ 
::-webkit-scrollbar-track { 
-webkit-box-shadow: inset 0 0 6px rgba(59,41,64,0.9);
-webkit-border-radius: 10px; 
border-radius: 10px; 
background: rgba(59,41,64,0.8); 
} 

/* Handle */ ::-webkit-scrollbar-thumb { 
-webkit-border-radius: 10px;
 border-radius: 10px; 
 background: rgba(222,107,55,0.8); 
 } 
::-webkit-scrollbar-thumb:window-inactive {
 background: rgba(59,41,64,0.8); 
 }
 :-moz-system-metric(scrollbar-start-foreward) 
 :-moz-system-metric(scrollbar-thumb-proportional)
 