@charset utf-8;
/*Header Style Start*/
#header{background-color:#383838;background-image:url(../image/bck_header.png);background-repeat:repeat-x;display:block;height:85px;width:auto;}
#header .inner{display:block;clear:both;height:auto;margin:0 auto;padding:0;}
#header .inner .logo{background-image:url(../image/logo.png);background-repeat:no-repeat;display:block;height:66px;width:155px;margin-top:6px;margin-left:20px;float:left;}
#header .inner .logon{float:right;height:85px;}
#header .inner .logon .texte{color:#fff;text-align:right;font-weight:700;line-height:200%;padding-top:20px;float:left;}
#header .inner .logon .texte a{color:#fff;}
#header .inner .logon .texte a:hover{text-decoration:underline;}
#header .inner .logon .submit{float:left;margin-left:40px;margin-right:20px;padding-top:30px;}
/*Header Style End*/
/*Content Style Starts*/
#content .inner{display:block;clear:both;height:auto;overflow:hidden;margin:0 auto;padding:0;}
/*Top Container Starts*/
#contentTop{display:block;height:auto; margin:0px 20px;}
#contentTop .col1{margin-left:24px;margin-right:14px;width:36px;display:block;float:left;}
#contentTop .col1 img{width:36px;height:auto;}
#contentTop .col2{display:block;float:left;width:160px;/*overflow:auto;*/}
/*Top Container Ends*/
/*Sidebar left starts here*/
#content .inner #colLeft{width:210px;float:left;padding-top:20px;margin-left:20px;overflow:hidden;}
#content .inner #colLeft .inner{display:block;text-align:center;margin:0 auto;padding:4px;}
#content .inner #colLeft .inner .menuH li{border-left-color:#FDFDFA;}
#content .inner #colLeft .inner .menuH li:first-child{border-left:none;padding-left:6px;}
#colLeft .inner .menu{display:block;width:960px;clear:both;height:auto;margin:0 auto;padding:0;}
#colLeft .inner .menu ul li{font-size:11px;color:#FDFDFA;font-weight:700;display:block;text-align:left;float:left;height:20px;line-height:20px;border-left:1px solid #FFF;margin:7px 0 0;padding:0 6px;}
#colLeft .inner .menu ul li a{color:#FFF;}
#colLeft .inner .menu ul li a:hover{color:#797D7F;}
#colLeft .inner .menu ul li:first-child{border-left:none;}
#colLeft .inner .menu ul{list-style-type:none;margin:0;padding:0;}
#colLeft .searchBar{display:block;width:200px;border:1px solid #797D7F;margin:0 auto;}
#colLeft .searchBar .inner .contentTableForm{width:180px;}
#colLeft .searchBar .inner .contentTableForm tr td{padding-bottom:10px;}
#colLeft .searchBar .inner .contentTableForm tr td.text{font-weight:700;text-align:left;}
#colLeft .searchBar .inner .contentTableForm tr td.input{padding-right:10px;}
#colLeft h2{color:#AF3333;border-bottom:1px solid #AF3333;}
#colLeft h4{background:#ECF1F5;}
#colLeft .searchBar .header{background-image:url(../image/bck_searchHeader.jpg);background-repeat:repeat-x;display:block;height:30px;color:#FDFDFA;line-height:24px;font-weight:700;padding-left:12px;padding-right:12px;}
#colLeft .searchBar .header .title{display:block;width:100px;float:left;}
#colLeft .searchBar .header .icon{display:block;float:right;margin-top:4px;}
#colLeft .searchBar .inner{padding-bottom:12px;}
#colLeft .searchBar .inner .contentTableForm tr td .hrLine{height:25px;background-image:url(../image/bck_hr.png);}
#colLeft .searchBar .inner .contentTableForm tr td .hrLine .hrColor{height:25px;width:25px;display:block;background-color:#FDFDFA;font-weight:700;line-height:25px;color:#797D7F;margin:0 auto;}
#colLeft .searchBar .footer{background:#ECF1F5;display:block;height:40px;color:#FDFDFA;line-height:28px;font-weight:700;padding-left:12px;padding-right:6px;}
#colLeft .searchBar .footer .submit{display:block;height:28px;float:right;padding:4px;}
/*Sidebar left ends here*/
/*Bottom content starts here*/
#content .inner #column{overflow:auto;padding:20px;}
#contentBottom{display:block;}
#contentBottom .contentTableForm td{padding-bottom:10px;}
#contentBottom .contentTableForm td.text{padding-left:40px;font-weight:700;width:140px;}
#contentBottom .contentTableForm td.input{padding-left:40px;}
#contentBottom .contentTableFormSub{border:1px solid #9DA1A3;border-spacing:0;font-family:Lucida Sans;font-size:11px;margin:0;padding:0;}
#contentBottom .contentTableFormSub td{border-right:1px solid #9DA1A3;border-top:1px solid #fff;padding:8px;}
#contentBottom .contentTableFormSub tr th{background-image:url(../image/bck_SubTable.jpg);color:#fff;padding:6px;}
#contentBottom .contentTableFormSub tr.alternate{background-color:#F2F6F9;}
#contentBottom .contentTableFormSub td.action{background-color:#EEF4F9;border-right:none;border-top:1px solid #fff;}
#contentBottom .contentTableFormSub td.action a{color:#AF3333;}
#contentBottom .contentTableFormSub td.action a:hover{color:#D77777;}
#contentBottom .menuDown{width:320px;float:left;display:block;border-right:1px solid #9DA1A3;margin:0;padding:0;}
#contentBottom .menuDown ul{margin:6px 0 0;padding:0;}
/*Bottom content ends here*/
#selectable .ui-selecting{color:#6A7E9A;}
#selectable .ui-selected{background:#6A7E9A;color:#FDFDFB;}
#selectable{list-style-type:none;width:60%;margin:0;padding:0;}
#selectable li{width:280px;height:26px;margin-bottom:10px;border:0;display:block;line-height:26px;background:url(../image/bt_module.jpg) repeat-x bottom;font-weight:700;padding-left:12px;}
/*Grid Style Start*/
table.mGrid{border-left:1px solid #DBDDDD;border-right:1px solid #DBDDDD;}
table.mGrid TR{border-bottom:1px solid #DBDDDD;}
table.mGrid TD{padding:8px;}
table.mGrid .grid_header{background-image:url(../image/bck_SubTable.jpg);border-top:1px solid #AEB1B2;font-weight:700;}
table.mGrid .grid_header td{color:#fff;padding:6px;}
table.mGrid a:hover{text-decoration:underline;}
table.mGrid .grid_alter_rowstyle{background-color:#F2F6F8;}
table.mGrid .grid_header a,table.mGrid .grid_header a:hover{color:#fff;}
/*Grid Stle End*/
/*Content Style End*/

.showhide-account{cursor:pointer;}
div.profile_links{position:relative; text-align:right;}
div.account-content{display: none;right: 0px;position: absolute;top: 20px;width: 110px;}
div.account-content-active{display:block;}
div.account-content div.account-drop-inner{text-align:left;/*padding:5px;*/}
div.account-drop-inner a {display:block; border:none !important; padding:5px;}

/*New Layout CSS Starts Here*/
#contentwrapper{float: left;width: 100%;}
#contentcolumn{margin-left: 230px; }/*Set left margin to LeftColumnWidth*/
#leftcolumn{float: left;width: 230px; padding:20px 0px 0px 20px; /*Width of left column*/margin-left: -100%;}

