@charset utf-8;
/*Header Style Start*/
#header{background-color:#383838;background-image:url(../image/bck_header.png);background-repeat:repeat-x;display:block;height:85px;width:auto;}
#header .inner{display:block;clear:both;height:auto;margin:0 auto;padding:0;}
#header .inner .logo{background-image:url(../image/logo.png);background-repeat:no-repeat;display:block;height:66px;width:155px;margin-top:6px;margin-left:20px;float:left;}
#header .inner .logon{float:right;height:85px;}
#header .inner .logon .texte{color:#fff;text-align:right;font-weight:700;line-height:200%;padding-top:20px;float:left;}
#header .inner .logon .texte a{color:#fff;}
#header .inner .logon .texte a:hover{text-decoration:underline;}
#header .inner .logon .submit{float:left;margin-left:40px;margin-right:20px;padding-top:30px;}
/*Header Style End*/
/*Content Style Starts*/
#content .inner{display:block;clear:both;height:auto;margin:0 auto;padding:0;}
/*Top Container Starts*/
#contentTop{display:block;height:auto; margin:0px 20px;}
#contentTop .col1{margin-right:14px;width:36px;display:block;float:left;}
#contentTop .col1 img{width:36px;height:auto;}
#contentTop .col2{display:block;float:left;width:160px;/**/}
/*Top Container Ends*/
/*Sidebar left starts here*/
#content .inner #colLeft{float: left;width: 210px; padding-left:20px; /*Width of left column*/margin-left: -100%; margin-top:10px;}
#content .inner #colLeft .inner{display:block;margin:0 auto;padding:4px;}
#content .inner #colLeft .inner .menuH li{border-left-color:#FDFDFA;}
#content .inner #colLeft .inner .menuH li:first-child{border-left:none;padding-left:6px;}
#colLeft .inner .menu{display:block;width:960px;clear:both;height:auto;margin:0 auto;padding:0;}
#colLeft .inner .menu ul li{font-size:11px;color:#FDFDFA;font-weight:700;display:block;text-align:left;float:left;height:20px;line-height:20px;border-left:1px solid #FFF;margin:7px 0 0;padding:0 6px;}
#colLeft .inner .menu ul li a{color:#FFF;}
#colLeft .inner .menu ul li a:hover{color:#797D7F;}
#colLeft .inner .menu ul li:first-child{border-left:none;}
#colLeft .inner .menu ul{list-style-type:none;margin:0;padding:0;}
#colLeft .searchBar{display:block;width:200px;border:1px solid #797D7F;}
#colLeft .searchBar .inner .contentTableForm{width:180px;}
#colLeft .searchBar .inner .contentTableForm tr td{padding-bottom:10px;}
#colLeft .searchBar .inner .contentTableForm tr td.text{font-weight:700;text-align:left;}
#colLeft .searchBar .inner .contentTableForm tr td.input{padding-right:10px;}
#colLeft h2{color:#AF3333;border-bottom:1px solid #AF3333;}
#colLeft h4{background:#ECF1F5;}
#colLeft .searchBar .header{background-image:url(../image/bck_searchHeader.jpg);background-repeat:repeat-x;display:block;height:30px;color:#FDFDFA;line-height:24px;font-weight:700;padding-left:12px;padding-right:12px;}
#colLeft .searchBar .header .title{display:block;width:159px;float:left;}/*width:100px;*/
#colLeft .searchBar .header .icon{display:block;float:right;margin-top:4px;}
#colLeft .searchBar .inner{padding-bottom:12px;}
#colLeft .searchBar .inner .contentTableForm tr td .hrLine{height:25px;background-image:url(../image/bck_hr.png);}
#colLeft .searchBar .inner .contentTableForm tr td .hrLine .hrColor{height:25px;width:25px;display:block;background-color:#FDFDFA;font-weight:700;line-height:25px;color:#797D7F;margin:0 auto;}
#colLeft .searchBar .footer{background:#ECF1F5;display:block;height:40px;color:#FDFDFA;line-height:28px;font-weight:700;padding-left:12px;padding-right:6px;}
#colLeft .searchBar .footer .submit{display:block;height:28px;float:right;padding:4px;}
/*Sidebar left ends here*/
/*Bottom content starts here*/
#content #contentwrapper{float: left;width: 100%; margin-top:10px;}
#content .inner #column{margin-left: 230px;}
#content .inner #column .inner_tube{/*border: 1px solid #CCCCCC; padding:1px;*/ margin-right:20px;}
#contentBottom{display:block;}
#contentBottom .contentTableForm td{padding-bottom:10px;}
#contentBottom .contentTableForm td.text{padding-left:40px;font-weight:700;width:140px;}
#contentBottom .contentTableForm td.input{padding-left:40px;}
#contentBottom .contentTableFormSub{border:1px solid #9DA1A3;border-spacing:0;font-family:Lucida Sans;font-size:11px;margin:0;padding:0;}
#contentBottom .contentTableFormSub td{border-right:1px solid #9DA1A3;border-top:1px solid #fff;padding:8px;}
#contentBottom .contentTableFormSub tr th{background-image:url(../image/bck_SubTable.jpg);color:#fff;padding:6px;}
#contentBottom .contentTableFormSub tr.alternate{background-color:#F2F6F9;}
#contentBottom .contentTableFormSub td.action{background-color:#EEF4F9;border-right:none;border-top:1px solid #fff;}
#contentBottom .contentTableFormSub td.action a{color:#AF3333;}
#contentBottom .contentTableFormSub td.action a:hover{color:#D77777;}
#contentBottom .menuDown{width:320px;float:left;display:block;border-right:1px solid #9DA1A3;margin:0;padding:0;}
#contentBottom .menuDown ul{margin:6px 0 0;padding:0;}
/*Bottom content ends here*/
#selectable .ui-selecting{color:#6A7E9A;}
#selectable .ui-selected{background:#6A7E9A;color:#FDFDFB;}
#selectable{list-style-type:none;width:60%;margin:0;padding:0;}
#selectable li{width:280px;height:26px;margin-bottom:10px;border:0;display:block;line-height:26px;background:url(../image/bt_module.jpg) repeat-x bottom;font-weight:700;padding-left:12px;}
/*Grid Style Start*/
table.mGrid{border-left:1px solid #DBDDDD;border-right:1px solid #DBDDDD;}
table.mGrid TR{border-bottom:1px solid #DBDDDD;}
table.mGrid TD{padding:8px;}
table.mGrid .grid_header{background-image:url(../image/bck_SubTable.jpg);border-top:1px solid #AEB1B2;font-weight:700;}
table.mGrid .grid_header td{color:#fff;padding:6px;}
table.mGrid a:hover{text-decoration:underline;}
table.mGrid .grid_alter_rowstyle{background-color:#F2F6F8;}
table.mGrid .grid_header a,table.mGrid .grid_header a:hover{color:#fff;}
table.mGrid .grid_pager {   background-color:#B9CAD3 }  
table.mGrid .grid_pager table {margin:2px;} 
table.mGrid .grid_pager tr td {   background-color:#ffffff; margin-right:4px; padding:5px; line-height:normal; }  
/*Grid Stle End*/
/*Content Style End*/

.showhide-account{cursor:pointer;}
div.profile_links{position:relative; text-align:right;}
div.account-content{display: none;right: 0px;position: absolute;top: 20px;width: 110px;}
div.account-content-active{display:block;}
div.account-content div.account-drop-inner{text-align:left;/*padding:5px;*/}
div.account-drop-inner a {display:block; border:none !important; padding:5px;}

/*New Layout CSS Starts Here*/
#contentwrapper{float: left;width: 100%;}
#contentcolumn{margin-left: 230px; }/*Set left margin to LeftColumnWidth*/
#leftcolumn{float: left;width: 230px; padding:20px 0px 0px 20px; /*Width of left column*/margin-left: -100%;}


/*New Form Css*/
ul.form, ul.form li{margin:0px;list-style:none; padding:0px;}
ul.form li div.lbl{width: 150px; float:left; padding:2px 5px; font-weight:700; text-align:right;}
ul.form li div.input{width:250px; float:left; padding:2px 5px; }
ul.form li div.clearBoth{clear:both;}
ul.form li div.input .rbl_list{}



/*Left Navigation*/
.acc_left_menu{margin:0px; padding:0px; margin-right:5px; border:1px solid #ccc; border-top:none;}
.acc_left_menu .menu_head{color:#515151; font-weight:bold; display:block; background-color:#F5F5F5; padding:5px; border:1px solid #ccc; border-left:none; border-right:none;}
.acc_left_menu .menu_head a{color:#515151; text-decoration:none;}
.acc_left_menu .menu_head a:hover{color:#515151;}
ul.left_nav{margin:0px; list-style:none; padding:0px;}
ul.left_nav li{display:block;  padding:5px; margin-bottom:0px;}
/*ul.left_nav li.active{border-left:4px solid #AF3333;}*/
ul.left_nav li a{display:block; font-weight:bold;text-decoration:none;}
ul.left_nav li.active{background-color:#ECF1F5;}
ul.left_nav li.active a{color:#AF3333; }
ul.left_nav li a:hover{color:#AF3333;}
        
.tbx_editor select{width:auto;}
.rbl_list td{padding:0px !important;}
/*Left Navigation*/

/* SITE LEFT MENU */
.inbiz-left-menu{}
.inbiz-left-menu{width:200px; float:left;}
.inbiz-left-menu, .inbiz-left-menu ul{list-style-type:none; margin:0; padding:0;}
.inbiz-left-menu a{display:block; text-decoration:none; -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; font-size:13px;}
.inbiz-left-menu li{display:block; position:relative;}
.inbiz-left-menu li.active{display:block; position:relative; margin-bottom:-1px; z-index:1;}
.inbiz-left-menu li a{background:#f5f5f5; color:#7a7a7a; font-weight:bold; padding:5px 5px 7px; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5; border-top:1px solid #e5e5e5;}
.inbiz-left-menu li a:hover{background:#e5e5e5; color:#000;}
.inbiz-left-menu li.first a{-moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
.inbiz-left-menu li.first ul li a{-moz-border-radius:0; -webkit-border-radius:0; border-radius:0;}
.inbiz-left-menu li.last a{-moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px; border-bottom:1px solid #e5e5e5;}
.inbiz-left-menu li.last ul li a{-moz-border-radius:0; -webkit-border-radius:0; border-radius:0;}
.inbiz-left-menu li ul{margin-bottom:-1px; border:none; display:none;}
.inbiz-left-menu li ul li{margin:0; padding:0; border-top:none; border-right:1px solid #bababa; border-bottom:none; border-left:1px solid #bababa; display:block;}
.inbiz-left-menu li ul li.first{border-top:1px solid #bababa;}
.inbiz-left-menu li ul li.last{border-bottom:1px solid #bababa;}
.inbiz-left-menu li ul li.open{/*border-right:none;*/}
.inbiz-left-menu .open .icon{position:absolute; top:0; right:-1px; height:inherit; max-height:22px; padding:4px 0 6px;}
.inbiz-left-menu li.active a{background:#e5e5e5; color:#000; border-top:1px solid #bababa; border-right:1px solid #bababa; border-bottom:none; border-left:1px solid #bababa;}
.inbiz-left-menu li ul li a{background-color:#fff; font-weight:normal; padding:4px 5px 6px; border:none;}
.inbiz-left-menu li.active ul li a{-moz-border-radius:0; -webkit-border-radius:0; border-radius:0; background-color:#fff; color:#444; border:none;}
.inbiz-left-menu li ul li a:hover{background-color:#ebf0f4 !important; color:#AF3333 !important;}
.inbiz-left-menu li ul li.last a{-moz-border-radius:0; -webkit-border-radius:0; border-radius:0; border:none;}
.inbiz-left-menu li.active.last a{-moz-border-radius:0; -webkit-border-radius:0; border-radius:0;}
.inbiz-left-menu li.active.last ul li.last a{-moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px;}
.inbiz-left-menu li.open a{background:#ebf0f4 !important; border-right:none !important;}
/* SITE LEFT MENU END*/

/*Hide csv export button*/
.csv_export{display:none;}

.modernized_select{} /*To modernize_select*/

/*icon css*/
a.inbiz_icon{display:inline-block;overflow: hidden;background-repeat: no-repeat;line-height: 0;font-size: 0;color: transparent; margin-left:5px; vertical-align:top;}
a.icon_email_28{width: 28px;height: 28px;background-image: url('../image/icon/off_email_28x28.png');}
a.icon_email_28:hover{background-image: url('../image/icon/on_email_28x28.png');}
a.icon_print_28{width: 28px;height: 28px;background-image: url('../image/icon/off_print_28x28.png');}
a.icon_print_28:hover{background-image: url('../image/icon/on_print_28x28.png');}
a.icon_fax_28{width: 28px;height: 28px;background-image: url('../image/icon/off_fax_28x28.png');}
a.icon_fax_28:hover{background-image: url('../image/icon/on_fax_28x28.png');}
a.icon_edit_24{width: 24px;height: 24px;background-image: url('../image/icon/off_edit_24x24.png');}
a.icon_edit_24:hover{background-image:  url('../image/icon/on_edit_24x24.png');}
a.icon_search_28{width: 28px;height: 28px;background-image: url('../image/icon/off_search_28x28.png');}
a.icon_search_28:hover{background-image: url('../image/icon/on_search_28x28.png');}
a.icon_search_24{width: 24px;height: 24px;background-image: url('../image/icon/off_search_24x24.png');}
a.icon_search_24:hover{background-image: url('../image/icon/on_search_24x24.png');}
a.icon_export_28{width: 28px;height: 28px;background-image: url('../image/icon/off_export_28x28.png');}
a.icon_export_28:hover{background-image: url('../image/icon/on_export_28x28.png');}

a.icon_attach_32x32{width: 32px;height: 32px;background-image: url('../image/icon/off_attach_32x32.png');}
a.icon_attach_32x32:hover{background-image: url('../image/icon/on_attach_32x32.png');}

a.icon_download_36x36{width: 32px;height: 32px;background-image: url('../image/icon/off_download_36x36.png');}
a.icon_download_36x36:hover{background-image: url('../image/icon/on_download_36x36.png');}
a.icon_download_48x48{width: 32px;height: 32px;background-image: url('../image/icon/off_download_48x48.png');}
a.icon_download_48x48:hover{background-image: url('../image/icon/on_download_48x48.png');}

a.icon_delete_32x32{width: 32px;height: 32px;background-image: url('../image/icon/off_delete_32x32.png');}
a.icon_delete_32x32:hover{background-image: url('../image/icon/on_delete_32x32.png');}

a.icon_add_24x24{width: 24px;height: 24px;background-image: url('../image/icon/off_add_24x24.png');}
a.icon_add_24x24:hover{background-image: url('../image/icon/on_add_24x24.png');}

a.icon_home_24x24{width: 24px;height: 24px;background-image: url('../image/icon/off_home_24x24.png');}
a.icon_home_24x24:hover{background-image: url('../image/icon/on_home_24x24.png');}

a.icon_fullscreen_32x32{width: 32px;height: 32px;background-image: url('../image/icon/fullscreen.png');}
a.icon_fullscreen_32x32:hover{background-image: url('../image/icon/fullscreen.png');}

a.icon_setting_24x24{width: 24px;height: 24px;background-image: url('../image/icon/off_setting_24x24.png');}
a.icon_setting_24x24:hover{background-image: url('../image/icon/on_setting_24x24.png');}

a.icon_save_24x24{width: 24px;height: 24px;background-image: url('../image/icon/off_save_24x24.png');}
a.icon_save_24x24:hover{background-image: url('../image/icon/on_save_24x24.png');}