﻿@charset utf-8;
#menu{background-image:url(../image/bck_menu.jpg);background-color:#3A393A;background-repeat:repeat-x;display:block;height:35px;width:auto;}
#menu .inner{display:block;clear:both;height:auto;margin:0 auto;padding:0 0 0 20px;}
#menu .inner ul li{font-size:11px;position:relative;color:#FDFDFA;font-weight:700;display:block;text-align:left;float:left;height:35px;line-height:35px;border-left:1px solid #434144;margin:0;padding:0 6px;z-index:1000;}
#menu .inner ul li a{color:#FFF;text-decoration:none;}
#menu .inner ul li a:hover{color:#FFF;text-decoration:underline;}
#menu .inner ul li:first-child{border-left:none;padding-left:0;}
#menu .inner ul{list-style-type:none;margin:0;padding:0;}
#menu .inner ul li ul{background:#63676A;display:none;height:auto;border:0;position:absolute;width:200px;z-index:180;top:35px;left:0;margin:0;padding:0;}
#menu .inner ul li:hover ul{display:block;}
#menu .inner ul li li{background:url(images/sub_sep.gif) bottom left no-repeat;display:block;border:0;float:none;height:25px;width:200px;margin:0;padding:0;line-height:25px;}
#menu .inner ul li:hover li a{background:none;font-size:11px;line-height:25px;}
#menu .inner ul li ul a{display:block;height:25px;font-size:12px;font-style:normal;text-align:left;margin:0;padding:0 10px 0 15px;}
#menu .inner ul li ul a:hover,.menu li ul li:hover a{background:#4D6285;border:0;color:#fff;text-decoration:none;}
#menu .inner ul li.menutitle{background:#434144;font-weight:700;}
#menu .inner ul li.menutitle:hover a{background:#434144;}