﻿@charset utf-8;
/*Globals*/
* {margin: 0px;padding: 0px;}
body {font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;font-size:11px;color:#515151;background-color:#fff;}
a img{border:0 none!important;}
a{font-size:11px;color:#185375;}
a:active{text-decoration:none;color:#1A9F00;}
h1,h2,h3,h4,h5,h6{margin:5px 0px;}
h1{font-size:14px;color:#AF3333;line-height:24px;margin:0;}
h2{font-size:12px;color:#515151;border-bottom:1px solid #515151;font-weight:700;text-align:left;margin:0;}
h3{font-size:11px;color:#FFFEFD;background-image:url(../image/bck_h3.jpg);background-repeat:repeat-x;font-weight:700;height: 30px; line-height:24px; padding-left: 12px;}
h4{font-size:11px;color:#393839;background-color:#f9f9f8; background-image: url(../image/bck_titleWhite.png);background-repeat:repeat-y;font-weight:700;height: 30px; line-height:30px;padding-left: 5px;}
h5{font-size:14px;color:#5C5C5C;}
h6{font-size:12px;color:#1A9F00;}
p{text-align:justify;}
/*ul, li{list-style:none;}*/
input,textarea,select{border:1px solid #797D7F;margin-bottom:0;}
a:link,a:visited,a:hover{text-decoration:none;}
input[type=text],input[type=password]{width:175px; padding:1px 0px;}
select{width:179px;}
.lightGray{color:#B8C9D2;}
.white{color:#FDFDFA;}
.green{color:#304467;}
.clear{clear:both;}

/*Dilaog Css*/
.div-dialog-command{text-align:right;padding-right:5px;}
/*Dialog loading animater class*/
.loading-image { background: transparent url('../image/ajax-loader.gif') no-repeat center center; }

/*Message box Css*/
.messagecenterInformation{min-height:23px;background-color:#CAE4FF;border:1px solid #036;padding:5px;}
.messagecenterSuccess{min-height:23px;background-color:#CFC;border:1px solid #060;padding:5px;}
.messageCenterIcon{display:block;float:left;width:48px;height:48px;margin-right:10px;}
.messagecenterInformation div.messageCenterIcon{width:48px;height:48px;background-image:url(../image/icon/info.png);}
.messagecenterSuccess div.messageCenterIcon{width:48px;height:48px;background-image:url(../image/icon/success.png);}
.messagecenterFailure div.messageCenterIcon{width:48px;height:48px;background-image:url(../image/icon/error.png);}
.messagecenterCritical div.messageCenterIcon{width:48px;height:48px;background-image:url(../image/icon/critical.png);}
.validationSummary{background-color:#FCC;border:1px solid #C00;padding:5px;}
.verticalalign img,.verticalalign span,.verticalalign input{vertical-align:middle;}
.messagecenterFailure,.messagecenterCritical{min-height:23px;background-color:#FCC;border:1px solid #C00;padding:5px;}

.div_command{text-align:right; border-top:1px solid #ccc; padding:5px;}

/*icons*/
.ic_delete{display:block; width:20px; height:20px; overflow:hidden; background-image:url('../image/del_2.png'); background-repeat:no-repeat; line-height: 0; font-size: 0;color: transparent; }

/*Hide csv export*/
.csv_export{display:none;}

/*Layout Css Starts Here*/
#page-wrap {background: white;min-width: 780px;margin: 0px;}
#page-wrap #inside {margin:0px;padding-bottom: 10px;}
#page-wrap #inside .content_wrap{padding:0px 5px;}
#contentTop{padding:5px 0px;}
#contentTop .col1{margin-right:14px;width:36px;display:block;float:left;height:auto;}
#contentTop .col1 img{width:36px;height:auto;}
#contentTop .col2{display:block;float:left;width:194px;min-height:50px;}
#main-content {display:block;margin-left:240px;}
#header{background-color:#383838;background-image:url(../image/bck_header.png);background-repeat:repeat-x;height:85px;}
#header .header_content{position:relative; color:#fff;}
#header .header_content a{color:#fff;}
#header .header_content .logo{background-image:url(../image/logo.png);background-repeat:no-repeat;display:block;height:66px;width:155px;position:absolute; top:6px; left:20px;}
#header .header_content .prifile{display:block; position:absolute; top:6px; right:0px; width:auto;}
#left-sidebar {float:left; width: 230px;}
#left-sidebar h2{color:#AF3333;border-bottom:1px solid #AF3333;}
#left-sidebar h4{background:#ECF1F5;}
#left-sidebar .searchBar{border:1px solid #797D7F;}
#left-sidebar .searchBar .header{background-image:url(../image/bck_searchHeader.jpg);background-repeat:repeat-x;display:block;height:30px;color:#FDFDFA;line-height:24px;font-weight:700;padding-left:12px;padding-right:12px;}
#left-sidebar .searchBar .header .title{display:block;width:100px;float:left;}
#left-sidebar .searchBar .header .icon{display:block;float:right;margin-top:4px;}
#left-sidebar .searchBar .inner, #left-sidebar .searchBar .inner p{padding-left:12px;}
#left-sidebar .searchBar .inner .contentTableForm tr td .hrLine{height:25px;background-image:url(../image/bck_hr.png);}
#left-sidebar .searchBar .inner .contentTableForm tr td .hrLine .hrColor{height:25px;width:25px;display:block;background-color:#FDFDFA;font-weight:700;line-height:25px;color:#797D7F;margin:0 auto;}
#left-sidebar .searchBar .footer{background:#ECF1F5;display:block;height:40px;color:#FDFDFA;line-height:28px;font-weight:700;padding-left:12px;padding-right:6px;}
#left-sidebar .searchBar .footer .submit{display:block;height:28px;float:right;padding:4px;}
#footer {background: #267f23;text-align: center;padding-top: 20px;padding-bottom: 20px;color: white;}

/*Old Form Css*/
#main-content .contentTableForm td{padding-bottom:10px;}
#main-content .contentTableForm td.text{padding-left:40px;font-weight:700;width:140px;}
#main-content .contentTableForm td.input{padding-left:40px;}

/*New Form Css*/
ul.form{margin:0px;list-style:none;}
ul.form li div.lbl{width: 150px; float:left; padding:5px; font-weight:700; text-align:right; display:block;}
ul.form li div.input{width:250px; float:left; padding:5px; display:block; }
/*ul.form li div.clearBoth{clear:both;}*/
ul.form li div.input .rbl_list{}



/*Left Navigation*/
ul.left_nav{margin:0px; margin-right:5px; list-style:none; padding:0px;}
ul.left_nav li{display:block; background-color:#ECF1F5; padding:5px; margin-bottom:5px;}
ul.left_nav li.active{border-left:4px solid #AF3333;}
ul.left_nav li a{display:block; font-weight:bold;}
ul.left_nav li.active a{color:#AF3333;}
ul.left_nav li a:hover{color:#AF3333;}
        
.tbx_editor select{width:auto;}
.rbl_list td{padding:0px !important;}


/*Drop down Menu*/
/*LEVEL ONE*/
ul.dropdown_menu { position: relative; margin:0px; list-style:none; z-index:1000; }
ul.dropdown_menu li  { font-weight: bold; float: left; zoom: 1; /*background: #ccc;*/ }
ul.dropdown_menu a:hover { /*color: #000;*/ }
ul.dropdown_menu a:active { color: #ffa500; }
ul.dropdown_menu li a { display: block; padding: 4px 8px; /*border-right: 1px solid #333;color: #222;*/ }
ul.dropdown_menu li:last-child a { border-right: none; } /* Doesn't work in IE */
ul.dropdown_menu li.hover,
ul.dropdown_menu li:hover                { background: #B8C9D2; color: black; position: relative; }
ul.dropdown_menu li.hover a              { color: black; }
/* 	LEVEL TWO*/
ul.dropdown_menu ul 					{ width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown_menu ul li 					{ font-weight: normal; background: #B8C9D2; color: #000; border-bottom: 1px solid #ccc; float: none; }							  
/* IE 6 & 7 Needs Inline Block */
ul.dropdown_menu ul li a				{ border-right: none; width: 100%; display: inline-block; } 
/* 	LEVEL THREE*/
ul.dropdown_menu ul ul 					{ left: 100%; top: 0; }
ul.dropdown_menu li:hover > ul 			{ visibility: visible; }