﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Menu.ascx.cs" Inherits="Sivananda_Controls_Menu" %>
<div id="menu">
	<div class="inner">
        <ul>                                               
            <li><a class="" href="#">Item1</a></li>
            <li><a class="" href="#">Item2</a></li>
            <li><a class="" href="#">Item3</a></li>
        </ul>
    </div>
</div>
