﻿<%@ WebHandler Language="C#" Class="ImageManager" %>

using System;
using System.Collections.Generic;
using System.Drawing;
using System.Drawing.Imaging;
using System.IO;
using System.Net;
using System.Web;

using FreeImageAPI;
using iTECH.Library;
using iTECH.Library.Utilities;
using iTECH.Library.Web;

public class ImageManager : HttpImageHandler
{

}