<%@ Control Language="VB" AutoEventWireup="false" CodeFile="HProcurement.ascx.vb" Inherits="Controls_HProcurement" %>
<div id="tabsH">
    <ul id="ulMainMenu" runat="server">
        <%--<li>
            <asp:Label ID="lblPO" runat="server" CssClass="heading" Text="<%$ Resources:Resource, ManagePurchaseOrders %>"></asp:Label>
        </li>--%>
        <% If Session("UserModules").ToString.Contains("PRO") = True Or Session("UserModules").ToString.Contains("ADM") = True Then%>
      <%--  <li><a id="imgCmdViewPO" runat="server" causesvalidation="false" href="#"><span style="min-width: 120px;
            text-align: center;">
            <%=Resources.Resource.btnViewPurchaseOrder%>
        </span></a></li>--%>
        <% End If%>
        <% If Session("UserModules").ToString.Contains("POA") = True Or Session("UserModules").ToString.Contains("ADM") = True Then%>
      
       <%-- For Feed back no 1767
        <li><a id="imgCmdApprovePO" runat="server" causesvalidation="false" href="#"><span
            style="min-width: 120px; text-align: center;">
            <%=Resources.Resource.btnApprovePO%>
        </span></a></li>--%>
        <% End If%>
        <% If Session("UserModules").ToString.Contains("PRO") = True Or Session("UserModules").ToString.Contains("ADM") = True Then%>
      <%--  <li><a id="imgCmdCreatePO" runat="server" causesvalidation="false" href="#"><span
            style="min-width: 120px; text-align: center;">
            <%=Resources.Resource.btnCreatePO%>
        </span></a></li>--%>
        <% End If%>
 <%-- For Feed back no 1767
    <li><a id="imgCmdUpdatePO" runat="server" causesvalidation="false" href="#"><span
            style="min-width: 120px; text-align: center;">
            <%=Resources.Resource.btnUpdatePO%>
        </span></a></li>--%>
        <% If Request.QueryString("vdrID") <> "" Then%>
        <%--<li>
            <asp:Label ID="lblVendorName" runat="server" CssClass="heading">
            </asp:Label>
        </li>
        <li><a id="imgCmdAddList" runat="server" causesvalidation="false" href="#"><span
            style="min-width: 120px; text-align: center;">
            <%=Resources.Resource.btnproddesc%>
        </span></a></li>--%>
        <%End If%>
    </ul>
</div>
