<%@ Control Language="VB" AutoEventWireup="false" CodeFile="LefReceiving.ascx.vb" Inherits="LeftReceiving" %>
  <div>
  <BR /><BR />
  <table align=left width=100% class="table" style="border:0" border=0 >
     <tr height=25>
       <td align=center class=titleBgColor >
            <asp:Label ID="lblPO" runat=server cssclass="leftHeading" Text="Manage Purchase Orders" ></asp:Label></td>
    </tr>
    <tr><td height=5></td></tr>
    <tr>
        <td align=right>
            <div class="buttonwrapper"><a ID="cmdReceiving" runat="server" CausesValidation=false class="ovalbutton" href="#" ><span class="ovalbutton" style="min-width:120px;text-align:center;"><%=Resources.Resource.btnimgReceiving%></span></a></div>
        </td>
    </tr>
      <tr><td height=2></td></tr>
<%--    <tr>
        <td align=right>
            <asp:ImageButton ID=imgCmdCreatePO runat=server CausesValidation=false ImageUrl="~/images/CreatePO.png" />
        </td>
    </tr>
     <tr><td height=2></td></tr>
    <tr>
        <td align=right>
            <asp:ImageButton ID=imgCmdUpdatePO runat=server CausesValidation=false ImageUrl="~/images/UpdatePO.png" />
        </td>
    </tr>--%>
    <tr><td height=10></td></tr>
  </table> 
  </div>