﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Menu.ascx.cs" Inherits="Controls_Menu" %>
<div class="menu_seperator">
    <div class="menu_seperator_container">
        <div class="menu_bar">
            <ul id="ulMainMenu" runat="server">                               
                
            </ul>
        </div>
    </div>
</div>