﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="UsersLeft.ascx.cs" Inherits="Controls_UsersLeft" %>
    <ul id="custMenu" class="menu inbiz-left-menu collapsible">
        <li class="active"><a href="#">Action</a>
            <asp:BulletedList ID="blstNav" DisplayMode="HyperLink" DataTextField="Text"
                DataValueField="Value" runat="server" style="display:block;">
            </asp:BulletedList>
        </li>
    </ul>