<h1>FRENCH</h1><SPAN lang=EN-CA style="FONT-SIZE: 10pt; COLOR: #101010; LINE-HEIGHT: 115%; FONT-FAMILY: Calibri; mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Arial; mso-ansi-language: EN-CA; 
					mso-fareast-language: EN-CA; mso-bidi-language: AR-SA">
					<STRONG>Terms:<BR>
					</STRONG>Firstaid Central requires you to supply us with your registered business number and tax number if you intend to 
					resell the&nbsp;items you purchased.<BR><BR>
					<STRONG>Deliveries:</STRONG> 
					<BR>Delivery times are estimates only and are subject to change without notice. 
					<SPAN style="mso-spacerun: yes">&nbsp;</SPAN>
					Out-of-stock and back-ordered items will be shipped when available. 
					<SPAN style="mso-spacerun: yes">&nbsp;</SPAN>
					Items may be dropped or discontinued without notice.<BR><BR>
					<STRONG>Cancellations and Returns:</STRONG> 
					<BR>All orders are final unless cancelled in writing within five business days of the order.&nbsp; 
					Orders cancelled after five days are subject to a 30% restocking fee.&nbsp;&nbsp; 
					If an order is cancelled after five days, all future orders placed with Firstaid Central 
					will be subject to a non-refundable 50% deposit.&nbsp; Cost of return for online merchandise is 
					the sole responsibility of the customer.<BR>
					<BR>Return of goods will not be accepted without prior authorization and specific instructions from 
					X&amp;R GLOBAL Import/Export Company.&nbsp; 
					All returned goods are subject to a restocking fee.&nbsp; 
					Firstaid Central is not responsible for damage to goods in 
					transit from delivery services (See Breakage, Loss or Damage).<BR><BR>
					<STRONG>International Orders:</STRONG> <BR>
					All international orders are pre-paid only by T/T (Wire transfer).<BR><BR>
					<STRONG>Shipping Breakage, Loss or Damage:</STRONG> <BR>
					Merchandise is inspected and carefully packed before leaving our warehouse or our manufacturer. 
					It is the purchaser's responsibility to examine merchandise for damage before signing Carrier's Bill 
					of Lading.&nbsp; The Carrier/Delivery Service upon accepting shipment assumes the responsibility 
					for safe delivery.&nbsp; Therefore, claims for merchandise delivered broken or damaged must be 
					reported directly to the Carrier and they will provide you with instructions on how to proceed with the 
					claim.&nbsp; WE CANNOT ASSUME RESPONSIBILITY FOR MERCHANDISE WHICH IS DAMAGED BY THE CARRIER.<BR><BR>
					<STRONG>Shipping Information:<BR></STRONG>Most of the items we ship will be sent via UPS or FEDEX.&nbsp;&nbsp;
					 We also use major carriers like TnT and R&amp;L, DELMAR, COSCO, etc.&nbsp; 
					 These carriers require that a person be at the place of delivery when they arrive.<BR><BR>
					 When the piece you ordered is delivered, you must inspect it before the delivery person leaves.&nbsp; 
					 If you do not ensure the item is undamaged, we cannot issue any claims for damages. 
					 <SPAN style="mso-spacerun: yes">&nbsp;</SPAN>
					 Once you have inspected the piece, you will be required to sign for it.<BR><BR>
					 The major carriers will not carry the item you ordered inside your house.&nbsp; 
					 They can only deliver to the front door or driveway area.&nbsp; From there, it will be your 
					 responsibility to move the item inside.&nbsp; Since some of our items are very large, 
					 you will probably need at least one other person to help you carry your item inside.<BR><BR>
					 If you ordered a small item, it will be shipped via UPS or FEDEX, in which case, delivery will 
					 follow UPS's or FEDEX's standard delivery procedure.<BR><BR>Estimated shipping time is between 30-45
					 &nbsp;business days, or orders that are on back order, customers will be notified with an estimated 
					 shipping date usually within 5 days. <SPAN style="mso-spacerun: yes">&nbsp;</SPAN>
					 Release refers to "Deliveries" on our Terms and Conditions page.<BR>SHIPPING PRICES ARE NOT GUARANTEED 
					 <BR style="mso-special-character: line-break"><BR style="mso-special-character: line-break"></SPAN>