﻿<%@ Page Language="C#" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h3>Website is under Maintenance Mode! We will be back in next few minutes!</h3>
        <%Response.Write(Request.UserHostAddress); %><br />
        <%Response.Write(ConfigurationManager.AppSettings["MaintenanceModeIPAllowed"]);%><br />
        <%Response.Write(ConfigurationManager.AppSettings["MaintenanceModeIPAllowed"].Contains(Request.UserHostAddress));%><br />
    </div>
    </form>
</body>
</html>
