/*custom css*/
body{}
*{margin:0;padding:0;}



.clr{clear:both;width:100%;font-size:0;line-height:0;}
.dnone{display:none;}
.pos-relative{position:relative;}
h2.popup_title_newbg {padding:4px;text-align:center;}
h2.popup_title_newbg span{padding-top:5px; display: block;}





#topbar{background:url('../../images/top-bar.gif') repeat-x left top;
/*padding: 9px 15px;*/
}




.content-wrap{width:99px;margin:0 auto;background-color:#C3DFFB;padding:15px 7px;border:1px solid #94c9fe;border-top:1px solid #adcae7;}/*padding:15px;*/
.padbox{padding:0 5px;}
.prime-wrap{}
.searchlbl .lblBold {color: #0f213f;font: bold 11px Tahoma,Arial;padding-right:10px;}
.searchinpt{background:#fdfdfe url('../../images/searchbg.gif') repeat-x left top;
padding: 5px;border:1px solid #9ecefe;width:280px;font-size:12px;
line-height:12px;color:#2f4459;
}
#lblCusSrh{border-style: none;
	border-color: inherit;
	border-width: 0;
	/*background: url('../../images/searchbtn.png') repeat-x left top;*/
	padding: 3px 21px 6px;
	font-size:12px;width: 153px;height: 27px;
	line-height:12px;color:#422C19;cursor:pointer;font-weight:bold;top:-2px;position:relative;
	border-radius: 9px;
	padding-left:5px;
	padding-right:5px;
	
background: #ffd529; /* Old browsers */
background: -moz-linear-gradient(top,  #ffd529 0%, #ffd529 37%, #ffd529 37%, #f7790e 56%, #f7790e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd529), color-stop(37%,#ffd529), color-stop(37%,#ffd529), color-stop(56%,#f7790e), color-stop(100%,#f7790e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffd529 0%,#ffd529 37%,#ffd529 37%,#f7790e 56%,#f7790e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffd529 0%,#ffd529 37%,#ffd529 37%,#f7790e 56%,#f7790e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffd529 0%,#ffd529 37%,#ffd529 37%,#f7790e 56%,#f7790e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffd529 0%,#ffd529 37%,#ffd529 37%,#f7790e 56%,#f7790e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd529', endColorstr='#f7790e',GradientType=0 ); /* IE6-9 */
border: 1px #f7a633 solid;
}
#lblCusSrh:hover{color:#896240;}
.inptcvr{width:200px !important;}
.rytboxbg,.productgrid-popup{background-color:#fefefe;border:1px solid #9ecefe;padding: 15px;}
.frminpt{background:#fdfdfe url('../../images/searchbg.gif') repeat-x left top;
padding: 5px;border:1px solid #9ecefe;font-size:12px;
line-height:12px;color:#2f4459;
}
#btnManager{border-style: none;
	border-color: inherit;
	border-width: 0;
	/*background: url('../../images/searchbtn.png') repeat-x left top;*/
	padding: 3px 21px 6px;
	font-size:12px;width: 153px;height: 27px;
	line-height:12px;color:#422C19;cursor:pointer;font-weight:bold;top:-2px;position:relative;
		border-radius: 9px;
	padding-left:5px;
	padding-right:5px;
	
	background: #ffd529; /* Old browsers */
background: -moz-linear-gradient(top,  #ffd529 0%, #ffd529 37%, #ffd529 37%, #f7790e 56%, #f7790e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd529), color-stop(37%,#ffd529), color-stop(37%,#ffd529), color-stop(56%,#f7790e), color-stop(100%,#f7790e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffd529 0%,#ffd529 37%,#ffd529 37%,#f7790e 56%,#f7790e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffd529 0%,#ffd529 37%,#ffd529 37%,#f7790e 56%,#f7790e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffd529 0%,#ffd529 37%,#ffd529 37%,#f7790e 56%,#f7790e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffd529 0%,#ffd529 37%,#ffd529 37%,#f7790e 56%,#f7790e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd529', endColorstr='#f7790e',GradientType=0 ); /* IE6-9 */
border: 1px #f7a633 solid;
}
#btnManager:hover{color:#896240;}
.inptcvr{width:200px !important;}
.rytboxbg,.productgrid-popup{background-color:#fefefe;border:1px solid #9ecefe;padding: 15px;}
.frminpt{background:#fdfdfe url('../../images/searchbg.gif') repeat-x left top;
padding: 5px;border:1px solid #9ecefe;font-size:12px;
line-height:12px;color:#2f4459;
}
#popPrdSearch{border-style: none;
	border-color: inherit;
	border-width: 0;
	/*background: url('../../images/searchbtn.png') repeat-x left top;*/
	padding: 3px 21px 6px;
	font-size:12px;width: 153px;height: 27px;
	line-height:12px;color:#422C19;cursor:pointer;font-weight:bold;top:-2px;position:relative;
			border-radius: 9px;
	padding-left:5px;
	padding-right:5px;
	
	background: #ffd529; /* Old browsers */
background: -moz-linear-gradient(top,  #ffd529 0%, #ffd529 37%, #ffd529 37%, #f7790e 56%, #f7790e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd529), color-stop(37%,#ffd529), color-stop(37%,#ffd529), color-stop(56%,#f7790e), color-stop(100%,#f7790e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffd529 0%,#ffd529 37%,#ffd529 37%,#f7790e 56%,#f7790e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffd529 0%,#ffd529 37%,#ffd529 37%,#f7790e 56%,#f7790e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffd529 0%,#ffd529 37%,#ffd529 37%,#f7790e 56%,#f7790e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffd529 0%,#ffd529 37%,#ffd529 37%,#f7790e 56%,#f7790e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd529', endColorstr='#f7790e',GradientType=0 ); /* IE6-9 */
border: 1px #f7a633 solid;
}
#popPrdSearch:hover{color:#896240;}
.inptcvr{width:200px !important;}
.rytboxbg,.productgrid-popup{background-color:#fefefe;border:1px solid #9ecefe;padding: 4px;}
.frminpt{background:#fdfdfe url('../../images/searchbg.gif') repeat-x left top;
padding: 5px;border:1px solid #9ecefe;font-size:12px;
line-height:12px;color:#2f4459;
}
.form-inputlarge{width:110px;text-align:left;}
.form-inputsml{width:30px;text-align:center;}
.leftsydwrap{padding-right:5px;}/*padding-right:10px;*/
.mastergrid{margin:50px 10px 0 0;width:98%;}
.mastergrid td{padding:5px;font-size:12px; line-height:16px;border:1px solid #bdccdb;background-color:#dde9f6;}
.mastergrid .grid-header td{font-weight:bold;background-color:#4d6d8d;padding:10px 5px;}
.inpt-largetable{}

.checkksumtable td{padding:5px 0;font-size:12px; line-height:16px;}
.checkksumtable .head-row td{font-weight:bold;background-color:#;padding:8px 0;}
.splhack{}


.footerbx td{padding:5px 0 10px;background-color:#384b69;}
.subtablepr{margin:15px 0;}
.waste-ico{margin:8px;}
 
.payButtonGroup span{display:block; text-align:center; margin-top:5px;}      
.payButtonGroup fieldset{height:110px;border:1px solid #bdccdb;background-color:#eff4f8;}
.payButtonGroup fieldset legend{font-weight:bold;}       
.cash-selectwrap{position:absolute;right:0;top:-10px;}
.dollar,.keypad-key{border-style: none;
	border-color: inherit;
	border-width: 0;
	background: url('../../images/dollarbg.png') no-repeat left top;
	padding-bottom: 4px !important;width:60px;height:27px !important;color:#242424;
	text-align:center;font-size:12px;font-weight:bold;display: inline-block;margin:0 0 8px;cursor:pointer;
}
.keypad-clear, .keypad-back, .keypad-close, .keypad-shift {background: url('../../images/black-btn.png') no-repeat left top !important;
color:#fefefe !important;
}
.hd-sec{position:relative;}
.fomkol{border:1px solid #bdccdb;}
#keypad-div{border: 1px solid #BDCCDB !important;background-color:#e8eef6 !important;}

/*	Pullout Menu	*/
.pulloutmenu-wrap{position:relative;}
.pulloutmenu-wrap .pullout-btn{position:absolute;right:-24px;top:-19px;width:34px;height:42px;background:url('../../images/menu-pullout.png') no-repeat left top;/*right:-32px;*/
text-indent:-9999px;z-index: 99;
}
.pulloutmenu-wrap .click-hide{background-image:url('../../images/menu-close.png') !important;
}
.productgrid-popup{width:396px;padding:0 !important;height: 569px;margin-right: 15px;}
.discount_title {color: #fff;font-size: 18px !important;padding: 10px !important;text-align:center !important;display: block;margin-bottom: 5px;
background-color:#334769;font-weight: normal;position:relative;}
.gridryt-space{padding-right:15px;padding-bottom:15px;}
.grid-product{width:125px;height:100px;}
.grid-product table{width:100%;}
.prdgrid-scroller{height:495px;overflow-y:auto;width:386px;padding-left: 15px;}
.scroll-holder{width:368px;}
.scroll-holder .gridryt-space:last-child{padding-right:0 !important;}
.popup-close{background:url('../../images/popup-close.png') no-repeat left top;
padding: 0;width:33px;height:34px;text-indent:-9999px;display:block;
position:absolute;right:-10px;top:-10px;
}
.in-poptd{border: 1px solid #279efa !important;background:#328eea url('../../images/btnbrod-bg.png') repeat-x left top !important;
}
.inner-grid{height:52px;width:108px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.inner-grid span{color:#fff !important;}
.slideaction-cvr{background:url('../../images/menu-close-cvr.png') no-repeat 1px top;
width:43px;height:42px;text-indent:-9999px;display:block;
position:absolute;left:-35px;top:-3px;z-index: 101;
}
.ingrid-action{background-color:#eff4f8;}
.ingridbtn-back{border-style: none;
	border-color: inherit;
	border-width: 0;
	background: url('../../images/undo.png') no-repeat left top;
	padding: 7px 0px 5px 40px;
	color:#fff;font-size:16px;font-weight:bold;
	cursor:pointer;width: 0px;position:absolute;right:10px;top:5px;
}

.cobtn{display:block;height:18px;}
.del-btn{background-position:right top !important;float:right;margin-right:5px;}
.add-btn{background-position:left top;float:left;margin-left:5px;}
.gridaction-btn{width:37px;height:37px;display:block;background:url('../../images/ico-plusminus1.png') no-repeat;
margin-top:5px;
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
	#topbar{width:1010px;}
	#footer {width:1010px}
	.body{width:1010px;}
 }

 @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
	#topbar{width:1010px;}
	#footer {width:1010px}
	.body{width:1010px;}	
 }

