﻿/* Language Tabls ***/

#langTab{text-align: right; margin-bottom:5px;}
#langTab a
{	
	margin: 0;
	padding: 5px;
	text-align: left;
	text-decoration: none;
	/*background: #EAEBD8;*/
	/*color: #2875DE;*/
	color:#fff;
	font: 11px arial
}
#langTab a.current
{	
	margin: 0;
	padding: 5px;
	text-align: left;
	text-decoration: none;
	background: #49A3FF;
	/*background-color:#000;*/
	color: #FFF;
	font: 11px arial
}

#langTab a:hover
{	
    background-color:#49A3FF;
	color: #FFF;
}

/* Language tab ends here.  */


.menu_seperator {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background-attachment:scroll;
background-color:#A0A0A0;
background-image:none;
background-position:0 0;
background-repeat:repeat;
/*height:38px;*/
text-align:left;
font-family:"Lucida Sans Unicode";
}
.menu_seperator_container
{
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	/*height: 38px;*/
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	text-align: left;
	background: url(menu-images/menu_back.jpg) left top;
}
.menu_bar {
}
.menu_bar ul {
height:38px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin-bottom:0;
margin-left:0;
margin-right:0;
margin-top:0;
padding-bottom:0;
padding-left:0;
padding-right:0;
padding-top:0;
}
.menu_bar li {
float:left;
/*width:9em;*/
}
.menu_bar li a {
color:#CCCCCC;
display:block;
font-size:13px;
line-height:38px;
text-align:left;
padding:0px 10px 0px 10px;
text-decoration:none;
}
.menu_bar li span.heading {
font-weight:bold;
color:#fff; 
display:block;
font-size:13px;
line-height:38px;
text-align:left;
padding:0px 10px 0px 10px;
text-decoration:none;
background-color:#000;
/*background-attachment:scroll;
background-color:transparent;
background-image:url(menu-images/menu_hover.jpg);
background-position:left top;
background-repeat:repeat-x;*/
}
.menu_bar li a:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background-attachment:scroll;
background-color:transparent;
background-image:url(menu-images/menu_hover.jpg);
background-position:left top;
background-repeat:repeat-x;
color:#000000;
}

.menu_bar li a.current {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background-attachment:scroll;
background-color:transparent;
background-image:url(menu-images/menu_hover.jpg);
background-position:left top;
background-repeat:repeat-x;
color:#fff;
}
.menu_bar li ul {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background-attachment:scroll;
background-color:#515151;
background-image:none;
background-position:0 0;
background-repeat:repeat;
display:none;
height:auto;
opacity:0.95;
position:absolute;
width:225px;
z-index:2000;
}
.menu_bar li:hover ul {
display:block;
}
.menu_bar li li {
display:block;
float:none;
width:225px;
}
.menu_bar li ul a {
display:block;
font-size:12px;
font-style:normal;
height:15px;
line-height:15px;
padding-bottom:3px;
padding-left:15px;
padding-right:10px;
padding-top:3px;
text-align:left;
}
.menu_bar li ul a:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background-attachment:scroll;
background-color:#949494;
background-image:none;
background-position:0 0;
background-repeat:repeat;
color:#000000;
opacity:1;
}
.menu_bar p {
clear:left;
}
.menu_bar .menutitle a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background-attachment:scroll;
background-color:#000000;
background-image:none;
background-position:0 0;
background-repeat:repeat;
color:#FFFFFF;
font-weight:bold;
height:20px;
line-height:20px;
padding-left:10px;
}
.menu_bar .menutitle a:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background-attachment:scroll;
background-color:#000000;
background-image:none;
background-position:0 0;
background-repeat:repeat;
color:#FFFFFF;
font-weight:bold;
}

/*- Menu Tabs H--------------------------- */

#tabsH {
  width:100%;
  /*float:left;
  background:#000;*/
  /*background: url(menu-images/menu_back.jpg) left top;*/
  background:#c5ced7;
  font-size:93%;
  line-height:normal;      
}
#tabsH ul {
  margin:0 auto;	  
  padding:5px 0 0;
  list-style:none;
  height:33px;
  width:1002px;
}
#tabsH li {
  display:block;
  margin:0 5px 0 0;
  padding:0;
  float:left;
}
#tabsH li a {
  background:url("../../images/tableftK.png") no-repeat left top;
  background-position:0% -42px;
  margin:0;
  padding:0 0 0 6px;
  text-decoration:none;
  display: block;
  font-size:12px;
}
#tabsH li a span {
  float:left;
  display:block;
  background:url("../../images/tabrightK.png") no-repeat right top;
  background-position:100% -42px;
  padding:9px 15px 10px 6px;
  color:#2a3341;
  min-width: 107px; 
  text-align: center;
}
  
#tabsH li a.current {
	background-position:left top;
	/*background-position:0% -42px;*/
}
#tabsH li a.current span {
	background-position:right top;
	color:#ffffff;
	/*background-position:100% -42px;*/
}
  
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabsH li a span {float:none;}
/* End IE5-Mac hack */
#tabsH li a:hover span {
  color:#ffffff;  
}
#tabsH li a:hover {
 background-position:left top;
   /*background-position:0% -42px;*/
}
#tabsH li a:hover span {
  background-position:right top;
  /*background-position:100% -42px;*/
}
      
 
 
 
  /*Other Sub - Sub Menu */
  
#tabsH li.sMenu {
  display:inline;
  margin:0;
  padding:0;
  
  }
#tabsH li.sMenu a {
  float:left;
  background:url("menu-images/tableftB.gif") no-repeat left top;
  background-position:0% -42px;
  margin:0;
  padding:0 0 0 4px;
  text-decoration:none;  
  }
#tabsH li.sMenu a span {
  float:left;
  display:block;
  background:url("menu-images/tabrightB.gif") no-repeat right top;
 background-position:100% -42px;
  padding:5px 15px 4px 6px;
  color:#000;
  }
  
    #tabsH li.sMenu a.current {
 /* background-position:left top;*/
 /* background-position:0% -42px;*/
  background:url("menu-images/tableftI.gif") no-repeat left top;
  background-position:0% -42px;
  }
#tabsH li.sMenu a.current span {
 /*  background-position:right top;*/
 /*background-position:100% -42px;*/
 background:url("menu-images/tabrightI.gif") no-repeat right top;
 background-position:100% -42px;
 color:#fff;
  }
  
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabsH li.sMenu a span {float:none;}
/* End IE5-Mac hack */
#tabsH li.sMenu a:hover span {
  color:#fff;
  }
#tabsH li.sMenu a:hover {
/* background-position:left top;*/
/*   background-position:0% -42px;*/
background:url("menu-images/tableftI.gif") no-repeat left top;
background-position:0% -42px;
  }
#tabsH li.sMenu a:hover span {
 /* background-position:right top;*/
/*  background-position:100% -42px;*/
 background:url("menu-images/tabrightI.gif") no-repeat right top;
 background-position:100% -42px;
  }
  

 @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
	#tabsH li a span {padding:9px 13px 10px 6px;} 
 }
 
 @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
	#tabsH li a span {padding:9px 13px 10px 6px;} 
 }