﻿.divBorderGray
{
	border: 2px solid #515151;
}

.divBorderLight
{
	background-color:#c5ced7;
}

.divSectionTitle
{
	margin:5px;
	background-color:#1797c0;
}

.divSectionTitle h2
{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	line-height:15px;
	padding:5px 9px 5px 9px;
}

.divSectionContent
{
	background-color:#e3f3ff;
	margin:5px;
	color:#000;
	padding:5px;
	min-height:50px;
}

.divSectionContent span
{ 
	color:#000;
}

.divMainContainerTitle
{
	/*margin:5px;
	background-color:#e3f3ff;*/
}

.divMainContainerTitle h2
{
	font-family:'Trebuchet MS',Helvetica,sans-serif;
	font-size:22px;
	font-weight:bold;
	color:#880015;
	line-height:26px;
	padding:5px 0;
}

.divMainContent
{
	margin:10px 0 0 ;
	text-align: left;
}

.imgCSVButton
{
	margin:0px 0px 10px 0px;
}

.divCommandButton
{
	display:block; 
	float:left; 
	margin:5px;
}

.searchOptionTable td
{
	padding:2px;
}

.brMargin5
{
	margin:5px;
}


/* Alert/Event Calendar Starts Here */

.calDayStyle a
{
	font-size: 1.1em;
   
}
.calDayStyle 
{
	height:100px;
}
.calIssuePastDue a
{
	font-family: Arial, Verdana; 
	font-size: 0.8em;
	color:#fff;
}
.calIssuePastDue
{
	margin:3px;
	background-color:#FF7777;
	border-radius: 0.25em 0.25em;
	-moz-border-radius: 0.25em 0.25em;
	color:#fff;
	padding:3px;
   
}
.calIssue
{
	border-radius: 0.25em 0.25em;
	-moz-border-radius: 0.25em 0.25em;
	background-color:#8888BB;
	margin:3px;
	color:#fff;
	padding:3px;
}
.calIssue a
{
	font-family: Arial, Verdana; 
	font-size: 0.85em;
	 /*   color:#555557;*/
	color:#fff;
}

/* Alert/Event Calendar Ends Here */


/* JQuary Messages CSS Starts */ 
.messagebox{
	position:absolute;
	width:100px;
	margin-left:30px;
	border:1px solid #c93;
	background:#ffc;
	padding:3px;
}
.messageboxok{
	position:absolute;
	width:auto;
	margin-left:30px;
	border:1px solid #349534;
	background:#C9FFCA;
	padding:3px;
	font-weight:bold;
	color:#008000;
	
}
.messageboxerror{
	position:absolute;
	width:auto;
	margin-left:30px;
	border:1px solid #CC0000;
	background:#F7CBCA;
	padding:3px;
	font-weight:bold;
	color:#CC0000;
}



/* Custom */
.c_messagebox{
	width:100px;
	border:1px solid #c93;
	background:#ffc;
	padding:3px;
}
.c_messageboxok{
	width:auto;
	border:1px solid #349534;
	background:#C9FFCA;
	padding:3px;
	font-weight:bold;
	color:#008000;
	
}
.c_messageboxerror{
	width:auto;
	border:1px solid #CC0000;
	background:#F7CBCA;
	padding:3px;
	font-weight:bold;
	color:#CC0000;
}

/* JQuary Messages CSS ends */ 


/* Custom Center popup css */

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
.clsTB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

.clsTB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

.clsTB_window a:link {color: #666666;}
.clsTB_window a:visited {color: #666666;}
.clsTB_window a:hover {color: #000;}
.clsTB_window a:active {color: #666666;}
.clsTB_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
.clsTB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.clsTB_overlayMacFFBGHack {background: url(../../images/macFFBgHack.png) repeat;}
.clsTB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html .clsTB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

.clsTB_window {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 4px solid #525252;
	text-align:left;
	top:50%;
	left:50%;
}

* html .clsTB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

.clsTB_window img.clsTB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

.clsTB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

.clsTB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

.clsTB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

.clsTB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}

.clsTB_title{
	background-color:#e8e8e8;
	height:27px;
}

.clsTB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

.clsTB_ajaxContent.clsTB_modal{
	padding:15px;
}

.clsTB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

.clsTB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html .clsTB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

.clsTB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html .clsTB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

.clsTB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}

