body {
	background-color: #FFF000;
}

td {
	font: normal 11px Tahoma, Arial;
	color: #494949;
}

h1, h2, h3, h4, h5 {

    color: #460a04;
    margin: 0px;
}


h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}


a {

font: normal 11px Tahoma, Arial;
color: #414141;
}

a:hover {

font: normal 11px Tahoma, Arial;
color: black;
color: #53aff0; 
/*font-weight:bold;*/
text-decoration: none;

}

a.white-link-underline {	
	text-decoration: underline;
	color: #FFFFFF;
}

.white-text{
color: #ffffff;

}


.blye-text-underline {
color: #348cbc;
text-decoration: underline;
}

.blye-text-regular {
color: #348cbc;
}

.yellow-text-regular {
color: #db9a00;
}

.yellow-text-underline {
color: #db9a00;
text-decoration: underline;
}

.orange-text-regular {
color: #ca6011;
}

.orange-text-underline {
color: #ca6011;
text-decoration: underline;
}

.red-text-regular {
color: #920f0d;
}

.red-text-underline {
color: #920f0d;
text-decoration: underline;
}


.gray-text{
color: #4c4c4c;
}

.green-text{
color: #76950b;
}

/* SanghSheel */
.body {
	background-color: #5F6062;
}

.lblBold
{
    font: normal 11px Tahoma, Arial;
	color: #494949;
	font-weight:bold;    
}

.style1 
{
    color: #FF0000;
    font-weight:bold;
}

.table 
{
    border: 1px solid #E6EDF5; 
}

.tdAlign {
	font: normal 11px Tahoma, Arial;
	color: #494949;
	text-align:right;
	padding-right:5px;
}

.tdAlignLeft {
	font: normal 11px Tahoma, Arial;
	color: #494949;
	text-align:left;
	padding-right:5px;
}

.tdBullet 
{
    width:18%;
    text-align:right;
	padding-right:4px;
}



span
{
    color:#FFFFFF;
}

.grdFooterStyle
{
    background-color:#5F6062;
    font-weight:bold;
    color:#FFFFFF;
}
.grdRowStyle
{
    color:#333333;
}
.grdEditRowStyle
{
    color:#999999;
}
.grdSelectedRowStyle
{
    background-color:#E2DED6;
    font-weight:bold;
    color:#333333;
}
.grdPagerStyle
{
    background-color:#5F6062;
    font-weight:bold;
    color:#FFFFFF;
    text-align:left;
    vertical-align:middle;
    height:15px;
}
.grdHeaderStyle
{
    background-color:#5F6062;
    font-weight:bold;
    color:#FFFFFF;
    text-align:left;
    vertical-align:middle;
    height:15px;
}
.grdAlternatingRowStyle
{
    background-color:#EDEDEE;
    color:#284775;
}
.leftlink 
{
    font: normal 11px Tahoma, Arial;
    color: #414141;
    width:150px;
    height:34px;
}

.imgLogin 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../../images/login.png);
}
.imgReset 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../../images/reset.png);
}
.imgCancel
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../../images/cancel.png);
}
.imgSave 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../../images/save.png);
}
.imgSubmit
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../../images/submit.png);
}
.imgNext 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../../images/Next.png);
}
.imgSend 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../../images/send.png);
}
.imgInternalUser 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/InternalUser.png);
}
.imgAddInternalUser 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/AddInternalUser.png);
}
.imgExternalUser 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/ExternalUser.png);
}
.imgAddExternalUser 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/AddExternalUser.png);
}
.imgWarehouse 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/Warehouse.png);
}
.imgAddWarehouse 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/AddWarehouse.png);
}
.imgGlobalParameters
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/GlobalParameters.png);
}
.imgAddCompany
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/AddCompany.png);
}
.imgExchangeRates
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/ExchangeRates.png);
}
.imgAddCurrency 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/AddCurrency.png);
}
.imgProcessGroup
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/ProcessGroup.png);
}
.imgAddProcess 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/AddProcess.png);
}
.imgVendor
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/Vendor.png);
}
.imgAddVendor
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/AddVendor.png);
}
.imgDistributor
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/Distributor.png);
}
.imgAddDistributor
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/AddDistributor.png);
}
.imgReseller
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/Reseller.png);
}
.imgAddReseller
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/AddReseller.png);
}
.imgEndClient
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/EndClient.png);
}
.imgAddEndClient
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/AddEndClient.png);
}
.imgAddress
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/Address.png);
}
.imgAddAddress
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/AddAddress.png);
}
.imgInventory
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/Stock.png);
}
.imgProcurement
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/PurchaseOrder.png);
}
.imgReceiving
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/Receiving.png);
}
.imgSales
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/SalesOrder.png);
}
.imgShipping
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/Shipping.png);
}
.imgInvoice
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/Invoice.png);
}
/* Receiving Image Start */
.imgPONumber
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/PONumber.png);
}
.imgReceiptNo
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/ReceiptNo.png);
}
.imgVendorID
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/VendorID.png);
}
.imgUPCCode
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/UPCCode.png);
}
.imgToday
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/Today.png);
}
.imgThisWeek
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/ThisWeek.png);
}
.imgNextWeek
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/NextWeek.png);
}
.imgAll
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/All.png);
}
.imgUpdateReceivingStatus
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/UpdateReceivingStatus.png);
}
.imgCloseReceiving
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/CloseReceiving.png);
}
.imgSearch
{
    cursor: pointer;
    width:24px;
    height:24px;
    border-width:0px;
    background:url(../../images/search.png);
}
/* Receiving Image Close */
/* Shipping Image Start */
.imgOrderNo
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/OrderNo.png);
}
.imgCustomerName
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/CustomerName.png);
}
.imgSalesAgentName
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/SalesAgentName.png);
}
.imgShippingTrackNo
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/ShippingTrackNo.png);
}
.imgCurrentWorkOrders
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/CurrentWorkOrders.png);
}
/* Shipping Image Close */
.imgAddNewVendor
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/AddNewVendor.png);
}
.imgAddNewCustomer
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/AddNewCustomer.png);
}
.imgIntGenerateInvoice
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:110px;
    height:26px;
    border-width:0px;
    background:url(../../images/genInv.png);
    background-repeat:no-repeat ;
}
.imgDupOrder
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:120px;
    height:26px;
    border-width:0px;
    background:url(../../images/dupOrd.png);
    background-repeat:no-repeat ;
}
.imgDupPurOrder
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:26px;
    border-width:0px;
    background:url(../../images/dupPurOrd.png);
    background-repeat:no-repeat ;
}
/**Styling information specific to individual content pages**/

/* Accordion */
.accordionHeader
{
    border: 0px solid #2F4F4F;
    color: #FFFFFF;
    background: url(../../images/back1.gif) rgb(137,135,135) repeat-x left top;
    /*background-color:#E0E0E1;*/
	font-family: Tahoma, Arial;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    text-align:center;
}

#master_content .accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    background-color:White;
    border: 0px solid #2E4d7B ;
    border-top: none;
    padding: 1px;
    padding-top: 10px;
}
/*CollapsiblePanel*/
.collapsePanel {
	
	background-color:white;
	overflow:hidden;
}

.collapsePanelHeader{	
	width:100%;		
	height:30px;
	background-image: url(Images/header2.JPG);
	background-repeat:repeat-x;
	color: #FFF;
	font-weight:bold;
}
A.controlPanelMenuoption {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #999999
}
A.controlPanelMenuoption:link {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #999999
}
A.controlPanelMenuoption:visited {
	COLOR: #999999
}
A.controlPanelMenuoption:active {
	COLOR: #cccccc
}
A.controlPanelMenuoption:hover {
	COLOR: #0000ff
}
#master_content .collapsePanelHeader a {color:#FFF;}
#master_content .collapsePanelHeader a:hover {text-decoration:none;background:none;}
.price
{
    text-align:right;
    padding-right:12px;
}
/* SanghSheel */

/* Mayank */

.lblHeading
{
    font: normal 14px Tahoma, Arial;
    color: #494949;
    font-weight:bold;    
}

.leftHeading
{
    font: normal 12px Tahoma, Arial;
    font-weight:bold; 
    color: #ca6011;  
}

.tdBorder
{
    /*border:1;
    border-color: #B9B9BC; */
    background-color: #E0E0E1; 
    border: #c8c0b3 1pt solid;
}

.innerText
{
    font : normal 11px Tahoma, Arial;
    color : #494949;    
}

.txtBoxPrd
{
    width:150px;
    font : normal 11px Tahoma, Arial;
    color : #494949;    
}

.PopBoxImageSmall
{
     border: none 0px #ffffff;
     cursor: url("../../images/magplus.cur"), pointer;
}
.PopBoxImageLarge
{
     border: solid 1px #999999;
     cursor: url("../../images/magminus.cur"), pointer;
}
.PopBoxImageShrink
{
    cursor: url("../../images/magminus.cur"), pointer;
}
.PopBoxImageLink
{
    cursor: pointer;
}
.PopBoxImageMove
{
     border: none 0px #ffffff;
     cursor: pointer;
}
.tblBorder 
{
    border: 1px solid #D2D2D5; 
}
.popupTR
{
  height:40px;
  border-color:#356083;
  border:1px; 
  border-style:solid;
  background:url(../../images/popupBgHdr.jpg);
}

.popupTable
{
    background:url(../../images/popupbg.jpg);
    border:2px; 
    border-style:solid;
}

.AlbumColor
{
 background:#F7DFB5;
 font-size: 10pt;
 font-weight: bold; 
 border-right: #CD9232 1pt solid;
 border-top: #CD9232 1pt solid;
 border-left: #CD9232 1pt solid;
 border-bottom: #CD9232 1pt solid;
}

.lblPOSPrintBold
{
    font: normal 11px Tahoma, Arial;
	color: #494949;
	font-weight:bold;
	font-size:9px;    
}
.lblPOSPrint
{
    font: normal 11px Tahoma, Arial;
	color: black;
	font-size:9px;    
}
.POSPrintalign
{
 padding-right:5px;
 text-align:center;   
}

/* Mayank */

.imgAddNewOrder 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/AddNewOrder1.png);
     background-repeat:no-repeat ;
}


/* Communication Portal */
.imgSystemUser 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/InternalUser.png);
}
.imgAddSystemUser 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/AddInternalUser.png);
}
.imgPartner 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/Partner.png);
}
.imgAddPartner 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/AddPartner.png);
}
.imgViewContacts 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/ViewContacts.png);
}
.imgAddContact 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/AddContact.png);
}
.imgViewAlerts 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/ViewAlerts.png);
}
.imgAddAlert 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/AddAlert.png);
}
.imgMassEmail 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/MassEmail.png);
}
.imgReports 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:160px;
    height:35px;
    border-width:0px;
    background:url(../../images/Reports.png);
}
.imgAdd 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../../images/Add.png);
}
.imgBack 
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../../images/Back.png);
}
.imgSendMail
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../../images/SendMail.png);
}
.imgTestMail
{
    font: normal 11px Tahoma, Arial;
    cursor: pointer;
    color: #414141;
    width:80px;
    height:26px;
    border-width:0px;
    background:url(../../images/TestMail.png);
}
.lblSimple
{
    font: normal 11px Tahoma, Arial;
	color: #494949; 
}
.lblGray
{
    font: normal 11px Tahoma, Arial;
	color: #C9C9C9;  
}
.tdSpaceWidth 
{
    width:10px;
}
.popup 
{
    width: 300px;
    height: 160px;
    background-color:#f5e28c;
    color: #222;
    font-family:Tahoma;
    padding:10px;
}

.dollar
{
    /*width: 80px;
    height: 40px;
    background-color:#8CBE31;
    color: Black;
    font-size:22px;
    font-weight:bold;*/
}

.txtBoxAmountForPOS
{
    width:135px;/*width:170px;*/
    font : normal 11px Tahoma, Arial;
    color : #494949;
    font-size:16px;
    font-weight:bold;
    text-align:right;    
}

.tblPOSMenuPrd
{
 border-right: #CD9232 2pt solid;
 border-top: #CD9232 2pt solid;
 border-left: #CD9232 2pt solid;
 border-bottom: #CD9232 2pt solid;
    height:80px;
    width:90px;
}

/* Communication Portal */

/* Anoop for Pinpad print */

.lblPOSPinpadPrintBold
{
    font: normal 4px Tahoma, Arial;
	color: #494949;
	font-weight:bold;
	font-size:xx-small 
}
.lblPOSPinpadPrintBoldCust
{
    font: normal 4px Tahoma, Arial;
	color: #494949;
	font-weight:bold;
	font-size:xx-small 
}
.lblPOSPinpadPrint
{
    font: normal 4px Tahoma, Arial;
	color: black;
	font-size:xx-small
}

.lblPOSPinpadPrintCust
{
    font: normal 4px Tahoma, Arial;
	color: black;
	font-size:xx-small
}

.POSPinpadPrintalign
{
 padding-right:2px;
 text-align:center;   
}

/* Button CSS */
a.ovalbutton{
/*background: transparent url('../../images/oval-orangbtn-left.png') no-repeat top left;*/
display: block;
/*float: left;*/
font-family:Tahoma; /* Change 13px as desired */
font-size:13px;
line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
font-weight:bold;
height: 38px; /* Height of button background height */
padding-left: 7px; /* Width of left menu image */
text-decoration: none;

background: #ffd529; /* Old browsers */
background: -moz-linear-gradient(top,  #ffd529 0%, #ffd529 24%, #f6760e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd529), color-stop(24%,#ffd529), color-stop(100%,#f6760e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffd529 0%,#ffd529 24%,#f6760e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffd529 0%,#ffd529 24%,#f6760e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffd529 0%,#ffd529 24%,#f6760e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffd529 0%,#ffd529 24%,#f6760e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd529', endColorstr='#f6760e',GradientType=0 ); /* IE6-9 */

border-radius: 9px;
height:auto;

}

a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{
color: #422c19; /*button text color*/
}

a.ovalbutton span{
/*background: transparent url('../../images/oval-orangbtn-ryt.png') no-repeat top right;*/
display: block;
padding: 11px 11px 11px 0; /*Set 11px below to match value of 'padding-left' value above*/
text-align:center;
}

a.ovalbutton:hover{ /* Hover state CSS */
/*background-position: left -38px;*/

background: #f6760e; /* Old browsers */
background: -moz-linear-gradient(top,  #f6760e 0%, #ffd529 76%, #ffd529 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6760e), color-stop(76%,#ffd529), color-stop(100%,#ffd529)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6760e 0%,#ffd529 76%,#ffd529 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6760e 0%,#ffd529 76%,#ffd529 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6760e 0%,#ffd529 76%,#ffd529 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6760e 0%,#ffd529 76%,#ffd529 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6760e', endColorstr='#ffd529',GradientType=0 ); /* IE6-9 */
border-radius: 9px;
height:auto;
}

a.ovalbutton:hover span{ /* Hover state CSS */
/*background-position:right -38px;*/
background: #f6760e; /* Old browsers */
background: -moz-linear-gradient(top,  #f6760e 0%, #ffd529 76%, #ffd529 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6760e), color-stop(76%,#ffd529), color-stop(100%,#ffd529)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6760e 0%,#ffd529 76%,#ffd529 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6760e 0%,#ffd529 76%,#ffd529 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6760e 0%,#ffd529 76%,#ffd529 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6760e 0%,#ffd529 76%,#ffd529 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6760e', endColorstr='#ffd529',GradientType=0 ); /* IE6-9 */
color: #3e1b07;
border-radius: 9px;
height:auto;
}

span.ovalbutton{
color:  #422c19; /*button text color*/
}
/*Start Green Button*/
/* Button CSS */
a.ovalgreenbutton{
background: transparent url('../../images/oval-greenbtn-left.png') no-repeat top left;
display: block;
/*float: left;*/
font-family:Tahoma; /* Change 13px as desired */
font-size:13px;
line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
font-weight:bold;
height: 38px; /* Height of button background height */
padding-left: 7px; /* Width of left menu image */
text-decoration: none;
}

a:link.ovalgreenbutton, a:visited.ovalgreenbutton, a:active.ovalgreenbutton{
color: #422c19; /*button text color*/
}

a.ovalgreenbutton span{
background: transparent url('../../images/oval-greenbtn-ryt.png') no-repeat top right;
display: block;
padding: 11px 11px 11px 0; /*Set 11px below to match value of 'padding-left' value above*/
text-align:center;
}

a.ovalgreenbutton:hover{ /* Hover state CSS */
background-position: left -38px;
}

a.ovalgreenbutton:hover span{ /* Hover state CSS */
background-position:right -38px;
color: #3e1b07;
}

span.ovalgreenbutton{
color:  #422c19; /*button text color*/
}

/*End */




/*Start Light Green Button*/
/* Button CSS */
a.ovallightgreenbutton{
/*background: transparent url('../../images/oval-lightgreenbtn-left.png') no-repeat top left;*/
background: #90ff82; /* Old browsers */
background: -moz-linear-gradient(top, #90ff82 0%, #90ff82 36%, #28c933 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90ff82), color-stop(36%,#90ff82), color-stop(100%,#28c933)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #90ff82 0%,#90ff82 36%,#28c933 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #90ff82 0%,#90ff82 36%,#28c933 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #90ff82 0%,#90ff82 36%,#28c933 100%); /* IE10+ */
background: linear-gradient(to bottom, #90ff82 0%,#90ff82 36%,#28c933 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90ff82', endColorstr='#28c933',GradientType=0 ); /* IE6-9 */
 border-radius:8px;
 border: 1px solid #6AFF56;
display: block;
/*float: left;*/
font-family:Tahoma; /* Change 13px as desired */
font-size:13px;
line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
font-weight:bold;
height: 38px; /* Height of button background height */
padding-left: 7px; /* Width of left menu image */
text-decoration: none;
}

a:link.ovallightgreenbutton, a:visited.ovallightgreenbutton, a:active.ovallightgreenbutton{
color: #422c19; /*button text color*/
}

a.ovallightgreenbutton span{
/*background: transparent url('../../images/oval-lightgrrenbtn-ryt.png') no-repeat top right;*/
display: block;
padding: 11px 11px 11px 0; /*Set 11px below to match value of 'padding-left' value above*/
text-align:center;
}

a.ovallightgreenbutton:hover{ /* Hover state CSS */
background: #28c933; /* Old browsers */
background: -moz-linear-gradient(top,  #28c933 0%, #90ff82 64%, #90ff82 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#28c933), color-stop(64%,#90ff82), color-stop(100%,#90ff82)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #28c933 0%,#90ff82 64%,#90ff82 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #28c933 0%,#90ff82 64%,#90ff82 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #28c933 0%,#90ff82 64%,#90ff82 100%); /* IE10+ */
background: linear-gradient(to bottom,  #28c933 0%,#90ff82 64%,#90ff82 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28c933', endColorstr='#90ff82',GradientType=0 ); /* IE6-9 */

}

a.ovallightgreenbutton:hover span{ /* Hover state CSS */
background-position:right -38px;
color: #3e1b07;
}

span.ovallightgreenbutton{
color:  #422c19; /*button text color*/
}

/*End */

/*Start Light Red Button*/
/* Button CSS */
a.ovallightredbutton{
/*background: transparent url('../../images/oval-lightredbtn-left.png') no-repeat top left;*/
background: #ff9696; /* Old browsers */
background: -moz-linear-gradient(top, #ff9696 1%, #ff9696 32%, #ff5151 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff9696), color-stop(32%,#ff9696), color-stop(100%,#ff5151)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff9696 1%,#ff9696 32%,#ff5151 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff9696 1%,#ff9696 32%,#ff5151 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff9696 1%,#ff9696 32%,#ff5151 100%); /* IE10+ */
background: linear-gradient(to bottom, #ff9696 1%,#ff9696 32%,#ff5151 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9696', endColorstr='#ff5151',GradientType=0 ); /* IE6-9 */
border-radius:8px;
border: 1px solid #FF3F3F;
display: block;
/*float: left;*/
font-family:Tahoma; /* Change 13px as desired */
font-size:13px;
line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
font-weight:bold;
height: 38px; /* Height of button background height */
padding-left: 7px; /* Width of left menu image */
text-decoration: none;
}

a:link.ovallightredbutton, a:visited.ovallightredbutton, a:active.ovallightredbutton{
color: #422c19; /*button text color*/
}

a.ovallightredbutton span
{
/*background: transparent url('../../images/oval-lightredbtn-ryt.png') no-repeat top right;*/
display: block;
padding: 11px 11px 11px 0; /*Set 11px below to match value of 'padding-left' value above*/
text-align:center;
}

a.ovallightredbutton:hover{ /* Hover state CSS */
/*background-position: left -38px;*/
background: #ff5151; /* Old browsers */
background: -moz-linear-gradient(top, #ff5151 0%, #ff9696 68%, #ff9696 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5151), color-stop(68%,#ff9696), color-stop(99%,#ff9696)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff5151 0%,#ff9696 68%,#ff9696 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff5151 0%,#ff9696 68%,#ff9696 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff5151 0%,#ff9696 68%,#ff9696 99%); /* IE10+ */
background: linear-gradient(to bottom, #ff5151 0%,#ff9696 68%,#ff9696 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5151', endColorstr='#ff9696',GradientType=0 ); /* IE6-9 */
}

a.ovallightredbutton:hover span{ /* Hover state CSS */
background-position:right -38px;
color: #3e1b07;
}

span.ovallightredbutton{
color:  #422c19; /*button text color*/
}

/*End */
.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
}

.tblBorder
{
    border-right: gray 1pt solid;
    border-top  : gray 1pt solid;
    border-left: gray 1pt solid;
    border-bottom: gray 1pt solid;
}


.smallbutton{ 
overflow: hidden; 
width: 100px;
}

/*.titleBgColor
{
  background-color:#E0E0E1;  
}*/

.titleBgColor {
  color: black;
  background: url(../../images/back1.gif) rgb(137,135,135) repeat-x left top;
  border: 1px solid rgb(107,107,107);
  height: 2em;
}

.titleBgColorPos 
{
  /*background-color:#E0E0E1; */
}



.CalenderTab
{
  background:#CBE9FB;  
   height:22px; 
}

.CalenderGrid 
{
   font-family: normal 11px Tahoma, Arial; 
   font-size: 9pt;
   font-weight:bold;
   color:White;
   background:#CBA180;
}

.CalenderTabFont
{
   text-decoration:none;
   font-weight:bold;
   color:Black;
}

.CalenderAlternatingRow
{
   color:#284775;
   background:#F2F2F2;
}

.fontLable 
{
    font-family: normal 11px Tahoma, Arial; 
    font-size: 9pt;
}


.trNew
{
 background:#CBE9FB;
}

.HomeCal
{
	background-color:aliceblue;
	width:130px;
	height:18px;
	}
	.iconDetails
	 {
    background: url(../../images/view.gif) no-repeat left top;
    display:inline;
    padding-left:18px;
    margin-left: 10px;
    padding-right:10px;
}

span[disabled] {
	color:#000;
}
.mastergrid_main{
  margin: 50px 12px 0 0;
    max-height: 388px;
    overflow-x: hidden;
    overflow-y: auto;
	width:98%;
}
.mastergrid_main .mastergrid{
  margin: 0;
  width:100%;
}

body { 
position: absolute; 
top:0; left:0;
bottom: 0; right: 0; 
overflow-y: auto; 
overflow-x: auto;
 }

html { overflow: auto; } 

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 10px; border-radius: 10px; } /* Handle */ 
::-webkit-scrollbar-thumb { -webkit-border-radius: 10px; border-radius: 10px; background: rgba(0,0,0,0.8); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); } 
::-webkit-scrollbar-thumb:window-inactive { background: rgba(0,0,0,0.4); }



/* Button CSS */
a.blueovalbutton{
/*background: transparent url('../../images/oval-orangbtn-left.png') no-repeat top left;*/
display: block;
/*float: left;*/
font-family:Tahoma; /* Change 13px as desired */
font-size:13px;
line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
font-weight:bold;
height: 38px; /* Height of button background height */
padding-left: 7px; /* Width of left menu image */
text-decoration: none;

background: #77cbea; /* Old browsers */
background: -moz-linear-gradient(top,  #77cbea 0%, #21b4e2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#77cbea), color-stop(100%,#21b4e2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #77cbea 0%,#21b4e2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #77cbea 0%,#21b4e2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #77cbea 0%,#21b4e2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #77cbea 0%,#21b4e2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77cbea', endColorstr='#21b4e2',GradientType=0 ); /* IE6-9 */







border-radius: 9px;
height:auto;

}

a:link.blueovalbutton, a:visited.blueovalbutton, a:active.blueovalbutton{
color: #422c19; /*button text color*/
}

a.blueovalbutton span{
/*background: transparent url('../../images/oval-orangbtn-ryt.png') no-repeat top right;*/
display: block;
padding: 11px 11px 11px 0; /*Set 11px below to match value of 'padding-left' value above*/
text-align:center;
}

a.blueovalbutton:hover{ /* Hover state CSS */
/*background-position: left -38px;*/

background: #21b4e2; /* Old browsers */
background: -moz-linear-gradient(top,  #21b4e2 0%, #77cbea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#21b4e2), color-stop(100%,#77cbea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #21b4e2 0%,#77cbea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #21b4e2 0%,#77cbea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #21b4e2 0%,#77cbea 100%); /* IE10+ */
background: linear-gradient(to bottom,  #21b4e2 0%,#77cbea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21b4e2', endColorstr='#77cbea',GradientType=0 ); /* IE6-9 */






border-radius: 9px;
height:auto;
}

span.blueovalbutton{
color:  #422c19; /*button text color*/
}



/*Start Light Red Button*/
/* Button CSS */
a.blueovalgreenbutton{
/*background: transparent url('../../images/oval-lightredbtn-left.png') no-repeat top left;*/
background: #76d155; /* Old browsers */
background: -moz-linear-gradient(top,  #76d155 1%, #398235 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#76d155), color-stop(100%,#398235)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #76d155 1%,#398235 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #76d155 1%,#398235 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #76d155 1%,#398235 100%); /* IE10+ */
background: linear-gradient(to bottom,  #76d155 1%,#398235 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76d155', endColorstr='#398235',GradientType=0 ); /* IE6-9 */


border-radius:8px;
/*border: 1px solid #FF3F3F;*/
display: block;
/*float: left;*/
font-family:Tahoma; /* Change 13px as desired */
font-size:13px;
line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
font-weight:bold;
height: 38px; /* Height of button background height */
padding-left: 7px; /* Width of left menu image */
text-decoration: none;
}

a:link.blueovalgreenbutton, a:visited.blueovalgreenbutton, a:active.blueovalgreenbutton{
color: #422c19; /*button text color*/
}

a.blueovalgreenbutton span
{
/*background: transparent url('../../images/oval-lightredbtn-ryt.png') no-repeat top right;*/
display: block;
padding: 11px 11px 11px 0; /*Set 11px below to match value of 'padding-left' value above*/
text-align:center;
}

a.blueovalgreenbutton:hover{ /* Hover state CSS */
/*background-position: left -38px;*/
background: #398235; /* Old browsers */
background: -moz-linear-gradient(top,  #398235 0%, #76d155 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#398235), color-stop(99%,#76d155)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #398235 0%,#76d155 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #398235 0%,#76d155 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #398235 0%,#76d155 99%); /* IE10+ */
background: linear-gradient(to bottom,  #398235 0%,#76d155 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#398235', endColorstr='#76d155',GradientType=0 ); /* IE6-9 */
}

a.blueovalgreenbutton:hover span{ /* Hover state CSS */
background-position:right -38px;
color: #3e1b07;
}

span.blueovalgreenbutton{
color:  #422c19; /*button text color*/
}

/*End */

