﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CRM_Menu.ascx.cs" Inherits="Partner_UserControls_CRM_Menu" %>
<div class="acc_left_menu">
    <span class="menu_head"><a href="#">Actions</a> </span>
    <asp:BulletedList ID="blstNav" CssClass="left_nav" DisplayMode="HyperLink" runat="server">
    </asp:BulletedList>
</div>

