﻿/*grid css*/
img
{
 border:0;
}
.grid_header
{
	 background:url('../images/header_bg.gif') repeat-x;
	 height:26px;
	 color:#ffffff;
	 font-family:Tahoma;
	 font-size:11px;
}
.grid_header td
{
	 border-bottom:1px solid #1e4577;
	 padding-left:7px;
}
.grid_header a
{
	color:#ffffff;
	font-family:Tahoma;
	font-size:11px;
	text-decoration:none;
}
.view_grid
{
	 border:1px solid #1e4577;
	 width: 750px;
}
.grid_footer
{
	background-color:#2580c1;
	height:28px;
	color:#fff;
	font-family:Tahoma;
	font-size:11px; 
	font-weight:bold;
	padding-left:5px;
}
.grid_footer a
{
	color:#fff;
	font-family:Tahoma;
	font-size:11px;
	font-weight:normal; 
	text-decoration:none;
	padding-left:5px;
}
.grid_rowstyle td
{
	background-color:#f1f1f1; 
	border-bottom:1px solid #ffffff;
	color:#323232;
	font-family:Tahoma;
	font-size:11px;
	padding-left:7px;
	padding-top:7px;
	padding-bottom:7px;
	*padding-top:6px;
	*padding-bottom:6px;
}
.grid_rowstyle a
{
	 color:#163c6d;
	 font-family:Tahoma;
	 font-size:11px;
	 text-decoration:none;
	 font-weight:bold;
}
.grid_alter_rowstyle td
{
	background-color:#e3f3fd; 
	color:#323232;
	font-family:Tahoma;
	font-size:11px;
	padding-left:7px;
	padding-top:7px;
	padding-bottom:7px;
	*padding-top:6px;
	*padding-bottom:6px;
	
}
.grid_alter_rowstyle td
{
	border-bottom:1px solid #9eb6ce;
	border-top:1px solid #9eb6ce;
}
.grid_alter_rowstyle a
{
	 color:#163c6d;
	 font-family:Tahoma;
	 font-size:11px;
	 text-decoration:none;
	 font-weight:bold;
}

.view_grid650
{
	 border:1px solid #1e4577;
	 width: 650px;
}
.test
{
	margin-bottom:5px;
}