﻿<div style="font: 14px Arial,Helvetica,sans-serif; margin: 0 auto;
    padding: 18px; border: 12px solid #f0f1f2">
    Dear #GUEST_NAME#,
    <br />
    <p>
        Your reservation has been canceled as requested with Sivananda Ashram Yoga Camp in Val Morin, QC.        
    </p>
       <p>
        This email is to inform you that we have refunded your credit card the following amount: #AMOUNT_TO_REFUND#
       </p>
       <p>
        Here are the details of the refund:
       </p>
    <p>
        Order#: #ORDER_NO# <br />
        Transaction ID: #TRANSACTION_ID#<br />       
        Amount paid: #AMOUNT_PAID#  <br />
        Administration Fee: #ADMIN_FEE#<br />
        Refund Issued: #AMOUNT_TO_REFUND#
    </p>    
    <p>
          Please call the Ashram at (+1) 819-322-3226 or 1-800-263-9642 (Canada/USA) for any
            questions or concerns.
    </p>
    <p>
        Thank you, <br />
        Ashram Staff
    </p>
</div>
<div style="font: 15px Arial,Helvetica,sans-serif; font-weight:bold; border-bottom:1px solid #000; margin-bottom:10px;">
    Original Reservation
</div>
<div style="font: 14px Arial,Helvetica,sans-serif; margin: 0 auto;
    padding: 18px; border: 12px solid #f0f1f2">
    #RESERVATION_DETAILS#
</div>
