﻿<span style="text-decoration: underline; font-weight: bold">Reservation Details:
</span>
<p>
    Confirmation #: #CONFIRMATION_NO#
    <br />
    Check-In: #CHECKIN_DATE#<br />
    Check-out: #CHECKOUT_DATE#<br />
    Transaction ID: #TRANSACTION_ID#
    <br />
</p>
<p>
    #TOTAL_BEDS# #BED_RESOURCE# in a #ROOM_TYPE# type accommodation
</p>
<p>
    #BED_GUEST_LIST#</p>
<span style="text-decoration: underline; font-weight: bold">Summary of Charges:
</span>
<br />
<p>
    Bed Cost (average per bed per night):#BEDCOST_PER_NIGHT#
    <br />
    Number of beds: #TOTAL_BEDS#<br />
    Type of beds: #ROOM_TYPE#
    <br />
    Number of nights: #NO_OF_NIGHTS#<br />
    Beds Subtotal: #BED_SUB_TOTAL#</p>
<p>
    Services (if any): #SERVICES#
</p>
<p>
    Total Cost: #GRAND_TOTAL#
    <br />
    Remaining Balance: #REMAINING_BALANCE#</p>
