﻿<div style="font: 12px Lucida Sans Unicode,Lucida Grande,sans-serif; margin: auto;">
      <div style="margin: auto;">
        <b> Dear #CUSTOMER_CONTACT_NAME#,</b>
        <br />
==================================================<br />
<b>SHIPPING DETAILS</b><br />
==================================================<br />
The following items were shipped  from #COMPANY_NAME#
in package 1 of this shipment:<br />
<b>Order Number:</b> #ORDER_NUMBER#
<ol style="margin:5px 0px;">
    <!--@START_PRODUCT_DESCRIPTION_TEMP@<li>#PRODUCT_DESCRIPTION#</li>@END_PRODUCT_DESCRIPTION_TEMP@-->
    #PRODUCT_DESCRIPTION_LIST#
</ol>

<b>Shipping Carrier:</b> #SHIPPING_CARRIER#<br />
<b>Ship Date:</b> #SHIP_DATE# <!--December 10, 2012--><br />
<b>Carrier Tracking ID:</b> #SHIPPING_TRACKING_NO#<br />
<b>Your shipping address:</b>
<br />
#SHIPPING_ADDRESS#
   <br />


<b>QUESTIONS?</b><br />
          If you have questions about this order, including the status of your shipment, 
          you can either reach us <a href="mailto:#COMPANY_EMAIL#">#COMPANY_WEBSITE#</a> or call #COMPANY_PHONE# No 
          or <a href="mailto:#COMPANY_EMAIL#">#COMPANY_EMAIL#</a><br />

<br />

***********************************************************************
<br />
Cher #CUSTOMER_CONTACT_NAME#,
<br />
==================================================<br />
<b>INFORMATIONS DE LIVRAISON</b><br />
==================================================<br />
Les articles suivants ont été vendus dans l'ensemble 1 de cet envoi :<br />
<b>Numéro de commande:</b> #ORDER_NUMBER#
<ol style="margin:5px 0px;">
     #PRODUCT_DESCRIPTION_LIST#
</ol>
<b>Transporteur :</b> #SHIPPING_CARRIER#<br />
<b>Date d'expédition :</b>  #SHIP_DATE#<br />
<b>ID de suivi du transporteur :</b> #SHIPPING_TRACKING_NO#<br />
<b>Votre adresse de livraison :</b>
<br />
   #SHIPPING_ADDRESS#
<br />

<b>Des questions ?</b><br />
          Si vous avez des questions au sujet de cette commande, y compris le statut de 
          votre envoi, vous pouvez nous joindre <a href="mailto:#COMPANY_EMAIL#">#COMPANY_WEBSITE#</a> ou parle #COMPANY_PHONE# 
          No ou parle <a href="mailto:#COMPANY_EMAIL#">#COMPANY_EMAIL#</a><br />

**************************************************
      </div>
</div>