﻿ <div style="font: 14px Arial,Helvetica,sans-serif; margin: 0 auto;
    padding: 18px; border: 12px solid #f0f1f2">
 <p>        
		 #GUEST_NAME# #SPIRITUAL_NAME# has successfully reserved #TOTAL_BEDS# #BED_RESOURCE# in a #ROOM_TYPE# room for #NO_OF_NIGHTS# night!
    </p>
  
    <span style="text-decoration: underline;font-weight:bold">Détails de la reservation: </span>
    <br />
    <br />
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                 No. de confirmation:
            </td>
            <td>
                #CONFIRMATION_NO#
            </td>
        </tr>
        <tr>
            <td>
                Date d’arrivée:
            </td>
            <td>
                #CHECKIN_DATE#
            </td>
        </tr>
        <tr>
            <td>
                Date de depart:
            </td>
            <td>
                #CHECKOUT_DATE#
            </td>
			<tr>
			<td>Transaction ID:</td>
			<td>#TRANSACTION_ID#</td>
		</tr>
        </tr>
    </table>
    <p>
        #TOTAL_BEDS# #BED_RESOURCE# dans une #ROOM_TYPE#
    </p>
    <p>
        #BED_GUEST_LIST#</p>
	<br />
	<span style="text-decoration: underline;font-weight:bold">Reservation Notes: </span>
	<p>#RESERVATION_NOTES#</p>
	<br />
	<span style="text-decoration: underline;font-weight:bold">Customer Notes: </span>
	<p>#CUSTOMER_NOTES#</p>
    <span style="text-decoration: underline;font-weight:bold">Sommaire des Frais: </span>
    <br />
    <br />
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                Coût du lit (moyenne par lit par nuit):
            </td>
            <td>
                #BEDCOST_PER_NIGHT#
            </td>
        </tr>
        <tr>
            <td>
               Nombre de lits:
            </td>
            <td>
                #TOTAL_BEDS#
            </td>
        </tr>
        <tr>
            <td>
                Type de lits:
            </td>
            <td>
                #ROOM_TYPE#
            </td>
        </tr>
        <tr>
            <td>
                 Nombre de nuits:
            </td>
            <td>
                #NO_OF_NIGHTS#
            </td>
        </tr>
        <tr>
            <td>
              Sous-total (lits):
            </td>
            <td>
                #BED_SUB_TOTAL#
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="margin-top: 10px;">
                    Services (s'il ya lieu):</div>
            </td>
        </tr>
        #SERVICES#
        <tr>
            <td>
                Coût total:
            </td>
            <td>
                #GRAND_TOTAL#
            </td>
        </tr>
		<tr>
			<td>Solde restant:</td>
			<td>#REMAINING_BALANCE#</td>
		</tr>
    </table>    
    <p style="font-style: italic">
       Please email the guest at  <a href="mailto:#GUEST_EMAIL#">
            #GUEST_EMAIL#</a> if anything changes with the reservation.
    </p>  
</div>