﻿  <div style="font: 14px Arial,Helvetica,sans-serif; margin: 0 auto;
    padding: 18px; border: 12px solid #f0f1f2">
 <p>
        Merci de votre reservation #GUEST_NAME# #SPIRITUAL_NAME#!
    </p>
    <p>
        Votre réservation a été un succès avec le Camp Sivananda Ashram Yoga à Val Morin, QC.</p>
    <span style="text-decoration: underline;font-weight:bold">Détails de la reservation: </span>
    <br />
    <br />
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
               No. de confirmation:
            </td>
            <td>
                #CONFIRMATION_NO#
            </td>
        </tr>
        <tr>
            <td>
                Date d’arrivée:
            </td>
            <td>
                #CHECKIN_DATE#
            </td>
        </tr>
        <tr>
            <td>
                Date de depart:
            </td>
            <td>
                #CHECKOUT_DATE#
            </td>
			<tr>
			<td>Transaction ID:</td>
			<td>#TRANSACTION_ID#</td>
		</tr>
        </tr>
    </table>
    <p>
        #TOTAL_BEDS# #BED_RESOURCE# dans une chambre #ROOM_TYPE# 
    </p>
    <p>
        #BED_GUEST_LIST#</p>
    <span style="text-decoration: underline;font-weight:bold"> Sommaire des Frais: </span>
    <br />
    <br />
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                Coût du lit (moyenne par lit par nuit):
            </td>
            <td>
                #BEDCOST_PER_NIGHT#
            </td>
        </tr>
        <tr>
            <td>
                Nombre de lits:
            </td>
            <td>
                #TOTAL_BEDS#
            </td>
        </tr>
        <tr>
            <td>
                Type de lits:
            </td>
            <td>
                #ROOM_TYPE#
            </td>
        </tr>
        <tr>
            <td>
                Nombre de nuits:
            </td>
            <td>
                #NO_OF_NIGHTS#
            </td>
        </tr>
        <tr>
            <td>
                Sous-total (lits):
            </td>
            <td>
                #BED_SUB_TOTAL#
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="margin-top: 10px;">
                    Services (s'il ya lieu):</div>
            </td>
        </tr>
        #SERVICES#
        <tr>
            <td>
                Coût total:
            </td>
            <td>
                #GRAND_TOTAL#
            </td>
        </tr>
		<tr>
			<td>Solde restant:</td>
			<td>#REMAINING_BALANCE#</td>
		</tr>
    </table>
    <p style="font-weight: bold;">
        Sivananda Ashram Yoga Camp a débité votre carte pour le paiement complet de cette reservation
    </p>
    <p style="font-style: italic">
        S'il vous plaît appelez l'Ashram au (+1) 819-322-3226 ou 1-800-263-9642 (Canada / Etats-Unis) pour des questions ou des préoccupations
    </p>   
</div>