<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Print.aspx.vb" Inherits="Inv_Print" %>

<%@ Import Namespace="Resources.Resource" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <link href="../Css/style.css" rel="stylesheet" type="text/css" />
    <script language="javascript">
        var PrintCommandObject = null;

        function printPage() {
            if (PrintCommandObject) {
                try {
                    PrintCommandObject.ExecWB(6, 2);
                    PrintCommandObject.outerHTML = "";
                }
                catch (e) {
                    window.print();
                    //var tt=	document.getElementById('div1').innerHTML;
                    //printIt(tt);
                }
            }
            else {
                window.print();
                //var tt=document.getElementById('div1').innerHTML;
                //printIt(tt);
            }
            //
            var browserName = navigator.appName;
            if (navigator.appName != "Microsoft Internet Explorer") {
                window.close();
            }
            else {
                //alert(window.location.search.substring(1));
                //location.href="ViewInvoiceDetails.aspx?"+window.location.search.substring(1);
                window.close();
            }
        }

        window.onload = function () {
            Minimize();
            if (navigator.appName == "Microsoft Internet Explorer") {
                // attach and initialize print command ActiveX object
                try {
                    var PrintCommand = '<object id="PrintCommandObject" classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2" width="0" height="0"></object>';
                    document.body.insertAdjacentHTML('beforeEnd', PrintCommand);
                }
                catch (e) { }
            }
            setTimeout(printPage, 1);
        };

        //function printIt(target) { 
        //  Minimize();
        //  winId=window.open('','printwin','width=1,height=1,left=900,top=800,'); 
        //  winId.document.write(target); 
        //  winId.document.close(); 
        //  winId.focus(); 
        //  if (window.print) winId.print(); 
        //  winId.close();//this line is added to close the window after printing
        //} 

        function Minimize() {
            window.innerWidth = 10;
            window.innerHeight = 10;
            window.screenX = screen.width;
            window.screenY = screen.height;
            alwaysLowered = true;
        }

    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div align="center">
        <asp:Label ID="lblData" runat="server"></asp:Label>
    </div>
    </form>
</body>
</html>
