﻿<div style="font: 12px Lucida Sans Unicode,Lucida Grande,sans-serif; width: 1000px; margin: auto;">
     <div style="margin: auto;">
         <table border='0' cellpadding='0' cellspacing='0' style="font-size:11px;">
            <tr>
                <td>
                    <table border='0' cellspacing='0' cellpadding='5' style="font-size:11px; width:990px;">
                        <tr>
                            <td valign="top"  style="width:280px; text-align:center; height:160px;">
                                <!--<img src="https://live2.itechcanada.com/POSSupply/PrintTemplates/images/possupply.png" />-->
                                <img src="#COMPANY_LOGO_URL#" style="width:260px;" />
                                <!--<img id="img" src="#COMPANY_LOGO_URL#" style="border:1px solid #ccc;" />-->
                                <!--<img src="https://live2.itechcanada.com/PrabhDemo/Upload/companylogo/ZWMQDEOX.png" alt="Alternate Text" style="border:1px solid #ccc;" />-->
                                <br />                                
                                #COMPANY_ADDRESS#<br />
                                #COMPANY_FHONE_FAX#<br />                                  
                            </td>                            
                            <td valign="top" style="width:520px;">      
                                <div style="position:relative;">
                                    <div style="position:absolute; top:0px; right:0px; color:#fff; font-weight:bold;">
                                        <h2 style="color:#000; text-align:right; padding-top:0px; margin-top:0px;">
                                            Invoice/Facture
                                        </h2>
                                        <div style="background-color:#407DBD;border:1px solid #407DBD;width:50px; float:left; height:32px; padding:2px; text-align:left;">
                                            DATE
                                        </div>
                                        <div style="border:1px solid #407DBD;width:120px; float:left; height:32px; padding:2px; text-align:left; color:#000;">
                                            #INVOICE_DATE#
                                        </div>
                                        <div style="background-color:#407DBD;border:1px solid #407DBD;width:120px; float:left; height:32px; padding:2px; text-align:left;">
                                            NO. DE FACTURE INVOICE #
                                        </div>
                                        <div style="border:1px solid #407DBD;width:120px; float:left; padding:2px; text-align:left;color:#000; height: 32px;">
                                            #INVOICE_NO#                                           
                                        </div>
                                        <div style="clear:both;">
                                        </div> 
                                        <div style="margin-top:3px;"></div>
                                        <div style="background-color:#407DBD;border:1px solid #407DBD;width:50px; float:left; height:32px; padding:2px; text-align:left;">
                                            PO #
                                        </div>
                                        <div style="border:1px solid #407DBD;width:120px; float:left; height:32px; padding:2px; text-align:left; color:#000;">
                                            <!--#PO_NO#-->
                                        </div>
                                        <div style="background-color:#407DBD;border:1px solid #407DBD;width:120px; float:left; height:32px; padding:2px; text-align:left;">
                                            NO. DE COMPTE ACCOUNT #
                                        </div>
                                        <div style="border:1px solid #407DBD;width:120px; float:left; height:32px; padding:2px; text-align:left; color:#000;">
                                            #CUSTOMER_ID#
                                        </div>
                                        <div style="clear:both;">
                                        </div>
                                        <div style="margin-top:3px;"></div>                                        
                                        <div style="border:1px solid #FFF;width:176px; float:left; padding:2px; text-align:center; color:#000;">
                                           <!--<span style="font-family:IDAutomationHC39M; display:block; font-size:12px; font-weight:normal;">#BARCODE_PREFIX##INVOICE_NO##BARCODE_POSTFIX#</span>-->
                                        </div>
                                        <div style="background-color:#407DBD;border:1px solid #407DBD;width:120px; float:left; height:32px; padding:2px; text-align:left;">
                                           Net Terms
                                        </div>
                                        <div style="border:1px solid #407DBD;width:120px; float:left; height:32px; padding:2px; text-align:left; color:#000;">
                                            #Net Terms#
                                        </div>
                                        <div style="clear:both;">
                                        </div>
                                                                                        
                                    </div>
                                </div>                                                          
                            </td>
                        </tr>                        
                        <tr>
                            <td colspan="2">
                                <div style="float: left; width: 380px; margin:auto;">
                                   <!--#LABEL_BILL_TO_ADDRESS#-->
                                    <div style="border: 1px solid #407DBD; padding:5px; min-height:120px;">
                                        <b style="font-size:13px;"> Vendu à/ Bill To:</b><br />
                                        <div>
                                            #CUSTOMER_NAME#<br />
                                            #BILL_TO_ADDRESS#</div><br />
                                        <b style="font-size:13px;">Acheteur/Buyer</b> #BUYER_NAME#                                       
                                    </div>
                                </div>
                                <div style="float: right; width: 380px; margin: auto;">
                                    <!--#LABEL_SHIP_TO_ADDRESS#-->
                                    <div style="border: 1px solid #407DBD; padding:5px; min-height:120px;">
                                        <b style="font-size:13px;"> Livre à/ Ship To:</b><br />
                                        <div>
                                            #CUSTOMER_NAME#<br />
                                            #SHIP_TO_ADDRESS#</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div style="min-height:400px;">
                    <table border='0' cellspacing='0' cellpadding='5' style="font-size:11px; width:990px;">
                        <tr>
                            <td colspan="2">                                
                                <div>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #407DBD;
                                        border-collapse: collapse; font-size:11px; width:800px;">
                                        <tr style="font-size:13px;">
                                            <td style="border-bottom: 1px solid #407DBD;border-right: 1px solid #407DBD; width:75px; padding:3px; text-align:left;">                                                
                                                <b>QUANTITÉ / QUANTITY</b>
                                            </td>
                                            <td style="border-bottom: 1px solid #407DBD;border-right: 1px solid #407DBD; padding:3px; text-align:center;">
                                                <b>DESCRIPTION</b>
                                            </td>
                                            <td style="border-bottom: 1px solid #407DBD;border-right: 1px solid #407DBD; width:100px; padding:3px; text-align:right;">                                                
                                                <b>PRIX ​​UNITAIRE / UNIT PRICE</b>
                                            </td>
                                            <td style="border-bottom: 1px solid #407DBD;width:100px; padding:3px; text-align:right;">                                               
                                                <b>MONTANT / AMOUNT</b>
                                            </td>
                                        </tr>                                        
                                        <!--ITEM_TEMPLATE_START--><!--
                                    <tr>
                                            <td valign="top" style="border-right: 1px solid #407DBD; padding:3px; text-align:left;">
                                                #ITM_UNITS#
                                            </td>
                                            <td valign="top" style="border-right: 1px solid #407DBD; padding:3px; text-align:left;">
                                                #ITM_DESCRIPTION#
                                            </td>
                                            <td valign="top" style="border-right: 1px solid #407DBD; padding:3px; text-align:right;">
                                                #ITM_COST_PER_UNIT#
                                            </td>
                                            <td valign="top" style="padding:3px; text-align:right;">
                                               #ITM_AMOUNT#
                                            </td>                                            
                                        </tr>
                                    --><!--ITEM_TEMPLATE_END-->
                                        <!--ITEM_LIST_PLACEHOLDER-->
                                    </table>
                                    <div>
                                        <div style="float:right; text-align: right; margin-top:10px;width:200px;">
                                            #ITEM_SUB_TOTAL#
                                        </div>
                                        <div style="clear:both"></div>
                                    </div>                               
                                </div>
                                <!--Process Items Div-->
                                <div style="margin-top:1px; #PROCESS_ITEM_DISPLAY#">
                                                   <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #407DBD;
                                        border-collapse: collapse; font-size:11px; width:990px;">
                                        <tr style="font-size:13px;">
                                            <td style="border-bottom: 1px solid #407DBD;border-right: 1px solid #407DBD; width:55px; padding:3px; text-align:left;">                                                
                                                <b>CODE</b>
                                            </td>
                                            <td style="border-bottom: 1px solid #407DBD;border-right: 1px solid #407DBD; padding:3px; text-align:center;">
                                                <b>DESCRIPTION</b>
                                            </td>
                                            <td style="border-bottom: 1px solid #407DBD;border-right: 1px solid #407DBD; width:100px; padding:3px; text-align:right;">                                                
                                                <b>FIXED COST</b>
                                            </td>
                                            <td style="border-bottom: 1px solid #407DBD;border-right: 1px solid #407DBD; width:100px; padding:3px; text-align:right;">                                                
                                                <b>COST/HOUR</b>
                                            </td>
                                            <td style="border-bottom: 1px solid #407DBD;border-right: 1px solid #407DBD; width:100px; padding:3px; text-align:right;">                                                
                                                <b>COST/UNIT</b>
                                            </td>
                                            <td style="border-bottom: 1px solid #407DBD;border-right: 1px solid #407DBD; width:100px; padding:3px; text-align:right;">                                                
                                                <b>TOTAL HOUR</b>
                                            </td>
                                            <td style="border-bottom: 1px solid #407DBD;border-right: 1px solid #407DBD; width:100px; padding:3px; text-align:right;">                                                
                                                <b>TOTAL UNIT</b>
                                            </td>
                                            <td style="border-bottom: 1px solid #407DBD;width:100px; padding:3px; text-align:right;">                                               
                                                <b>MONTANT / AMOUNT</b>
                                            </td>
                                        </tr>                                        
                                        <!--PROCESS_ITEM_TEMPLATE_START--><!--
                                    <tr>
                                            <td valign="top" style="border-right: 1px solid #407DBD; padding:3px; text-align:left;">
                                                #PROCESS_ITM_CODE#
                                            </td>
                                            <td valign="top" style="border-right: 1px solid #407DBD; padding:3px; text-align:left;">
                                                #PROCESS_ITM_DESCRIPTION#
                                            </td>
                                            <td valign="top" style="border-right: 1px solid #407DBD; padding:3px; text-align:right;">
                                                #PROCESS_ITM_FIXED_COST#
                                            </td>
                                            <td valign="top" style="border-right: 1px solid #407DBD; padding:3px; text-align:right;">
                                                #PROCESS_ITM_HOUR_COST#
                                            </td>
                                            <td valign="top" style="border-right: 1px solid #407DBD; padding:3px; text-align:right;">
                                                #PROCESS_ITM_UNIT_COST#
                                            </td>
                                             <td valign="top" style="border-right: 1px solid #407DBD; padding:3px; text-align:right;">
                                                #PROCESS_ITM_TOTAL_HOUR#
                                            </td>
                                             <td valign="top" style="border-right: 1px solid #407DBD; padding:3px; text-align:right;">
                                                #PROCESS_ITM_TOTAL_UNIT#
                                            </td>                                            
                                            <td valign="top" style="padding:3px; text-align:right;">
                                               #PROCESS_ITM_AMOUNT#
                                            </td>                                            
                                        </tr>
                                    --><!--PROCESS_ITEM_TEMPLATE_END-->
                                        <!--PROCESS_ITEM_LIST_PLACEHOLDER-->
                                    </table>

                                    <div>
                                        <div style="float:right; text-align:right;margin-top:10px; width:200px;">
                                            #PROCESS_ITEM_SUB_TOTAL#
                                        </div>
                                        <div style="clear:both"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">                                
                                <table border="0" cellpadding="0" cellspacing="0" style="font-size:11px; width:100%;">
                                    <tr>
                                        <td valign="top" style="font-size:10px;">                                            
                                            <b style="font-size:12px;">Conditions génerales:</b>
                                            <p style="margin-top:2px;">
                                                2% par mois sur snide en soufrance. Toutes les reclamations doivent ittre annoncites
                                                dans 2 jours. Aucun retour sans autonsation prealable. Tout retour de marchandise
                                                est assujetti a des frais de remise en stock et dexpddition de 20%
                                            </p>
                                            <b style="font-size:12px;">Terms & Conditions:</b>
                                            <p style="margin-top:2px;">
                                                2% per month on past due accounts. All claims must be reported within 2 days. No
                                                returns without prior authorization. A 20% restocking & shipping charge will be
                                                applied to all returns,
                                            </p>
                                            <div>
                                                TPS/GST: 813518602 RT0001 TVQIQST: 1217517326 T00001
                                            </div>
                                        </td>
                                        <td valign="top" style="width:200px;">                                           
                                            <div>
                                                <div style="top:10px; right:0px;">     
                                                    <!--@TOTAL_ITEM_START@<div style="line-height:8px;">
                                                        <div style="width: 80px; float: left; padding: 1px; text-align: right;">
                                                        <b style="font-size: 10px;">#TOTAL_TITLE#</b>
                                                        </div>
                                                        <div style="width: 90px; float: right; padding: 1px; text-align: right;
                                                            color: #000;">
                                                            #TOTAL_AMOUNT#
                                                        </div>
                                                        <div style="clear: both;">
                                                        </div>
                                                    </div>@TOTAL_ITEM_END@--> 
                                                    <!--#TOTAL_ITEMS#-->
                                                    <div style="border: 1px solid #407DBD;">
                                                        <div style="width: 80px; float: left; height: 25px; padding: 2px; text-align: right;">
                                                            <b style="font-size: 13px;">TOTAL:</b>
                                                        </div>
                                                        <div style="width: 90px; float: right; height: 25px; padding: 2px; text-align: right;
                                                            color: #000;">
                                                            #GRAND_TOTAL#
                                                        </div>
                                                        <div style="clear: both;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                                                                     
                                        </td>
                                    </tr>
                                </table>                                
                            </td>
                        </tr>  
                    </table>
                    </div>
                    <table border='0' cellspacing='0' cellpadding='5' style="font-size:11px; width:990px;">                   
                        <tr>
                            <td>
                                <div style="border-top: 1px dashed #000; border-top-style: dashed"> 
                                VEUILLEZ JOINDRE CETTE PARTIE AVEC VOTRE PAIEMENT / PLEASE RETURN THIS STUB WITH YOUR PAYMENT TO:<br />
                                <br />
                                </div>
                                <div style="float:left; width:260px; min-height:80px;text-align:center;">
                                    <img src="#COMPANY_LOGO_URL#" width="260" />&nbsp;                                                                       
                                       <br style="line-height:0px;" /> #COMPANY_EMAIL#
                                </div>
                                <div style="float:left; width:280px; padding-left:10px;">
                                    #COMPANY_ADDRESS#<br />
                                    #COMPANY_FHONE_FAX#
                                </div>
                                <div style="float:right; width:240px;">
                                    <div style="position: relative;">
                                        <div style="position: absolute; top: 0px; right: 0px; font-weight: bold;">                                            
                                            <div style="border: 1px solid #407DBD; width: 120px; float: left;
                                                height: 35px; padding: 2px; text-align: left;">
                                                NO. DE FACTURE INVOICE #
                                            </div>
                                            <div style="border: 1px solid #407DBD; width: 100px; float: left; height: 35px; padding: 2px;
                                                text-align: left; color: #000;">
                                                #INVOICE_NO#
                                            </div>
                                            <div style="clear: both;">
                                            </div>
                                            <div style="margin-top: 5px;">
                                            </div>                                            
                                            <div style="border: 1px solid #407DBD; width: 120px; float: left;
                                                height: 35px; padding: 2px; text-align: left;">
                                                NO. DE COMPTE ACCOUNT #
                                            </div>
                                            <div style="border: 1px solid #407DBD; width: 100px; float: left; height: 35px; padding: 2px;
                                                text-align: left; color: #000;">
                                                #CUSTOMER_ID#
                                            </div>
                                            <div style="clear: both;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <div style="float:left; width:150px;">
                                    <table border="0" cellpadding="0" cellspacing="0" style="font-size:11px;">
                                        <tr>
                                            <td style="padding:5px 5px 5px 0px;">
                                                <div style="border: 1px solid #407DBD; width:10px; height:10px;"></div>
                                            </td>
                                            <td style="padding:5px 5px 5px 0px;">
                                                <img src="https://live2.itechcanada.com/POSSupply/PrintTemplates/images/visa.png" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:5px 5px 5px 0px;">
                                                <div style="border: 1px solid #407DBD; width:10px; height:10px;"></div>
                                            </td>
                                            <td style="padding:5px 5px 5px 0px;">
                                                <img src="https://live2.itechcanada.com/POSSupply/PrintTemplates/images/master.png" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:5px 5px 5px 0px;">
                                                <div style="border: 1px solid #407DBD; width:10px; height:10px;"></div>
                                            </td>
                                            <td style="padding:5px 5px 5px 0px;">
                                               CHÈQUE / CHECK
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:5px 5px 5px 0px;">
                                                <div style="border: 1px solid #407DBD; width: 10px; height: 10px;">
                                                </div>
                                            </td>
                                            <td style="padding:5px 5px 5px 0px;">
                                                MANDAT POSTAL / MONEY ORDER
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div style="float:left; width:780px;">
                                    <table border="0" cellpadding="5" cellspacing="5" style="border-collapse:collapse; font-size:11px;">
                                        <tr>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:none;">
                                                &nbsp;</td>
                                           <td style="border:none;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="16">#CARTE/CARD#</td>
                                            <td colspan="2">&nbsp;</td>
                                            <td colspan="4">M M / Y Y</td>
                                        </tr>
                                        <tr>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                           <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid #407DBD;">
                                                &nbsp;</td>
                                            <td style="border:1px solid #407DBD;">
                                                 &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="22">
                                                NOM DE TITULAIRE DE CARTE / CARDHOLDER NAME (PRINT)
                                            </td>
                                        </tr>
                                    </table>                                    
                                </div>
                                <div style="clear:both;"></div>
                                <div>
                                    <div style="position: relative;">
                                        <div style="position: absolute; top: 10px; right: 300px; font-weight: bold; width:350px;"> 
                                            <div style="border-top:1px solid #407DBD;">SIGNATURE</div>                                            
                                        </div>
                                        <div style="position: absolute; top: 0px; right: 0px; font-weight: bold;">                                            
                                            <div style="border: 1px solid #407DBD; border-right:none; width: 100px; float: left;
                                                height: 25px; padding: 2px; text-align: left;">
                                                TOTAL:
                                            </div>
                                            <div style="border: 1px solid #407DBD; border-left:none; width: 100px; float: left; height: 25px; padding: 2px;
                                                text-align: right; color: #000;">
                                                #GRAND_TOTAL#
                                            </div>
                                            <div style="clear: both;">
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
     </div>
</div>




