﻿<div style="color: Black; text-align: center; font: 12px Lucida Sans Unicode,Lucida Grande,sans-serif;">
    <div style="margin: auto; text-align: left;">
        <table width='800' border='1' align='center' cellpadding='0' cellspacing='0'>
            <tr>
                <td>
                    <table width='800' border='0' align='center' cellspacing='0' cellpadding='5'>
                        <tr>
                            <td valign="top"  style="width:250px; text-align:left;">
                                <img id="img" src="#COMPANY_LOGO_URL#" style="border:1px solid #ccc; width:260px" />
                                <!--<img src="https://live2.itechcanada.com/PrabhDemo/Upload/companylogo/ZWMQDEOX.png" alt="Alternate Text" style="border:1px solid #ccc;" />-->
                                <br />
                                <b style="font-size:13px;">#COMPANY_NAME#</b><br />
                                #COMPANY_ADDRESS#
                                <br /> <br />
                                <b style="font-size:13px;">Contact: #CONTACT_NO#</b><br />
                                Phone#: #PHONE_NO#
                            </td>
                            <td valign="top" style="text-align:center;">
                                 #COMPANY_FHONE_FAX#
                            </td>
                            <td height="60" style="text-align:left; width:200px;"> 
                                <h2 style="text-align:center;">
                                    <!--#DOCUMENT_TITLE#-->Packing Slip<br />
                                    <span style="font-size: 12px;"><!--#DOCUMENT_SUB_TITLE#-->Bordereau d'expédition</span>
                                </h2>
                                <div style="border: 1px solid #000;">
                                    No de commande <br /> / Order No: #ORDER_NO#<br />
                                    <span style="font-family:IDAutomationHC39M; display:block; text-align:center;">#BARCODE_PREFIX##ORDER_NO##BARCODE_POSTFIX#</span>
                                </div>
                                <div style="border: 1px solid #000; border-top: none; border-bottom:none;">
                                    No de compte / Cust ID: #CUST_ID#
                                </div>
                                 <div style="border: 1px solid #000; border-top: none;">
                                    Net Terms: #NET_TERMS#
                                </div>                               
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding:0px; margin:0px;">
                                <hr />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div style="float: left; width: 370px; margin: 5px;">
                                   <!--#LABEL_BILL_TO_ADDRESS#--><b> Vendu à/ Bill To:</b>
                                    <div style="border: 1px solid #000; padding:5px;">
                                        #CUSTOMER_NAME# <br />
                                        #BILL_TO_ADDRESS#
                                    </div>
                                </div>
                                <div style="float: right; width: 370px; margin: 5px;">
                                    <!--#LABEL_SHIP_TO_ADDRESS#--><b> Livre à/ Ship To:</b>
                                    <div style="border: 1px solid #000; padding:5px;">
                                        #CUSTOMER_NAME# <br />
                                        #SHIP_TO_ADDRESS#
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding: 5px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
                                    <tr>
                                        <td style="border: 1px solid #000;">
                                            <b><!--#LABEL_BUYER#-->Acheteur/Buyer</b>
                                        </td>
                                        <td style="border: 1px solid #000;">
                                            <b><!--#LABEL_SHIP_VIA#-->Livre par/Ship Via</b>
                                        </td>
                                        <td style="border: 1px solid #000;text-align: center; width: 120px;">
                                            <b><!--#LABEL_ORDER_DATE#-->Date de cmde</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #000;">
                                            #BUYER_NAME#
                                        </td>
                                        <td style="border: 1px solid #000;">
                                            #SHIP_VIA#
                                        </td>
                                        <td style="border: 1px solid #000; text-align:center;">
                                            #ORDER_DATE#
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">                                
                                <div>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #000;
                                        border-collapse: collapse;">
                                        <tr>
                                            <td style="border-bottom: 1px solid #000; width:50px;">
                                                <!--#LABEL_QTY#-->
                                                <b>Qty</b>
                                            </td>                                            
                                            <td style="border-bottom: 1px solid #000; width:100px;">
                                                <!--#LABEL_ITEM_NAME#-->
                                                <b>Item Barcode</b>
                                            </td>
                                            <td style="border-bottom: 1px solid #000;">
                                                <!--#LABEL_ITEM_DESCRIPTION#-->
                                                <b>Description</b>
                                            </td>
                                        </tr>
                                        <!--ITEM_TEMPLATE_START--><!--
                                    <tr>
                                        <td valign="top" style="border-right:1px solid #000;">#QTY#</td>                                        
                                        <td valign="top" style="border-right:1px solid #000;">#ITEM_NAME#</td>
                                        <td valign="top">#ITEM_DESCRIPTION#</td>
                                    </tr>
                                    --><!--ITEM_TEMPLATE_END-->
                                        <!--ITEM_LIST_PLACEHOLDER-->
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">  
                                <div style="min-height:200px; font-size:13px; margin-top:50px;">
                                    <p>
                                        <b>Notes:</b> #ORDER_NOTES#
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
