﻿<div style="color: Black; text-align: center; font: 12px Lucida Sans Unicode,Lucida Grande,sans-serif;">
    <div style="margin: auto; text-align: left;">
        <table width='800px' border='0' align='center' cellpadding='0' cellspacing='0'>
            <tr>
                <td>
                    <table width='800' border='0' align='center' cellspacing='0' cellpadding='5'>
                        <tr>
                            <td valign="top"  style="width:350px; text-align:left;">
                                <img id="img" src="#COMPANY_LOGO_URL#" style=" width:260px" /><!--border:1px solid #ccc;-->
                                <!--<img src="https://live2.itechcanada.com/PrabhDemo/Upload/companylogo/ZWMQDEOX.png" alt="Alternate Text" style="border:1px solid #ccc;" />-->
                                <br />
                                <b style="font-size:13px;">#COMPANY_NAME#</b><br />
                                #COMPANY_ADDRESS#
                                <br /> <br />
                                <b style="font-size:13px;">Contact / Contacter: #CONTACT_NO#</b><br />
                                Phone#: #PHONE_NO#
                            </td>
                            <td valign="top" style="text-align:center;">
                                 #COMPANY_FHONE_FAX#
                            </td>
                            <td height="60" style="text-align:left; width:250px;"> 
                                <h2 style="text-align:center; font-size: 20px;">
                                    <!--#DOCUMENT_TITLE#-->Packing Slip<br />
                                    <span style="font-size: 20px;"><!--#DOCUMENT_SUB_TITLE#-->Bordereau d'expédition</span>
                                </h2>
                                <div style="border: 1px solid #000; padding:5px; ">
                                    No de commande / Order No: <b  style="font-size:15px;">#ORDER_NO#</b><br />
                                    <span style="font-family:IDAutomationHC39M; display:block; text-align:center; padding:2px;">#BARCODE_PREFIX##ORDER_NO##BARCODE_POSTFIX#</span>
                                </div>
                                <div style="border: 1px solid #000; border-top: none; border-bottom:none; padding:5px;">
                                    No de compte / Cust ID: <b style="font-size:15px;">#CUST_ID#</b>
                                </div>
                                 <div style="border: 1px solid #000; border-top: none; padding:5px;">
                                    Net Terms / Conditions net: #NET_TERMS#
                                </div>   
                                 <div style="border: 1px solid #000; border-top: none; padding:5px;">
                                    #INVOICENO#
                                </div>                                                               
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding:0px; margin:0px;">
                                <hr />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div style="float: left; width: 320px; margin: 5px;">
                                   <!--#LABEL_BILL_TO_ADDRESS#--><b> Vendu à/ Bill To:</b>
                                    <div style="border: 0px solid #000; padding:5px; font-size:13px;">
                                        #CUSTOMER_NAME# <br />
                                        #BILL_TO_ADDRESS#
                                    </div>
                                </div>
                                <div style="float: right; width: 450px; margin: 5px; font-size:15px; ">
                                    <!--#LABEL_SHIP_TO_ADDRESS#--><b> Livre à/ Ship To:</b>
                                    <div style="border: 0px solid #000; padding:5px; font-size:17px; font-weight:bold;">
                                        #CUSTOMER_NAME# <br />
                                        #SHIP_TO_ADDRESS#
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding: 5px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
                                    <tr>
                                        <td style="border: 1px solid #000; padding:5px; ">
                                            <b><!--#LABEL_BUYER#-->Acheteur/Buyer</b>
                                        </td>
                                        <td style="border: 1px solid #000; padding:5px; ">
                                            <b><!--#LABEL_SHIP_VIA#-->Livre par/Ship Via</b>
                                        </td>
                                        <td style="border: 1px solid #000; padding:5px; ">
                                            <b>Ship Date / Date d'expédition</b>
                                        </td>
                                        <td style="border: 1px solid #000;text-align: center; width: 120px; padding:5px; ">
                                            <b><!--#LABEL_ORDER_DATE#-->Date de cmde/Order date</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #000; padding:5px; ">
                                            #BUYER_NAME#
                                        </td>
                                        <td style="border: 1px solid #000; padding:5px; ">
                                            #SHIP_VIA#
                                        </td>
                                        <td style="border: 1px solid #000; padding:5px; ">
                                            #SHIP_DATE#
                                        </td>
                                        <td style="border: 1px solid #000; text-align:center; padding:5px; ">
                                            #ORDER_DATE#
                                        </td>
                                    </tr>
                                </table>
								<br> <br>
                            </td>
                        </tr>
						<tr>
                            <td colspan="3">                                
                                <div>
                                    <table border="1" cellpadding="0" cellspacing="0" style="width: 100%; border-collapse: collapse;
                border-color: #000;">
                <tr style="background-color: #B2BBCC;">
                    <th style="text-align: left; padding: 5px; border-color: #000;">
                        #ITM_HDR_DESCRIPTION#
                    </th>
                    <!--<th style="text-align: left; width: 50px; padding: 5px; border-color: #000;">
                        #ITM_HDR_UNITS#
                    </th>
                    <th style="text-align: right; width: 90px; padding: 5px; border-color: #000;">
                        #ITM_HDR_COST_PER_UNIT#
                    </th>
                    <th style="text-align: right; width: 70px; padding: 5px; border-color: #000;">
                        #ITM_HDR_DISCOUNT#
                    </th>
                    <th style="text-align: right; width: 70px; padding: 5px; border-color: #000;">
                        #ITM_HDR_AMOUNT#
                    </th>-->
                </tr> 
                <!--ITEM_ROW_TEMPLET_START--><!--
                <tr>
                    <td style="padding: 5px; background-color: #fff; border-color: #000;">
                        #ITM_DESCRIPTION#
                    </td>
                    <td style="text-align: center; padding: 5px; border-color: #000;">
                        #ITM_UNITS#
                    </td>
                    <td style="text-align: right; padding: 5px; border-color: #000;">
                        #ITM_COST_PER_UNIT#
                    </td>
                    <td style="text-align: right; padding: 5px; border-color: #000;">
                        #ITM_DISCOUNT#
                    </td>
                    <td style="text-align: right; padding: 5px; border-color: #000;">
                        #ITM_AMOUNT#
                    </td>
                </tr>
                --><!--ITEM_ROW_TEMPLET_END-->
                <!--ITEM_ROW_LIST_PLACEHOLDER-->   

                <!--ITEM_PROD_HDG_START--><!--  
                <tr><td colspan="5" style='font-weight: bold;'>#PNAME#</td></tr>            
                --><!--ITEM_PROD_HDG_END-->  
                
                 <!--ITEM_DESC_SIZE_HDG_START--><!--
                <td style='text-align: Centre; width: 90px; padding: 5px; border-color: #000;'>#SIZE#</td>
                --><!--ITEM_DESC_SIZE_HDG_END-->
                
                <!--ITEM_DESC_HDG_START--><!--
                <tr style='background-color: #B2BBCC;font-weight: bold;'><td style='text-align: left; width: 90px; padding: 5px; border-color: #000;'>#HDG_COLOR#</td>#HDG_SIZE#<td style='text-align: right; width: 90px; padding: 5px; border-color: #000;'>#HDG_COST_PER_UNIT#</td><td style='text-align: right; width: 90px; padding: 5px; border-color: #000;'>#HDG_DISCOUNT#</td><td style='text-align: right; width: 70px; padding: 5px;border-color: #000;'>#HDG_AMOUNT#</td> </tr>
                --><!--ITEM_DESC_HDG_END-->

                <!--ITEM_DESC_HDG_VAL_START--><!--
                <tr><td style='text-align: left; width: 90px; padding: 5px; border-color: #000;'>#HDG_COLOR#</td>#HDG_SIZE#<td style='text-align: right; width: 90px; padding: 5px; border-color: #000;'>#HDG_COST_PER_UNIT#</td><td style='text-align: right; width: 90px; padding: 5px; border-color: #000;'>#HDG_DISCOUNT#</td><td style='text-align: right; width: 100px; padding: 5px;border-color: #000;'>#HDG_AMOUNT#</td> </tr>
                --><!--ITEM_DESC_HDG_VAL_END-->

                <!--ITEM_DESC_CNT_START--><!--  
                <tr>
                    <td colspan="5">
                        <table width='100%' cellpadding='0' cellspacing='0'>#ITEM_GROUP_DESC#</table>
                    </td>
                </tr>            
                --><!--ITEM_DESC_CNT_END-->
                            
            </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">  
                                <div style="min-height:200px; font-size:14px; margin-top:50px;">
                                    <p>
                                        <b>#REMANING_QTY_MSG#</b></br></br>
                                        <b>Poids / Weight :</b> #PKGWEIGHT#</br>
                                        <b>Forfaits / Packages : </b> #PKGPKG#</br>
                                        <b>Remarques / Notes : </b> #ORDER_NOTES#</br>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
