﻿<div align="Left" id="div1">
    <table width="230px" cellspacing="0" cellpadding="2" class="tablepos" border="0">
        <tr>
            <td>
                <img src="#COM_LOGO#" /><!--../lib/image/Logoprint.png-->
            </td>
        </tr>
        <tr>
            <td class="POSPrintalign">
                <span id="lblCompanyName" class="lblPOSPrintBold">#COMPNAME#</span>
            </td>
        </tr>
        <tr>
            <td class="POSPrintalign">
                <span id="lblComAdd" class="lblPOSPrint">#COMPADD#</span>
            </td>
        </tr>
        <tr>
            <td class="POSPrintalign">
                <span id="lblCompanyPhone" class="lblPOSPrint">#COMPPHONE#</span>
            </td>
        </tr>
        <tr>
            <td align="left">
                <table width="98%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left">
                            <span id="lbldate" class="lblPOSPrint">#PRINTDATE#</span>
                        </td>
                        <td align="right">
                            <span id="lblTime" class="lblPOSPrint">#PRINTTIME#</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="98%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left">
                            <span id="lblCustName" class="lblPOSPrint">#CUSTNAME#</span>
                        </td>
                        <td align="right">
                            <span id="lblSalesRep" class="lblPOSPrint">#SALEREP#</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="Left">
                <br />
                <span id="lblTransaction" style="font-family: IDAutomationHC39M; color: Black; font-size: 14px;">
                    #TRANSACTIONID#</span>
            </td>
        </tr>
        <tr>
            <td>
                <span style="color: Black;">---------------------------------------------------------</span>
            </td>
        </tr>
        <tr>
            <td align="left">
                <table id="Table1" cellspacing="1" cellpadding="1" border="0" style="width: 230px;">
                    #ITEMROWS#
                </table>
            </td>
        </tr>
        <!--            <tr>
                <td align="left">
                    <table id="tblsubTotal" cellspacing="1" cellpadding="1" border="0" style="width:230px;">
                    #TOTALSUBTOTALROWS#
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="color: Black;">---------------------------------------------------------</span>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <table id="tblTax" cellspacing="1" cellpadding="1" border="0" style="width:230px;">
                    #TAXROWS#
                    </table>
                </td>
            </tr>
            <tr id="trLineTotalAmt">
        	<td>
                    <span style="color: Black;">---------------------------------------------------------</span>
            </td>
        </tr>
            <tr>
                <td align="left">
                    <table id="tblAmount" cellspacing="1" cellpadding="1" border="0" style="width:230px;">
	                #AMOUNTROWS#
                    </table>
                </td>
            </tr>-->
        <tr id="trLineMessage">
            <td>
                <span style="color: Black;">---------------------------------------------------------</span>
            </td>
        </tr>
        <tr>
            <td height="20">
            </td>
        </tr>
        <tr>
            <td align="center">
                <span id="lblRegMessage" class="lblPOSPrint">#REGMESSAGE#</span>
            </td>
        </tr>
        <tr>
            <td height="40">
            </td>
        </tr>
    </table>
</div>
