﻿<div style="font: 12px Lucida Sans Unicode,Lucida Grande,sans-serif; width: 780px; margin: auto;">
     <div style="margin: auto;">
         <table border='0' cellpadding='0' cellspacing='0' style="font-size:11px;">
            <tr>
                <td>
                    <table border='0' cellspacing='0' cellpadding='5' style="font-size:11px; width:770px;">
                        <tr>
                            <td valign="top"  style="width:280px; text-align:center; height:160px;">
                                <!--<img src="https://live2.itechcanada.com/POSSupply/PrintTemplates/images/possupply.png" />-->
                                <img src="#COMPANY_LOGO_URL#" style="width:260px;" />
                                <!--<img id="img" src="#COMPANY_LOGO_URL#" style="border:1px solid #ccc;" />-->
                                <!--<img src="https://live2.itechcanada.com/PrabhDemo/Upload/companylogo/ZWMQDEOX.png" alt="Alternate Text" style="border:1px solid #ccc;" />-->
                                <br />                                
                                #COMPANY_ADDRESS#<br />
                                #COMPANY_FHONE_FAX#<br />                                  
                            </td>                            
                            <td valign="top" style="width:520px;">      
                                <div style="position:relative;">
                                    <div style="position:absolute; top:0px; right:0px; color:#fff; font-weight:bold;">
                                        <h2 style="color:#000; text-align:right; padding-top:0px; margin-top:0px; font-weight:bold; font-size:20px;">
                                            Invoice/Facture
                                        </h2>
                                        <div style="background-color:#407DBD;border:1px solid #407DBD;width:50px; float:left; height:32px; padding:2px; text-align:left;">
                                            DATE
                                        </div>
                                        <div style="border:1px solid #407DBD;width:90px; float:left; height:32px; padding:2px; text-align:left; color:#000;">
                                            #INVOICE_DATE#
                                        </div>
                                        <div style="background-color:#407DBD;border:1px solid #407DBD;width:110px; float:left; height:32px; padding:2px; text-align:left;">
                                            NO. DE FACTURE INVOICE #
                                        </div>
                                        <div style="border:1px solid #407DBD;width:90px; float:left; padding:2px; text-align:left;color:#000; height: 32px;">
                                            #INVOICE_NO#                                           
                                        </div>
                                        <div style="clear:both;">
                                        </div> 
                                        <div style="margin-top:3px;"></div>
                                        <div style="background-color:#407DBD;border:1px solid #407DBD;width:50px; float:left; height:32px; padding:2px; text-align:left;">
                                            PO #
                                        </div>
                                        <div style="border:1px solid #407DBD;width:90px; float:left; height:32px; padding:2px; text-align:left; color:#000;">
                                            <!--#PO_NO# -->
                                        </div>
                                        <div style="background-color:#407DBD;border:1px solid #407DBD;width:110px; float:left; height:32px; padding:2px; text-align:left;">
                                            NO. DE COMPTE ACCOUNT #
                                        </div>
                                        <div style="border:1px solid #407DBD;width:90px; float:left; height:32px; padding:2px; text-align:left; color:#000;">
                                            #CUSTOMER_ID#
                                        </div>
                                        <div style="clear:both;">
                                        </div>
                                        <div style="margin-top:3px;"></div>  
 <!--										
                                        <div style="border:1px solid #FFF;width:176px; float:left; padding:2px; text-align:center; color:#000;">
                                           <span style="font-family:IDAutomationHC39M; display:block; font-size:12px; font-weight:normal;">#BARCODE_PREFIX##INVOICE_NO##BARCODE_POSTFIX#</span>
                                        </div>
										-->
										<div style="background-color:#407DBD;border:1px solid #407DBD;width:50px; float:left; height:32px; padding:2px; text-align:left;">
                                            Net Terms
                                        </div>
                                        <div style="border:1px solid #407DBD;width:90px; float:left; height:32px; padding:2px; text-align:left; color:#000;">
                                            #Net Terms#
                                        </div>                                       
                                        <div style="clear:both;">
                                        </div>
                                                                                        
                                    </div>
                                </div>                                                          
                            </td>
                        </tr>                        
                        <tr>
                            <td colspan="2">
                                <div style="float: left; width: 380px; margin:auto;">
                                   <!--#LABEL_BILL_TO_ADDRESS#-->
                                    <div style="border: 0px solid #407DBD; padding:5px; min-height:120px;">
                                        <b style="font-size:15px;"> Vendu à/ Bill To:</b><br />
                                        <div style="font-size:17px; font-weight:bold;">
                                            #CUSTOMER_NAME#<br />
                                            #BILL_TO_ADDRESS#</div><br />
                                        Acheteur/Buyer <b style="font-size:16px;">#BUYER_NAME#  </b>                                      
                                    </div>
                                </div>
                                <div style="float: right; width: 220px; margin: auto;">
                                    <!--#LABEL_SHIP_TO_ADDRESS#-->
                                    <div style="border: 0px solid #407DBD; padding:5px; min-height:120px;">
                                        <b style="font-size:13px;"> Livre à/ Ship To:</b><br />
                                        <div style="font-size:13px;">
                                            #CUSTOMER_NAME#<br />
                                            #SHIP_TO_ADDRESS#</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div style="min-height:400px;">
                    <table border='0' cellspacing='0' cellpadding='5' style="font-size:11px; width:770px;">
                        <tr>
                            <td colspan="2">                                
                                <div>
								  
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #407DBD;
                                        border-collapse: collapse; font-size:11px; width:770px;">
                                        <tr style="font-size:11px;">
                                            <td style="border-bottom: 1px solid #407DBD;border-right: 1px solid #407DBD; width:75px; padding:8px; text-align:center;">                                                
                                                <b>QUANTITÉ / QUANTITY</b>
                                            </td>
                                            <td style="border-bottom: 1px solid #407DBD;border-right: 1px solid #407DBD; padding:3px; text-align:center;">
                                                <b>DESCRIPTION</b>
                                            </td>
                                            <td style="border-bottom: 1px solid #407DBD;border-right: 1px solid #407DBD; width:100px; padding:8px; text-align:right;">                                                
                                                <b>PRIX ​​UNITAIRE / UNIT PRICE</b>
                                            </td>
                                            <td style="border-bottom: 1px solid #407DBD;width:100px; padding:3px; text-align:right;">                                               
                                                <b>MONTANT / AMOUNT</b>
                                            </td>
                                        </tr>                                        
                                        <!--ITEM_TEMPLATE_START--><!--
                                    <tr>
                                            <td valign="top" style="border-right: 1px solid #407DBD; padding:8px; text-align:left; font-size:17px; font-weight:bold;">
                                                #ITM_UNITS#
                                            </td>
                                            <td valign="top" style="border-right: 1px solid #407DBD; padding:8px; text-align:left; font-size:17px;">
                                                #ITM_DESCRIPTION#
                                            </td>
                                            <td valign="top" style="border-right: 1px solid #407DBD; padding:8px; text-align:right;">
                                                #ITM_COST_PER_UNIT#
                                            </td>
                                            <td valign="top" style="padding:8px; text-align:right;">
                                               #ITM_AMOUNT#
                                            </td>                                            
                                        </tr>
                                    --><!--ITEM_TEMPLATE_END-->
                                        <!--ITEM_LIST_PLACEHOLDER-->
                                    </table>
                                    <div>
                                        <div style="float:right; text-align: right; margin-top:10px;width:200px;">
                                            #ITEM_SUB_TOTAL#
                                        </div>
                                        <div style="clear:both"></div>
                                    </div>                               
                                </div>
								<br>
                                <!--Process Items Div-->
                                <div style="margin-top:1px; #PROCESS_ITEM_DISPLAY#">
                                                   <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #407DBD;
                                        border-collapse: collapse; font-size:11px; width:770px;">
                                        <tr style="font-size:11px;">
                                            <td style="border-bottom: 1px solid #407DBD;border-right: 1px solid #407DBD; width:55px; padding:3px; text-align:left;">                                                
                                                <b>CODE</b>
                                            </td>
                                            <td style="border-bottom: 1px solid #407DBD;border-right: 1px solid #407DBD; padding:10px; text-align:center;">
                                                <b>DESCRIPTION</b>
                                            </td>
                                            
                                            <td style="border-bottom: 1px solid #407DBD;width:100px; padding:3px; text-align:right;">                                               
                                                <b>MONTANT / AMOUNT</b>
                                            </td>
                                        </tr>                                        
                                        <!--PROCESS_ITEM_TEMPLATE_START--><!--
                                    <tr>
                                            <td valign="center" style="border-right: 1px solid #407DBD; padding:5px; text-align:left;">
                                                #PROCESS_ITM_CODE#
                                            </td>
                                            <td valign="center" style="font-size:17px; border-right: 1px solid #407DBD; padding:5px; text-align:left;">
                                                #PROCESS_ITM_DESCRIPTION#
                                            </td>
                                                                                      
                                            <td valign="center" style="padding:3px; text-align:right;">
                                               #PROCESS_ITM_AMOUNT#
                                            </td>                                            
                                        </tr>
                                    --><!--PROCESS_ITEM_TEMPLATE_END-->
                                        <!--PROCESS_ITEM_LIST_PLACEHOLDER-->

                <!--ITEM_PROD_HDG_START--><!--  
                <tr><td colspan="5" style='font-weight: bold;'>#PNAME#</td></tr>            
                --><!--ITEM_PROD_HDG_END-->  
                
                 <!--ITEM_DESC_SIZE_HDG_START--><!--
                <td style='text-align: Centre; width: 90px; padding: 5px; border-color: #000;'>#SIZE#</td>
                --><!--ITEM_DESC_SIZE_HDG_END-->
                
                <!--ITEM_DESC_HDG_START--><!--
                <tr style='background-color: #B2BBCC;font-weight: bold;'><td style='text-align: left; width: 90px; padding: 5px; border-color: #000;'>#HDG_COLOR#</td>#HDG_SIZE#<td style='text-align: right; width: 90px; padding: 5px; border-color: #000;'>#HDG_COST_PER_UNIT#</td><td style='text-align: right; width: 90px; padding: 5px; border-color: #000;'>#HDG_DISCOUNT#</td><td style='text-align: right; width: 70px; padding: 5px;border-color: #000;'>#HDG_AMOUNT#</td> </tr>
                --><!--ITEM_DESC_HDG_END-->

                <!--ITEM_DESC_HDG_VAL_START--><!--
                <tr><td style='text-align: left; width: 90px; padding: 5px; border-color: #000;'>#HDG_COLOR#</td>#HDG_SIZE#<td style='text-align: right; width: 90px; padding: 5px; border-color: #000;'>#HDG_COST_PER_UNIT#</td><td style='text-align: right; width: 90px; padding: 5px; border-color: #000;'>#HDG_DISCOUNT#</td><td style='text-align: right; width: 70px; padding: 5px;border-color: #000;'>#HDG_AMOUNT#</td> </tr>
                --><!--ITEM_DESC_HDG_VAL_END-->

                <!--ITEM_DESC_CNT_START--><!--  
                <tr>
                    <td colspan="5">
                        <table width='100%' cellpadding='0' cellspacing='0'>#ITEM_GROUP_DESC#</table>
                    </td>
                </tr>            
                --><!--ITEM_DESC_CNT_END-->

                                    </table>

                                    <div>
                                        <div style="float:right; text-align:right;margin-top:10px; width:200px;">
                                            #PROCESS_ITEM_SUB_TOTAL#
                                        </div>
                                        <div style="clear:both"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">                                
                                <table border="0" cellpadding="0" cellspacing="0" style="font-size:11px; width:100%;">
                                    <tr>
                                        <td valign="top" style="font-size:10px;">                                            
                                            <b style="font-size:10px;">Conditions génerales:</b>
                                            <p style="margin-top:2px;">
                                                2% par mois sur snide en soufrance. Toutes les reclamations doivent ittre annoncites
                                                dans 2 jours. Aucun retour sans autonsation prealable. Tout retour de marchandise
                                                est assujetti a des frais de remise en stock et dexpddition de 20%
                                            </p>
                                            <b style="font-size:10px;">Terms & Conditions:</b>
                                            <p style="margin-top:2px;">
                                                2% per month on past due accounts. All claims must be reported within 2 days. No
                                                returns without prior authorization. A 20% restocking & shipping charge will be
                                                applied to all returns,
                                            </p>
                                            <div>
                                                TPS/GST: 813518602 RT0001 TVQIQST: 1217517326 T00001
                                            </div>
                                        </td>
                                        <td valign="top" style="width:250px;">                                           
                                            <div>
                                                <div style="top:10px; right:0px;">     
                                                    <!--@TOTAL_ITEM_START@<div style="line-height:8px;">
                                                        <div style="width: 80px; float: left; padding: 1px; text-align: right;">
                                                        <b style="font-size: 13px;">#TOTAL_TITLE#</b>
                                                        </div>
                                                        <div style="width: 90px; float: right; padding: 1px; text-align: right;
                                                            color: #000;">
                                                            #TOTAL_AMOUNT#
                                                        </div>
                                                        <div style="clear: both;">
                                                        </div>
                                                    </div>@TOTAL_ITEM_END@--> 
                                                    <!--#TOTAL_ITEMS#-->
													<br>
                                                    <div style="border: 2px solid #407DBD;">
                                                        <br>
                                                        <div style="width: 180px; float: right; height: 50px; padding: 2px; text-align: center;
                                                            color: #000; font-size:17px;">TOTAL:
                                                            <b>#GRAND_TOTAL#</b>
                                                        </div>
                                                        <div style="clear: both;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                                                                     
                                        </td>
                                    </tr>
                                </table>                                
                            </td>
                        </tr>  
                    </table>
                    </div>
                    
                </td>
            </tr>
        </table>
     </div>
</div>




