﻿<div style="font-family: Lucida Sans Unicode,Lucida Grande,sans-serif; width: 750px; font-size: 12px">    
    <div style="text-align: center; position: relative; border-bottom: 1px solid #000;
        height: 110px;">
        <div style="position: absolute; top: 10px; left: 5px; text-align: left; width: 113px;
            height: 100px; overflow: hidden;">            
            <img src="#COM_LOGO#" alt="#COM_LOGO#"  style="width:111px;"/>            
        </div>
        <div style="position: absolute; top: 10px; left: 120px; text-align: left; line-height: 18px;">
            #COM_INFO#
        </div>
        <div style="position: absolute; top: 10px; right: 5px; text-align: right;">
            <b style="font-size: 18px;">#DOCUMENT_TITLE#</b>
            <br />
            <div>
                <table cellspacing="1" cellpadding="1" border="0" style="border: 1px solid #000;">
                    <tbody>
                        <tr>
                            <td style="text-align: left;">
                                #DOC_INFO#
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td valign="top" style="width: 50%;">
                    <div style="font-weight: bold; margin-bottom: 5px; font-size: 14px">
                        #BILL_TO_ADDRESS_TITLE#
                    </div>
                    #BILL_TO_ADDRESS#
                </td>
                <td valign="top" style="width: 50%; display: none;">
                    <div style="font-weight: bold; margin-bottom: 5px; font-size: 14px">
                        #SHIP_TO_ADDRESS_TITLE#
                    </div>
                    #SHIP_TO_ADDRESS#
                </td>
            </tr>
        </table>
    </div>
    <div style="background-color: #E4E7ED;">
        <div id="ctlContent_divItems" style="padding: 5px;">
            <div style="font-size: 14px; font-weight: bold; padding: 5px;">
                <span id="ctlContent_Label2">
                    #ITEM_LIST_TITLE#
                </span>
            </div>
            <table border="1" cellpadding="0" cellspacing="0" style="width: 100%; border-collapse: collapse;
                border-color: #000;">
                <tr style="background-color: #B2BBCC;">
                    <th Colspan='5' style="text-align: left; padding: 5px; border-color: #000;">
                        #ITM_HDR_DESCRIPTION#
                    </th>
                    <!--<th style="text-align: left; width: 50px; padding: 5px; border-color: #000;">
                        #ITM_HDR_UNITS#
                    </th>
                    <th style="text-align: right; width: 90px; padding: 5px; border-color: #000;">
                        #ITM_HDR_COST_PER_UNIT#
                    </th>-->
                    <!--<th style="text-align: right; width: 70px; padding: 5px; border-color: #000;">
                        #ITM_HDR_DISCOUNT#
                    </th>-->
                    <!--<th style="text-align: right; width: 70px; padding: 5px; border-color: #000;">
                        #ITM_HDR_AMOUNT#
                    </th>-->
                </tr> 
                <!--ITEM_ROW_TEMPLET_START--><!--
                <tr>
                    <td Colspan='5' style="padding: 5px; background-color: #fff; border-color: #000;">
                        #ITM_DESCRIPTION#
                    </td>
                    <td style="text-align: center; padding: 5px; border-color: #000;">
                        #ITM_UNITS#
                    </td>
                    <td style="text-align: right; padding: 5px; border-color: #000;">
                        #ITM_COST_PER_UNIT#
                    </td>                    
                    <td style="text-align: right; padding: 5px; border-color: #000;">
                        #ITM_AMOUNT#
                    </td>
                </tr>
                --><!--ITEM_ROW_TEMPLET_END-->
                <!--ITEM_ROW_LIST_PLACEHOLDER--> 
                <!--ITEM_PROD_HDG_START--><!--  
                <tr><td colspan="5" style='font-weight: bold;'>#PNAME#</td></tr>            
                --><!--ITEM_PROD_HDG_END-->  

                <!--ITEM_DESC_SIZE_HDG_START--><!--
                <td style='text-align: Centre; width: 90px; padding: 5px; border-color: #000;'>#SIZE#</td>
                --><!--ITEM_DESC_SIZE_HDG_END-->

                <!--ITEM_DESC_HDG_START--><!--
                <tr style='background-color: #B2BBCC;font-weight: bold;'><td style='text-align: left; width: 90px; padding: 5px; border-color: #000;'>#HDG_COLOR#</td>#HDG_SIZE#<td style='text-align: right; width: 90px; padding: 5px; border-color: #000;'>#HDG_TOTAL_QTY#</td><td style='text-align: right; width: 90px; padding: 5px; border-color: #000;'>#HDG_COST_PER_UNIT#</td><td style='text-align: right; width: 70px; padding: 5px;border-color: #000;'>#HDG_AMOUNT#</td> </tr>
                --><!--ITEM_DESC_HDG_END-->

                <!--ITEM_DESC_HDG_VAL_START--><!--
                <tr><td style='text-align: left; width: 90px; padding: 5px; border-color: #000;'>#HDG_COLOR#</td>#HDG_SIZE#<td style='text-align: right; width: 90px; padding: 5px; border-color: #000;'>#HDG_TOTAL_QTY#</td><td style='text-align: right; width: 90px; padding: 5px; border-color: #000;'>#HDG_COST_PER_UNIT#</td><td style='text-align: right; width: 70px; padding: 5px;border-color: #000;'>#HDG_AMOUNT#</td> </tr>
                --><!--ITEM_DESC_HDG_VAL_END-->

                <!--ITEM_DESC_CNT_START--><!--  
                <tr>
                    <td colspan="5">
                        <table width='100%' cellpadding='0' cellspacing='0'>#ITEM_GROUP_DESC#</table>
                    </td>
                </tr>            
                --><!--ITEM_DESC_CNT_END--> 

            </table>
            <div style="text-align: right;">
                <div style="float: right;">
                    <table border="0" cellpadding="0" cellspacing="0" style="font-weight: bold;">
                        <tr>
                            <td>
                                <b>Total:</b>
                            </td>
                            <td>
                                 #ITEM_SUB_TOTAL_TABLE#
                            </td>
                        </tr>                       
                    </table>
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>        
    </div>
   <!-- <div id="ctlContent_divTotal" style="text-align: right; background-color: #fff; padding: 5px;">
        <div style="float: right;">
            <table border="0" cellpadding="0" cellspacing="0" style="font-weight: bold;">
                #GRAND_TOTAL#
            </table>
        </div>
        <div style="clear: both;" />
    </div>-->
    <div id="ctlContent_divTerms" style="border-top: 1px solid #ccc; padding-top: 10px;">
        <!--<table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td valign="top" style="width: 20px; text-align: left;">
                    <div style="border: 1px solid #000; width: 10px; height: 10px;">
                        &nbsp;</div>
                </td>
                <td valign="top" style="text-align: left;">
                    
                </td>
            </tr>
        </table>-->
        <table border="0" cellpadding="0" cellspacing="0" style="text-align: left; width: 750px;
            margin-top: 5px;">
            <tr>
                <td style="width: 60px;">
                    Signature:
                </td>
                <td style="border-bottom: 1px solid #000; width: 200px;">
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td style="width: 40px;">
                    Date:
                </td>
                <td style="border-bottom: 1px solid #000; width: 200px;">
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>
    </div>
</div>