﻿<div style="text-align: center; font-size:12px;">
    <div style="margin: 0 auto; width: 800px; text-align: left;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #000;border-collapse: collapse;">
            <tr style="">
                <td style="width: 110px;">
                     <img src="#COM_LOGO#" alt="#COM_LOGO#"  style="width:110px;"/>   
                </td>
                <td valign="top">
                     #COM_INFO#
                </td>
                <td valign="top" style="width: 380px; text-align: right;">
                    <h3>
                        STATEMENT</h3>
                    Statement Date: #STATEMENT_DATE# 
                </td>
            </tr>
        </table>       
        <hr />
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
            <tr>
                <th class="border" style="text-align: left;border:1px solid #000;">
                    Inv No
                </th>
                <th class="border" style="text-align: left;border:1px solid #000;">
                    Inv Date
                </th>
                <!--<th class="border" style="text-align: left;border:1px solid #000;">
                    Due Date
                </th>
                <th class="border" style="text-align: left;border:1px solid #000;">
                    Payment Date
                </th>-->
                <th class="border" style="text-align: right;border:1px solid #000;">
                    Inv Amount
                </th>
                <th class="border" style="text-align: right;border:1px solid #000;">
                    Paid Amount
                </th>
                <th class="border" style="text-align: right;border:1px solid #000;">
                    Balance Amount
                </th>
            </tr>
            <!--
            @ITEM_ROW_START@<tr>
                <td class="border" style="border:1px solid #000;">
                    #INVOICE_NO#
                </td>
                <td class="border" style="border:1px solid #000;">
                    #INVOICE_DATE#
                </td>                               
                <td class="border" style="text-align: right;border:1px solid #000;">
                    #INVOICE_AMOUNT#
                </td>
                <td class="border" style="text-align: right;border:1px solid #000;">
                    #INVOICE_PAID_AMOUNT#
                </td>
                <td class="border" style="text-align: right;border:1px solid #000;">
                    #INVOICE_BALANCE_AMOUNT#
                </td>
            </tr>@ITEM_ROW_END@-->
            <!--ROW_ITEMS-->
            <tr>
                <td class="">
                </td>
                <td class="">
                </td>
                <!--<td class="">
                </td>
                <td class="">
                </td>-->
                <td class="">
                </td>
                <td class="border" style="text-align: right;border:1px solid #000;">
                    Total: #TOTAL_PAID_AMOUNT#                    
                </td>
                <td class="border" style="text-align: right;border:1px solid #000;">
                    #TOTAL_BALANCE_AMOUNT#
                </td>
            </tr>
        </table>        
    </div>
</div>
