﻿<div align="Left" id="div1" >
    <table width="230px" cellspacing="0" cellpadding="2" class="tablepos" border="0">
        <tr>
            <td>
                <img src="#COM_LOGO#" /><!--../lib/image/Logoprint.png-->
            </td>
        </tr>
        <tr>
            <td class="POSPrintalign">
                <span id="Span1" class="lblPOSPrintBold" style="font-size:10px;" >#COMPNAME#</span>
            </td>
        </tr>
         <tr>
            <td align="left">
                <span id="Span3" class="lblPOSPrintBold" style="font-size:10px;">#SHIPFROMWHS#</span>
            </td>
        </tr>
        <tr>
            <td align="left">
                <span id="Span2" class="lblPOSPrint" style="font-size:10px;">#WHSFROMADD#</span>
            </td>
        </tr>
       
        <tr>
        <td align="left">
                
            </td>
        </tr>
        <tr>
            <td align="left">
                <span id="lblCompanyName" class="lblPOSPrintBold" style="font-size:10px;">#SHIPTOWHS#</span>
            </td>
        </tr>
        <tr>
            <td align="left">
                <span id="lblComAdd" class="lblPOSPrint" style="font-size:10px;">#WHSTOADD#</span>
            </td>
        </tr>
         <tr>
        <td align="left">
                
            </td>
        </tr>
        <tr>
            <td align="left">
                <table width="98%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left">
                            <span id="lbldate" class="lblPOSPrint" style="font-size:10px;">#PRINTDATE#</span>
                        </td>
                        <td align="right">
                            <span id="lblTime" class="lblPOSPrint" style="font-size:10px;">#PRINTTIME#</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="98%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left">
                            <span id="lblCustName" class="lblPOSPrint" style="font-size:10px;">#CUSTNAME#</span>
                        </td>
                        <!--<td align="right">
                            <span id="lblSalesRep" class="lblPOSPrint">#SALEREP#</span>
                        </td>-->
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <span style="color: Black;">---------------------------------------------------------</span>
            </td>
        </tr>
        <tr>
            <td align="left">
                <table id="Table1" cellspacing="1" cellpadding="1" border="0" style="width: 230px;">
                    #ITEMROWS#
                </table>
            </td>
        </tr>
        <tr>
            <td height="20">
            </td>
        </tr>
    </table>
</div>
