<div id=ITCol_Hdg style="font-family:Arial;font-weight:bold;font-size:11;">
<table>
<tr style="font-family:Arial;font-weight:bold;font-size:11;background-color:Bisque;">
    <td width=150 align=left>Product</td>
    <td width=150 align=left>Warehouse</td>
	<td width=150 align=left>Register</td>
	<td width=170 align=left>Sales Representative</td>
	<td width=180 align=left>DateTime</td>
	<td width=120 align=right>Quantity</td>
	<td width=120 align=right>Unit Price</td>
	<td width=120 align=right>Total Price</td>	
</tr>
</table>
</div>

<div id=IT_ColDetail style="font-family:Arial;font-weight:bold;font-size:12;">
<table style="border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:LightBlue;">
<tr style="font-family:Arial;font-weight:normal;font-size:12;">
	<td width=150 align=left>@field1</td>
    <td width=150 align=left>@field2</td>
	<td width=150 align=left>@field3</td>
	<td width=160 align=left>@field4</td>
	<td width=180 align=left>@field5</td>
	<td width=120 align=right>@field6</td>
	<td width=120 align=right>@field7</td>
	<td width=120 align=right>@field8</td>
</tr>
</table>
</div>

<div id=IT_ColSubTotal style="font-family:Arial;font-weight:bold;font-size:12;">
<table style="border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:LightBlue;">
<tr style="font-family:Arial;font-weight:bold;font-size:12;">
	<td width=150></td>
	<td width=150></td>
	<td width=150></td>
	<td width=160></td>
	<td width=180 align=center style="color:LightGrey;font-size:small;">@field1</td>
	<td width=120 align=right bgcolor="#ccff99">@field6</td>
	<td width=120></td>	
	<td width=120 align=right bgcolor="#ccff99">@field8</td>	
</tr>
</table>
</div>