<div id=ITCol_Hdg style="font-family:Arial;font-weight:bold;font-size:11;">
<table>
<tr style="font-family:Arial;font-weight:bold;font-size:11;background-color:Bisque;">
	<td width=130 align=left>Register</td>
	<td width=100 align=left>Tax Code</td>
	<td width=150 align=left>DateTime</td>
	<td width=100 align=left>Receipt No.</td>
	<td width=130 align=right>Tax Amount</td>	
</tr>
</table>
</div>

<div id=IT_ColDetail style="font-family:Arial;font-weight:bold;font-size:12;">
<table style="border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:LightBlue;">
<tr style="font-family:Arial;font-weight:normal;font-size:12;">
	<td width=130 align=left>@field1</td>
	<td width=100 align=left>@field2</td>
	<td width=150 align=left>@field3</td>
	<td width=100 align=left>@field4</td>
	<td width=130 align=right>@field5</td>	
</tr>
</table>
</div>

<div id=IT_ColSubTotal style="font-family:Arial;font-weight:bold;font-size:12;">
<table style="border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:LightBlue;">
<tr style="font-family:Arial;font-weight:bold;font-size:12;">
	<td width=130></td>
	<td width=100></td>
	<td width=150></td>
	<td width=100 align=left style="color:LightGrey;font-size:small;">@field1</td>
	<td width=130 align=right bgcolor="#ccff99">@field5</td>	
</tr>
</table>
</div>