﻿/* Colors */
.color-gray {background:#666;}
/* End Colors */

/* Columns section */
.collapsiblepanel {margin: 10px 5px 0 20px;padding: 2px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
.collapsiblepanel .collapsiblepanel-head {color: #000;overflow: hidden;width: 100%;height: 30px;line-height: 30px;}
.collapsiblepanel .collapsiblepanel-head h3 {padding: 0 5px;float: left;background:none;}
.collapsiblepanel .collapsiblepanel-content {background: #fff;padding: 0 5px;   -moz-border-radius-bottomleft: 2px;-moz-border-radius-bottomright: 2px;-webkit-border-bottom-left-radius: 2px;-webkit-border-bottom-right-radius: 2px;line-height: 1.2em;overflow: hidden;}

/* JS-Enabled CSS */
.collapsiblepanel-head a.remove{float: right;display: inline;background: url(buttons.gif) no-repeat -24px 0;width: 14px;height: 14px;margin: 8px 4px 8px 0;text-indent: -9999em;outline: none;}
.collapsiblepanel-head a.edit  {float: right;display: inline;background: url(buttons.gif) no-repeat;width: 24px;height: 14px;text-indent: -9999em;margin: 8px 4px 8px 4px;outline: none;}
.collapsiblepanel-head a.collapse  {float: left;display: inline;background: url(buttons.gif) no-repeat -52px 0;width: 14px;height: 14px;text-indent: -9999em;margin: 8px 0 8px 4px;outline: none;}
/* End Columns section */
