﻿<div class="head_row">
    <span class="left_border"></span>
    <h1 id="#lblTitleID#" class="title">
        #orderTitle#</h1>
</div>
<div class="popup_content">
    <div class="oreder fll">
        <p>
            #lblOrderNo#: #transID</p>
        <p>
            #poCreationDate</p>
        <!--<p>12345678</p>-->
    </div>
    <div class="divConfirmationCode">
        #ConfirmatioCode#
    </div>
    <div class="pic_up flr">
        <p>
            #PICK-UP#
            <br />
            #pickUpDateTime
        </p>
    </div>
    <div style="width: 100%; height: 150px; overflow: hidden;">
        <table id="table_grid" style="width: 100%;" cellpadding="0" cellspacing="2">
            <colgroup>
                <col width="10%" />
                <col width="50%" />
                <col width="15%" />
                <col width="25%" />
            </colgroup>
            <tbody>
                <tr>
                    <th>
                        NO
                    </th>
                    <th>
                        DESCRIPTION
                    </th>
                    <th>
                        #lblQty#
                    </th>
                    <th>
                        #lblPrice#
                    </th>
                </tr>

            </tbody>
        </table>
        <div style="width: 100%; height: 125px; overflow: auto;">
            <table id="table_grid2" style="width: 100%;" cellpadding="0" cellspacing="2">
                #ItemDescription#
            </table>
        </div>
    </div>
    <div class="notes">
        <b>Notes:</b>&nbsp#Notes#</div>
    <div class="#classPaymentStatus# fll">
        <a href="javascript:void(0)">#paymentStatus#</a></div>
    <div class="price flr">
        $#totalAmount</div>
    <div class="info fll">
        <p>
            #lblName#: #partnerLongName<br />
            Telephone: #partnerPhone<br />
            Email: #partnerEmail
        </p>
    </div>
    <div id="footer" class="fll">
        <a id="printID" class="print fll" href="javascript:void(0)" onclick="#printOnClick#"><img src="NewKitchenCss/images/print_icon.png" alt="" /></a>#actionlink#
        <a id="#lblDolorID#" class="#displaycss# fll" href="POS.aspx?TID=#POSORDDetail#&TType=P" target="_self" >
            <img src='NewKitchenCss/images/doller.png' class='imgneworder' />
        </a>
        <!--        <a class="submit fll" href="javascript:void(0)">
        </a>-->
    </div>
    <div class="clear">
    </div>
    <div class="close_popup">
        <a href="javascript:void(0)" onclick="ShowDeletePopup(#TransIDToHoldDelete#)"><img  src="NewKitchenCss/images/close-icon.png"/></a>
    </div>


    <input id="hdnOrdStatus#hdntransID#" type="hidden" value="#OrdStatus#"/>
<!--    
    #hdntransID#
    #OrdStatus#
-->
</div>
