﻿<div class="head_row">
    <span class="left_border"></span>
    <h1 id="#lblTitleID#" class="title">
        #orderTitle#</h1>
</div>
<div class="popup_content">
    <div class="oreder fll">
        <p>
            #lblOrderNo#: #transID</p>
        <p>
            #poCreationDate</p>
    </div>
    <div class="divConfirmationCode">
        #ConfirmatioCode#
    </div>
    <div class="pic_up flr">
        <p>
            #PICK-UP#
            <br />
            #pickUpDateTime
        </p>
    </div>
    <div style="width: 100%; height: auto; overflow: hidden;">
        <table id="table_grid" style="width: 50%;" cellpadding="3" cellspacing="0">


                <tr>
                    <td>
                        NO
                    </td>
                    <td>
                        DESCRIPTION
                    </td>
                    <td>
                        #lblQty#
                    </td>
                    <td>
                        #lblPrice#
                    </td>
                </tr>
                #ItemDescription#
       
        </table>
    </div>
    <div class="notes">
        <b>Notes:</b>&nbsp#Notes#</div>
    <div class="#classPaymentStatus# fll">
        <a href="javascript:void(0)">#paymentStatus#</a></div>
    <div class="price flr">
        $#totalAmount</div>
    <div class="info fll">
        <p>
            #lblName#: #partnerLongName<br />
            Telephone: #partnerPhone<br />
            Email: #partnerEmail
        </p>
    </div>
    <div class="clear">
    </div>
    <input id="hdnOrdStatus#hdntransID#" type="hidden" value="#OrdStatus#" />
</div>
