<%@ Control Language="VB" AutoEventWireup="false" CodeFile="Menu_old.ascx.vb" Inherits="Controls_Menu_New" %>

<div id="menu">
	<div class="inner">
        <ul id="ulMainMenu" runat="server">                               
                
        </ul>
    </div>
</div>


