﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Shared/popup.master" AutoEventWireup="true" CodeFile="ShowCustomerAlert.aspx.cs" Inherits="POS_ShowCustomerAlert" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphHead" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphMaster" runat="Server">
    <div id="dialogAssignUser" style="padding: 5px;">
        <asp:TextBox ID="txtCustomerAlert" runat="server" Width="434" Height="180" ReadOnly="true" TextMode="MultiLine"></asp:TextBox>
    </div>
    
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphScripts" Runat="Server">
</asp:Content>

