﻿*{}
body{}
input[type=text],input[type=password],textarea{padding:3px; width:120px;}
input[type=radio],input[type=checkbox]{border:none;}
select{padding:2px;}
.logon {color:#B8C9D2;}
.logon a{color:#fff;}
.logon a:hover{color:#B8C9D2;}

.dimmed{color: #8D8D8D;padding:5px;z-index:2} /*Place holder dimmed class*/
.add_ph{padding:5px;}

.block_text{color: #FF7300;display: block;font-family: Georgia,serif;font-size: 28px;line-height: normal;padding: 2px 0 17px;text-align: center;text-shadow: 1px 1px 0 #FFFFFF;}
.block_text_phone a, 
.block_text_phone{color:#566B8F; display: block;font-family: Georgia,serif;font-size: 16px;line-height: normal;padding: 2px 0 17px;text-align: center;text-shadow: 1px 1px 0 #FFFFFF;}

/*reservation form starts here*/
div.rsv_form td,th{padding:5px;}
td.padding0{padding:0px !important}
td.padding_right0{padding-right:0px !important}
td.padding_left0{padding-left:0px !important}

.align_right{text-align:right;}

.divAutoCell{float:left; margin-right:5px; line-height:25px;}

ul.form{margin:0px; padding:0px;}
ul.form li div.lbl {    
    font-weight: 400;    
    width: 120px;
}
ul.form li div.input {
    width: 180px;
}
#footer {
    color: #FF7300;
    font-size: 14px;
    line-height: 22px;
    margin: 20px auto;
    text-align: center;
    width: 960px;
}
#footer a 
{
    font-family:Arial;
    line-height:18px;
    font-size:14px;
}
#footer a {
    color: #4A5164;
    text-decoration: underline;
}
#lang_sel_footer {
    border: medium none;
    clear: both;
    height: 15px;
    margin: 0 0 6px;
    padding: 7px;
    text-align: center;
}
#lang_sel_footer ul {
    list-style: none outside none;
     font-family:Arial;
    margin: 0;
    padding: 0;
}
#lang_sel_footer ul a,#lang_sel_footer ul a:hover{color:#FF7300; font-size:12px; font-weight:400; line-height:18px;padding: 5px 10px;
    text-decoration: none;}
#lang_sel_footer ul li {
    display: inline;
    margin: 0 1px 0 0;
    padding: 0;
}

