﻿.divConfirmationCode{display:inline-table;font-weight:bold;width:81px;text-align:center;}
#table_grid{margin:2px 0px;}
#table_gridDesc td{text-align:center;padding:2px 0;}
.itemDescScroll{overflow-y: scroll;height: 150px;}
#table_grid2{margin:0px 0;float:left;}
#table_grid2 th{background:#231f20;color:#fff;}
#table_grid2 td{text-align:center;padding:2px 0;}
#table_grid2 .sno{text-align:center;width:10%;}
#table_grid2 .desc{width:55%;text-align:left;padding-left:5px;}
#table_grid2 .qty{width:15%;}
#table_grid2 .amt{width:25%;text-align:left;}
.divheldcss{padding-left: 20px;padding-right: 20px; display: table;}
.waitin{cursor:pointer;}
.assets{cursor:pointer;}
.imgneworder {height: 65px;width: 65px;border:none;}
#footer {width:310px;padding:0 12%;}
#footer .submit{margin-right:30px;}
.dnone{display:none;}
#wrapper{width:100%;min-height:100%;background:url(../images/bg45.png) repeat;}

#slide3 .userRegSubmit{width:46px;height:46px;margin:4px 10px 0 60px;border:none;cursor:pointer;float:left;}
.lprice{font-family: 'ArcherProMedium'; font-size: 11px; line-height: 12px; width: 50px;}
#content{margin-top:0px;}

