body {font-family: 'HelveticaLT';font-size: 14px;margin: 0;padding: 0;}
html, body {height: 100%;}
* { margin: 0;padding: 0;}
img {height: auto;width: 100%;border:none;}
.clear {clear: both;}
.flr {float: right;}
.fll{float:left;}
a{outline:0;border:none;display:inline-block;color:#000;}
a:hover{text-decoration:none;}
input,h1,h2,p{margin:0;padding:0; }
ul,li{margin:0;padding:0;list-style:none;}

@font-face {
    font-family: 'ArcherProBold';
    src: url('../fonts/archerpro-bold.eot');
    src: url('../fonts/archerpro-bold.eot') format('embedded-opentype'),
         url('../fonts/archerpro-bold.woff') format('woff'),
         url('../fonts/archerpro-bold.ttf') format('truetype'),
         url('../fonts/archerpro-bold.svg#ArcherProBold') format('svg');
}

@font-face {
    font-family: 'ArcherProMedium';
    src: url('../fonts/archerpro-medium.eot');
    src: url('../fonts/archerpro-medium.eot') format('embedded-opentype'),
         url('../fonts/archerpro-medium.woff') format('woff'),
         url('../fonts/archerpro-medium.ttf') format('truetype'),
         url('../fonts/archerpro-medium.svg#ArcherProMedium') format('svg');
}
@font-face {
				font-family: 'HelveticaNeue-Bold';
				src: url('../fonts/helveticaneuebold.eot');
				src: url('../fonts/helveticaneuebold.eot?#iefix') format('embedded-opentype'),
						 url('../fonts/helveticaneuebold.woff') format('woff'),
						 url('../fonts/helveticaneuebold.ttf') format('truetype'),
						 url('../fonts/helveticaneuebold.svg#helveticaneuebold') format('svg');
				font-weight: normal;
				font-style: normal;
		}
@font-face {
				font-family: 'HelveticaLT';
				src: url('../fonts/helveticalt.eot');
				src: url('../fonts/helveticalt.eot?#iefix') format('embedded-opentype'),
						 url('../fonts/helveticalt.woff') format('woff'),
						 url('../fonts/helveticalt.ttf') format('truetype'),
						 url('../fonts/helveticalt.svg#helveticalt') format('svg');
				font-weight: normal;
				font-style: normal;
		}	
@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('../fonts/helveticaneuemedium.eot');
    src: url('../fonts/helveticaneuemedium.eot') format('embedded-opentype'),
         url('../fonts/helveticaneuemedium.woff') format('woff'),
         url('../fonts/helveticaneuemedium.ttf') format('truetype'),
         url('../fonts/helveticaneuemedium.svg#HelveticaNeueMedium') format('svg');
}
		

#wrapper{width:100%;min-height:100%;background:url(../images/bg.png) repeat;}
.main_wrapper{width:1200px;min-height:700px;margin:0 auto;}
#header{width:1200px;margin-top:20px;height:152px;}
#header .left_btn,#header .right_btn{width:70px;height:109px;margin-top:18px;}
#header .left_btn a,#header .right_btn a{width:70px;height:109px;display:block;background-image:url(../images/sprite.png);}
#header .left_btn a{background-position:0 0;}
#header .right_btn a{background-position:0 -125px;}
.head_content{float:left;width:1060px;}
.code_confirm{width:320px;margin:45px 0 0 30px;}
.code_confirm input[type="text"]{border:4px solid #192984;width:240px;height:42px;float:left;font-family: 'ArcherProBold';font-size:13px;text-transform:uppercase;padding-left:10px;}
.code_confirm input[type="submit"]{float:right;width:50px;height:50px;background:url(../images/sprite.png) 0 -445px;border:none;cursor:pointer;}
.assets_main{width:300px;height:140px;margin-left:44px;}
.assets_main .waitin,.assets_main .assets{width:138px;background:url(../images/sprite.png) 0 -261px;height:138px;float:left;text-align:center;}
.assets_main .waitin{margin-right:20px;}
.assets_main p{font-family: 'HelveticaNeueMedium';line-height:30px;font-size:21px;color:#fff;padding-top:30px;}
.pay_points{width:265px;height:50px;margin-left:45px;margin-top:45px;}
.pay_points a{padding:12px 22px;background:#192984;color:#fff;text-decoration:none;font-size:24px;}

#slide2,#slide3,#slide4{width:1036px;height:144px;border:4px #ff6700 solid;margin:0 auto;background:white;}
#slide2 h1,#slide3 h1,#slide4 h1{text-align:center;padding:8px 0;font-size:23px;letter-spacing:3px;font-family:'ArcherProBold';}
#slide2 .email{width:385px;margin:0 0 0 352px;}
#slide2 .email input[type="text"]{width:310px;height:27px;border:2px solid #231f20;font-family:'ArcherProBold';font-size:20px;padding-left:5px;}
#slide2 .email .email_submit{background:url(../images/sprite.png) 0 -516px no-repeat;width:46px;height:46px;margin-left:12px;border:none;cursor:pointer;}
#slide2 .plus_btn a{background:url(../images/sprite.png) 0 -582px no-repeat;width:47px;height:48px;margin-right:20px;display:block;}

#slide3 .input_box{width:660px;margin-left:200px;}
#slide3 .input_box .input_fld{width:330px;margin-bottom:10px;}
#slide3 .input_box .input_fld input[type="text"]{width:310px;height:27px;border:2px solid #231f20;font-family:'ArcherProBold';font-size:20px;padding-left:5px;}
#slide3 .email_submit{background:url(../images/sprite.png) 0 -516px no-repeat;width:46px;height:46px;margin:7px 10px 0 60px;border:none;cursor:pointer;float:left;}
#slide3 .close_btn a{background:url(../images/sprite.png) 0 -640px no-repeat;width:47px;height:48px;display:block;margin-top:4px;}

#slide4 .content_box1{width:278px;margin-left:26px;}
#slide4 .text_row{width:100%;float:left;margin-bottom:16px;}
#slide4 label{font-family:'ArcherProBold';font-size:19px;line-height:14px;}
#slide4 span{font-family: 'ArcherProMedium';font-size:19px;line-height:14px;}
#slide4 .content_box2{width:322px;margin-left:50px;}
#slide4 .content_box2 .prix{width:auto;border:#231f20 2px solid;font-family:'ArcherProBold';font-size:19px;line-height:14px;padding:5px 8px;}
#slide4 .content_box2 .prix span{font-family:'ArcherProMedium';font-size:19px;line-height:14px;}
#slide4 .content_box2 .points{width:auto;font-family:'ArcherProBold';font-size:25px;line-height:14px;padding:7px 12px;margin-left:12px;}
#slide4 .payer_btn a{background:#1a2a84;border-radius:2px;width:auto;line-height:20px;margin-right:5px;font-family:'ArcherProBold';font-size:21px;text-align:center;padding:5px 12px;margin-top:6px;color:#fff;text-decoration:none;}
#slide4 .point_btn a{background:#ff6600;border-radius:2px;width:auto;line-height:20px;margin-right:5px;font-family:'ArcherProBold';font-size:21px;text-align:center;padding:5px 15px;margin-top:6px;text-decoration:none;}

#slide4  .close a{width:52px;height:53px;background:url(../images/sprite.png) 0 -702px no-repeat;display:block;margin-top:4px;}

#slide4 .content_box3{width:290px;margin-left:50px;}

#content{width:100%;margin-top:20px;margin-bottom:20px;}

#content .popup1{width:390px;height:528px;margin-right:8px;}
#content .head_row{width:100%;position:relative;}
.left_border{border-color: transparent #ff6600 transparent transparent;
    border-style: solid;
    border-width: 58px 54px 0 0;
    top:0;left:0;position:absolute;}
.popup1 h1.title{font-family:'ArcherProBold';padding-bottom:6px;text-align:center;font-size:40px;color:#000;border-top:4px solid #ff6600;border-right:4px solid #ff6600;float:right;width:334px;background:#fff;}
.popup_content{position:relative;width:82%;background:#fff;height:470px;border-bottom:4px solid #ff6600;border-left:4px solid #ff6600;border-right:4px solid #ff6600;float:left;padding:10px 8% 0;}
.popup_content .pic_up{text-align:right; font-family: 'HelveticaNeueMedium';font-size:14px;}
#table_grid{margin:10px 0;float:left;}
#table_grid th{background:#231f20;color:#fff;}
#table_grid td{text-align:center;padding:2px 0;}

.notes{height:44px;background:#ffebcc;width:96%;float:left;padding:2%;}

.pay_point_btn,.pay_btn,.pay_pas_btn{border:4px solid #0c7716;padding:5px;border-radius:2px;margin-top:12px;}
.pay_point_btn a,.pay_btn a,.pay_pas_btn a{font-family:'ArcherProBold';font-size:20px;text-decoration:none;}
.pay_pas_btn{border:4px solid #ff0000;}

.price{font-family: 'HelveticaNeueMedium';font-size:26px;margin-top:12px;}
.info{margin-top:10px;background:url(../images/info_bg.png) no-repeat;width:305px;height:46px;padding:10px;font-family: 'HelveticaLT';font-size:13px;}
#footer{text-align:center;width:52%;padding:0 25%;margin-top:8px;}
#footer .print{background:url(../images/sprite.png) 0 -816px no-repeat;display:block;width:65px;height:65px;margin-right:30px;}
#footer .submit{background:url(../images/sprite.png) 0 -900px no-repeat;display:block;width:65px;height:65px;}

.close_popup a{width:28px;height:27px;bottom:12px;left:12px;position:absolute;background:url(../images/sprite.png) 0 -775px no-repeat;display:block;}