﻿
@charset "utf-8";
/* CSS Document */
/*MENU*/

#menu {
    background-image: url(../image/bck_menu.jpg);
    background-color: #3A393A;
    background-repeat: repeat-x;
    display: block;
    height: 35px;
    width: auto;
    width: 100%;
}

#menu .inner{
	display: block;	
	margin: 0 auto;
	margin-left:20px;
	clear: both;
	padding: 0;
	height: auto;	
}


#menu .inner ul li {
	font-size: 11px;
	position:relative;
	color: #FDFDFA;
	font-weight: bold;
	display: block;
	text-align: left;
	float: left;
	height: 35px;
	margin: 0px;
	padding: 0px;
	line-height: 35px;
	padding-right: 6px;
	padding-left: 6px;
	border-left:1px solid #383838;
	/*margin-top: 7px;*/
}

#menu .inner ul li a{
	color: #FFFFFF;
}

#menu .inner ul li a:hover{
	color: #1A9F00;
}


#menu .inner ul li:first-child {
    border-left:none;
	padding-left:0px;
    }

#menu .inner ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

/*MENU DROPDOWN*/

#menu .inner ul li ul{
		background:#383838;
		display:none;
		height:auto;
		padding:0px;
		margin:0px;
		border:0px;
		position:absolute;
		width:200px;
		z-index:180;
		top:35px;
		left:0;		}
		
	#menu .inner ul li:hover ul{
		display:block;
		
		}
	#menu .inner ul li li {
		background:url('images/sub_sep.gif') bottom left no-repeat;
		display:block;
		border:0px;
		float:none;
		margin:0px;
		height:25px;
		padding:0px;
		width:200px;
		}
	#menu .inner ul li:hover li a{
		background:none;
		font-size:11px;
		line-height:25px;
		}
	#menu .inner ul li ul a{
		display:block;
		height:25px;
		font-size:12px;
		font-style:normal;
		margin:0px;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
	#menu .inner ul li ul a:hover, .menu li ul li:hover a{
		background:#175375;
		border:0px;
		color:#ffffff;
		text-decoration:none;
		}
	#menu .inner ul li.menutitle{
		background:#000000;
			font-weight:bold;
		}
