﻿.cal_table{font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size: 11px;width: 100%;text-align: left;border-collapse: collapse; border: 1px solid #e8edff;}
.cal_table th{font-size: 12px;font-weight: normal;padding: 6px 7px;color: #eff2ff; text-align:center;background:#3B4E6F;}
.cal_table td{padding: 5px 10px;color: #669;border-top: 1px solid #e8edff; border-right: 1px solid #e8edff; text-align:center;}
/*.cal_table tr:hover td{color: #339;background: #eff2ff;}*/

/*column groups*/
.col_first{	background: #d0dafd; width:150px;}
.col_second{background: #EFF2FF; width:70px;}
.col_today{/*background-color:#ffffcc;*/}
.col_weekend{/*background-color:#FDDBDD;*/}

.room_alter{background: #9BACFF;}/*background: #CED7FF;*/

/*Selected Cell*/
.cell_selected{background-color:#5CAD00; }
.cell_reserved{}/*{background-color:#C20329; color:#fff !important; font-weight:bold; cursor:pointer;}*/
.cell_reserved_staff{background-color:#FFFF64; color:#fff !important; font-weight:bold;cursor:pointer;}
.cell_reserved_spguest{background-color:#C7FF88; color:#fff !important; font-weight:bold;cursor:pointer;}
.cell_reserved_cupart{background-color:#C7FF88; color:#fff !important; font-weight:bold;cursor:pointer;}

.cell_reserved_guest_m{background-color:#3399FF; color:#fff !important; font-weight:bold; cursor:pointer;}
.cell_reserved_guest_f{background-color:#FFAEFF; color:#fff !important; font-weight:bold; cursor:pointer;}
.cell_reserved_guest_c{background-color:#9900CC; color:#fff !important; font-weight:bold; cursor:pointer;}

/*Other Classes*/
.display_date_range{font-size:14px; font-weight:700;}
.ui-selectee { width: 80px; height: 35px; text-align: center; }
.ui-selecting { background: #C7FF88; }
.ui-selected { background: #5CAD00;}

/*.cal_head{background-color:#ccc;}
.cal_head td{font-weight:bold;}          
td.rooms{width:200px; text-align:center;}
td.beds{width:70px; text-align:center;}
.cal_table{border-collapse:collapse;}
.cal_table td, .cal_table th{padding:5px; border:1px solid #515151; text-align:center; }     
.cal_table td.today {background-color:#ffffcc;}
.cal_table td.weekend{background-color:#f8ebec;}
.cal_table td.today_weekend {background-color:#F2C78C;}*/